<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/Ch7.%20%EC%A7%80%EC%97%AD%EC%82%B0%EC%97%85%EC%97%B0%EA%B4%80_3%EC%A7%80%EC%97%AD_3%EB%B6%80%EB%AC%B8%ED%86%B5%ED%95%A9.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [283]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

In [284]:
np.set_printoptions(precision=3,suppress=True) # 결과를 소수 3자리까지만 보여주는 옵션

In [285]:
url_RIO_33 = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Regional_Matrix.csv"  # 33부문의 지역IO 불러오기
RIO_33 = pd.read_csv(url_RIO_33)
RIO_33.head()

url_RIO_emp_33 = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Regional_employment.csv"  # 33부문의 지역고용표 불러오기
emp_33 = pd.read_csv(url_RIO_emp_33)
emp_33.head()

,코드명,서울,인천,경기,대전,세종,충북,충남,광주,전북,전남,대구,경북,부산,울산,경남,강원,제주,전지역
0,농림수산품,2887,12953,119703,5816,4735,83061,140240,8753,121499,192577,13996,208981,17708,9851,144639,90467,49656,1227524
1,광산품,78,401,920,13,93,887,463,27,744,929,9,885,80,439,488,5210,293,11960
2,음식료품,11372,16046,89673,5102,1185,22604,21421,3643,24910,17887,7801,18990,14684,2685,30000,14586,5888,308474
3,섬유 및 가죽제품,134289,6393,74197,1770,152,4652,4758,2332,4101,1549,29466,23736,29323,5081,10397,522,311,333026
4,"목재 및 종이, 인쇄",36720,14447,67315,4033,1473,8942,5519,2181,5360,1795,8871,7419,6278,4785,8656,1080,564,185435

In [286]:
RRIO_33 = RIO_33.to_numpy()
RI_33 = RRIO_33[2:,3:].astype(float)
RI_33.shape

(603, 686)

In [287]:
ep_33 = emp_33.to_numpy()
ep_33 = ep_33[:,1:].astype(float)
ep_33.shape

(34, 18)

## 국산거래표 통합하기

In [288]:
cd_for_R = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/code_regional_io_3regions_3sectors.csv"  # 코드매치 파일
cdr = pd.read_csv(cd_for_R)
cdr.head()

    권역  지역 33부문          부문명  3부문  old_33부문  new_3부문및지역
0  수도권  서울    A        농림수산품  농산품         1           1
1  수도권  서울    B          광산품  공산품         2           2
2  수도권  서울  C01         음식료품  공산품         3           2
3  수도권  서울  C02    섬유 및 가죽제품  공산품         4           2
4  수도권  서울  C03  목재 및 종이, 인쇄  공산품         5           2

In [289]:
cdr_for_itr = cdr[["old_33부문", "new_3부문및지역"]]
cdr_for_itr.head()

   old_33부문  new_3부문및지역
0         1           1
1         2           2
2         3           2
3         4           2
4         5           2

In [290]:
cd_itr = cdr_for_itr.to_numpy()
cd_itr.shape

(594, 2)

In [291]:
row = cd_itr[:,1]
col = cd_itr[:,0]
col

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208,
       209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221,
       222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234,
       235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247,
       248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260,
       261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273,
       274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286,
       287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299,
       300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312,
       313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325,
       326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338,
       339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351,
       352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364,
       365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377,
       378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390,
       391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403,
       404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416,
       417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429,
       430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442,
       443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455,
       456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468,
       469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481,
       482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494,
       495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507,
       508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520,
       521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533,
       534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546,
       547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559,
       560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572,
       573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585,
       586, 587, 588, 589, 590, 591, 592, 593, 594])

In [292]:
Mtx = np.zeros((12,594))       # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
for i, j in zip(row,col):
  Mtx[i-1,j-1] = 1
print(Mtx)
code_9 = Mtx[:9,:561]

[[1. 0. 0. ... 0. 0. 0.]
 [0. 1. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 1. 1. 1.]]

In [293]:
code_9.shape

(9, 561)

In [294]:
nae_row = code_9@RI_33[:561,:561] # 국산중간투입(수요)의 행을 권역별 3부문으로 만들기
nae_row.shape

(9, 561)

In [295]:
dom_tot = nae_row@code_9.T  # 18X18 국산거래표
print(dom_tot.shape)

(9, 9)

In [296]:
dom_tot.sum()  # 국산 총중간투입(수요)합으로 체크

1718868914.9999514

### 수입거래표 통합하기

In [297]:
cd_im_rw = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/code.csv"  # 코드매치 파일
cd_i_rw = pd.read_csv(cd_im_rw)
cd_ir_itr = cd_i_rw.to_numpy().reshape(33,2)
row_i = cd_ir_itr[:,1]
col_i = cd_ir_itr[:,0]
col_i

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33])

In [298]:
Mtx_i = np.zeros((3,33))       # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
for i, j in zip(row_i,col_i):
  Mtx_i[i-1,j-1] = 1
code_3 = Mtx_i
code_3

array([[1., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.],
       [0., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        0.],
       [0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0., 0.,
        1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1., 1.,
        1.]])

In [299]:
imp_row = code_3@RI_33[562:595,0:561]@code_9.T # 3X18 수입거래표
imp_row.sum()

477242497.0

### 최종수요 통합하기

In [300]:
cd_fd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/code_regional_io_fd_new.csv"  # 코드매치 파일
cd_fd1 = pd.read_csv(cd_fd)
cd_fd1.head()
# cd_fd2 = cd_fd1.to_numpy()
# row_fd = cd_fd2[:,1]
# col_fd = cd_fd2[:,0]
# row_fd

   권역  항목코드                          항목  old_33부문  new_3부문및지역
0  서울  9111  민간소비지출\n(가계 및 가계봉사\n비영리단체)         1           1
1  서울  9112                      정부소비지출         2           1
2  서울  9121                  민간고정\n자본형성         3           2
3  서울  9122                  정부고정\n자본형성         4           2
4  서울  9131                        재고증감         5           2

In [301]:
cd_fd2 = cd_fd1[["old_33부문", "new_3부문및지역"]]
cd_fd2.head()

   old_33부문  new_3부문및지역
0         1           1
1         2           1
2         3           2
3         4           2
4         5           2

In [302]:
cd_fd3 = cd_fd2.to_numpy()
cd_fd3.shape

(119, 2)

In [303]:
row_fd = cd_fd3[:,1]
col_fd = cd_fd3[:,0]
col_fd

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119])

In [304]:
Mtx_fd = np.zeros((9,119))       # 7가지 최종수요 항목을 소비, 투자, 수출로 통합
for i, j in zip(row_fd,col_fd):
  Mtx_fd[i-1,j-1] = 1
print(Mtx_fd)
code_fd_9 = Mtx_fd[:9,:119]
print(code_fd_18.shape)

[[1. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]
(9, 119)

In [305]:
Fd_dom = RI_33[:561,562:681].astype(float)
Fd_imp = RI_33[562:595,562:681].astype(float)
print(Fd_dom.sum())
print(Fd_imp.sum())
print(Fd_dom.shape)

2114693165.0
146759866.0
(561, 119)

In [306]:
Fd_dom_3 = (code_9@Fd_dom)@code_fd_9.T
Fd_dom_3.shape

(9, 9)

In [307]:
Fd_imp_3 = (code_3@Fd_imp)@code_fd_18.T
Fd_imp_3.shape

(3, 9)

In [308]:
print(Fd_dom_3.sum())
print(Fd_imp_3.sum())

2114693164.9999998
146759866.0

In [309]:
fd_col_sm= (RI_33[596,562:681]@code_fd_18.T).reshape([1,9]) # 국산 및 수입최종수요 열합
fd_col_sm.sum()

2261453031.0

In [310]:
fd_each = np.concatenate((Fd_dom_3, Fd_imp_3,fd_col_sm, np.zeros((6,9))), axis=0) # 각 지역의 최종수요와 아래에 0 붙이기
print(fd_each)

[[ 1.167e+06  1.027e+05  7.995e+04  1.654e+05  2.002e+04  0.000e+00
   1.420e+05  1.454e+04  0.000e+00]
 [ 2.903e+07  2.085e+07  2.146e+08  7.340e+06  7.726e+06  0.000e+00
   9.195e+06  6.175e+06  0.000e+00]
 [ 3.874e+08  1.641e+08  6.726e+07  3.095e+07  1.108e+07  0.000e+00
   3.299e+07  1.256e+07  0.000e+00]
 [ 3.334e+06  7.310e+04  0.000e+00  2.182e+06  7.134e+05  3.375e+05
   1.128e+06  6.231e+04  0.000e+00]
 [ 1.491e+07  8.830e+06  0.000e+00  1.529e+07  4.848e+06  1.676e+08
   6.780e+06  3.720e+06  0.000e+00]
 [ 1.489e+07  3.562e+06  0.000e+00  1.459e+08  7.102e+07  1.236e+07
   5.371e+06  5.790e+05  0.000e+00]
 [ 2.558e+06  5.288e+04  0.000e+00  8.104e+05  4.371e+04  0.000e+00
   2.663e+06  5.903e+05  2.697e+05]
 [ 1.992e+07  1.454e+07  0.000e+00  7.388e+06  6.960e+06  0.000e+00
   1.928e+07  1.120e+07  2.264e+08]
 [ 1.098e+07  2.334e+06  0.000e+00  4.905e+06  1.221e+06  0.000e+00
   1.938e+08  7.650e+07  2.590e+07]
 [ 1.457e+06  9.226e+03  0.000e+00  6.396e+05 -9.832e+03  0.000e+00
   7.629e+05 -1.711e+04  0.000e+00]
 [ 2.704e+07  2.885e+07  1.771e+06  1.140e+07  1.301e+07  2.481e+05
   1.470e+07  1.154e+07  1.068e+05]
 [ 1.460e+07  5.010e+06  0.000e+00  7.014e+06  8.923e+05  0.000e+00
   6.885e+06  8.505e+05  0.000e+00]
 [ 5.272e+08  2.483e+08  2.837e+08  2.340e+08  1.175e+08  1.805e+08
   2.937e+08  1.238e+08  2.527e+08]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]
 [ 0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00  0.000e+00
   0.000e+00  0.000e+00  0.000e+00]]

In [311]:
fd_tot_sm = fd_each.sum(axis=1).reshape([19,1])

##부가가치 통합하기

In [312]:
vact = RI_33[596:,:561]  # 부가가치 및 산출액
vact

array([[  28585.,    3634., 1695333., ...,  612973.,  310224.,   46129.],
       [  11062.,    1168.,  286576., ...,  277510.,  186723.,       0.],
       [  41299.,    1902.,   84735., ...,  169252.,   57232.,       0.],
       ...,
       [   1913.,      41.,  103553., ...,  135051.,   27509.,       0.],
       [  59846.,    3768.,  594194., ...,  736637.,  296313.,       0.],
       [  88431.,    7402., 2289527., ..., 1349610.,  606537.,   46129.]])

In [313]:
vact_3 = vact@code_9.T  # 3부문 부가가치
vact_3.sum()

9304574828.0

In [314]:
dom_tot.shape

(9, 9)

In [315]:
imp_row.shape

(3, 9)

In [316]:
nae_tot = np.concatenate((dom_tot, imp_row, vact_3)) # 중간투입(수요)와 부가가치 및 산출액 합치기
nae_tot.shape

(19, 9)

In [317]:
nae_tot.shape

(19, 9)

In [318]:
tot_row_sm= nae_tot.sum(axis=1).reshape([19,1])
tot_row_sm.sum()

11500686239.99995

In [319]:
tot_dm = tot_row_sm + fd_tot_sm  # 총수요 = 중간수요계+최종수요계

In [320]:
Tot_rg = np.concatenate((nae_tot,tot_row_sm,fd_each, fd_tot_sm,tot_dm), axis=1)

In [321]:
Mt = (Tot_rg/1000000).round(0)
Mt.shape

(19, 21)

In [322]:
# total_rg = pd.DataFrame(Mt, columns = ['수도권_농림수산품', '수도권_공산품', '수도권_서비스', '서부권권_농림수산품', '충청권_공산품', '충청권_서비스',
#                                            '서남권_농림수산품', '서남권_공산품', '서남권_서비스', '동남권_농림수산품', '동남권_공산품', '동남권_서비스',
#                                            '강원권_농림수산품', '강원권_공산품', '강원권_서비스', '제주권_농림수산품', '제주권_공산품', '제주권_서비스',
#                                            '중간수요계',
#                                            '수도권_소비', '수도권_투자', '수도권_수출', '충청권_소비', '충청권_투자', '충청권_수출',
#                                            '서남권_소비', '서남권_투자', '서남권_수출', '동남권_소비', '동남권_투자', '동남권_수출',
#                                            '강원권_소비', '강원권_투자', '강원권_수출', '제주권_소비', '제주권_투자', '제주권_수출',
#                                            '최종수요계', '총수요계'],
#                                     index=['수도권_농림수산품', '수도권_공산품', '수도권_서비스', '충청권_농림수산품', '충청권_공산품', '충청권_서비스',
#                                            '서남권_농림수산품', '서남권_공산품', '서남권_서비스', '동남권_농림수산품', '동남권_공산품', '동남권_서비스',
#                                            '강원권_농림수산품', '강원권공산품', '강원권_서비스', '제주권_농림수산품', '제주권_공산품', '제주권_서비스',
#                                            '수입_농림수산품', '수입_공산품', '수입_서비스','중간투입계',
#                                            '피용자보수', '영업잉여', '고정자본소모', '생산세', '부가가치계', '총투입액'])

In [323]:
Mt_df = pd.DataFrame(Mt, columns = [['수도권', '수도권', '수도권', '서부권', '서부권', '서부권','동부권', '동부권', '동부권','지역중간수요계',
                                     '수도권', '수도권', '수도권', '서부권', '서부권', '서부권','동부권', '동부권', '동부권','지역최종수요계','지역총수요계'],

                                      ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스', '제품중간수요계',
                                       '소비', '투자', '수출', '소비', '투자', '수출', '소비', '투자', '수출','제품최종수요계','제품총수요계']],

                                    index=[['수도권', '수도권', '수도권', '서부권', '서부권', '서부권','동부권', '동부권', '동부권', '수입','수입', '수입', '중간투입계',
                                            '피보', '영잉', '고소', '생산세f', '부가가치계f', '총투입액f'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품',  '서비스','농산품', '공산품','서비스','중간수요계',
                                            '피용자보수', '영업잉여', '고정자본소모', '생산세', '부가가치계', '총투입액']])
Mt_df.index.names=['지역', '상품']

In [324]:
Mt_df.to_csv('지역산업연관표_3부문_3지역.csv', encoding="utf-8-sig")

In [325]:
Mt_df.index.names=['지역', '상품']
# df_pivot = df_pivot.pivot(index='date', columns='country', values='Population')
# # df_pivot.head
Mt_df

               수도권                  서부권                 동부권                \
               농산품    공산품     서비스   농산품    공산품    서비스   농산품    공산품    서비스
지역     상품
수도권    농산품     0.0    3.0     1.0   0.0    1.0    0.0   0.0    0.0    0.0
       공산품     2.0  112.0    71.0   1.0   37.0   13.0   1.0   36.0   14.0
       서비스     1.0   79.0   302.0   1.0   28.0   28.0   1.0   27.0   31.0
서부권    농산품     0.0    2.0     3.0   1.0   12.0    2.0   0.0    1.0    1.0
       공산품     0.0   46.0    40.0   6.0   88.0   31.0   1.0   41.0   15.0
       서비스     0.0    3.0    17.0   2.0   41.0   56.0   0.0    3.0    3.0
동부권    농산품     0.0    1.0     2.0   0.0    2.0    0.0   1.0    7.0    2.0
       공산품     0.0   43.0    38.0   1.0   36.0   13.0   4.0  158.0   40.0
       서비스     0.0    4.0    15.0   0.0    3.0    4.0   2.0   59.0   76.0
수입     농산품     0.0    3.0     0.0   0.0    3.0    0.0   0.0    2.0    0.0
       공산품     0.0  100.0    41.0   1.0   98.0   17.0   0.0  130.0   18.0
       서비스     0.0    6.0    25.0   0.0    4.0    8.0   0.0    6.0   13.0
중간투입계  중간수요계   4.0  403.0   556.0  14.0  354.0  172.0  10.0  470.0  214.0
피보     피용자보수   0.0   71.0   324.0   3.0   43.0  109.0   2.0   63.0  135.0
영잉     영업잉여    3.0   52.0   170.0  11.0   43.0   45.0   9.0   45.0   64.0
고소     고정자본소모  1.0   45.0   104.0   2.0   32.0   38.0   2.0   37.0   48.0
생산세f   생산세     0.0   11.0    51.0   0.0   19.0   14.0   0.0   23.0   18.0
부가가치계f 부가가치계   4.0  179.0   648.0  16.0  137.0  206.0  13.0  169.0  265.0
총투입액f  총투입액    8.0  582.0  1204.0  30.0  491.0  378.0  23.0  639.0  479.0

              지역중간수요계  ...    수도권           서부권                  동부권         \
              제품중간수요계  ...     투자     수출     소비     투자     수출     소비     투자
지역     상품              ...
수도권    농산품        6.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
       공산품      287.0  ...   21.0  215.0    7.0    8.0    0.0    9.0    6.0
       서비스      497.0  ...  164.0   67.0   31.0   11.0    0.0   33.0   13.0
서부권    농산품       22.0  ...    0.0    0.0    2.0    1.0    0.0    1.0    0.0
       공산품      269.0  ...    9.0    0.0   15.0    5.0  168.0    7.0    4.0
       서비스      124.0  ...    4.0    0.0  146.0   71.0   12.0    5.0    1.0
동부권    농산품       16.0  ...    0.0    0.0    1.0    0.0    0.0    3.0    1.0
       공산품      333.0  ...   15.0    0.0    7.0    7.0    0.0   19.0   11.0
       서비스      164.0  ...    2.0    0.0    5.0    1.0    0.0  194.0   77.0
수입     농산품        9.0  ...    0.0    0.0    1.0   -0.0    0.0    1.0   -0.0
       공산품      405.0  ...   29.0    2.0   11.0   13.0    0.0   15.0   12.0
       서비스       63.0  ...    5.0    0.0    7.0    1.0    0.0    7.0    1.0
중간투입계  중간수요계   2196.0  ...  248.0  284.0  234.0  118.0  181.0  294.0  124.0
피보     피용자보수    750.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
영잉     영업잉여     441.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
고소     고정자본소모   310.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
생산세f   생산세      136.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
부가가치계f 부가가치계   1637.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0
총투입액f  총투입액    3834.0  ...    0.0    0.0    0.0    0.0    0.0    0.0    0.0

                     지역최종수요계  지역총수요계
                  수출 제품최종수요계  제품총수요계
지역     상품
수도권    농산품       0.0     2.0     8.0
       공산품       0.0   295.0   582.0
       서비스       0.0   706.0  1204.0
서부권    농산품       0.0     8.0    30.0
       공산품       0.0   222.0   491.0
       서비스       0.0   254.0   378.0
동부권    농산품       0.0     7.0    23.0
       공산품     226.0   306.0   639.0
       서비스      26.0   316.0   479.0
수입     농산품       0.0     3.0    12.0
       공산품       0.0   109.0   514.0
       서비스       0.0    35.0    98.0
중간투입계  중간수요계   253.0  2261.0  4458.0
피보     피용자보수     0.0     0.0   750.0
영잉     영업잉여      0.0     0.0   441.0
고소     고정자본소모    0.0     0.0   310.0
생산세f   생산세       0.0     0.0   136.0
부가가치계f 부가가치계     0.0     0.0  1637.0
총투입액f  총투입액      0.0     0.0  3834.0

[19 rows x 21 columns]

### 취업자수 통합하기

In [326]:
emp_3 = code_3@ep_33[:-1,]
emp_3.shape

(3, 18)