<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/Ch8_1.%20ICIO_Indicators_1027.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

In [ ]:
np.set_printoptions(precision=3,suppress=True) # 결과를 소수 3자리까지만 보여주는 옵션

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
# icio =pd.read_csv('/content/drive/MyDrive/ICIO/ICIO2021_2018.csv')

In [ ]:
url_icio = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/4cons_3secs_1fd_final.csv"  # 4국 9부문 2020년 ICIO 불러오기
icio = pd.read_csv(url_icio)
icio.head()

,단위,억달러,한국,한국.1,한국.2,중국,중국.1,중국.2,미국,미국.1,미국.2,ROW,ROW.1,ROW.2,한국.3,중국.3,미국.3,ROW.3,총계
0,국가,산업,농산품,공산품,서비스,농산품,공산품,서비스,농산품,공산품,서비스,농산품,공산품,서비스,최종수요,최종수요,최종수요,최종수요,총수요
1,한국,농산품,25,282,102,0,0,0,0,2,1,1,2,1,152,1,1,2,572
2,한국,공산품,110,5596,2593,50,1246,295,4,193,136,61,1301,602,2458,391,355,1294,16685
3,한국,서비스,85,2633,5421,11,139,99,0,17,42,8,144,270,11611,128,82,287,20977
4,중국,농산품,0,4,1,4389,9691,1500,3,9,3,12,50,13,3,5509,5,67,21259

In [ ]:
icio_1 = icio.to_numpy()
icio_2=icio_1[1:,2:].astype(float)
icio_2

array([[     25.,     282.,     102.,       0.,       0.,       0.,
              0.,       2.,       1.,       1.,       2.,       1.,
            152.,       1.,       1.,       2.,     572.],
       [    110.,    5596.,    2593.,      50.,    1246.,     295.,
              4.,     193.,     136.,      61.,    1301.,     602.,
           2458.,     391.,     355.,    1294.,   16685.],
       [     85.,    2633.,    5421.,      11.,     139.,      99.,
              0.,      17.,      42.,       8.,     144.,     270.,
          11611.,     128.,      82.,     287.,   20977.],
       [      0.,       4.,       1.,    4389.,    9691.,    1500.,
              3.,       9.,       3.,      12.,      50.,      13.,
              3.,    5509.,       5.,      67.,   21259.],
       [      7.,     532.,     183.,    4571.,   80946.,   34018.,
             18.,     881.,     948.,     181.,    4780.,    2978.,
            233.,   32206.,    2370.,    6996.,  171848.],
       [      1.,      60.,      84.,    2400.,   26110.,   34909.,
              2.,      86.,     183.,      27.,     553.,    1042.,
            122.,   89619.,     398.,    1455.,  157051.],
       [      1.,      13.,       4.,      20.,      47.,       8.,
            830.,    2088.,     200.,      43.,     164.,      29.,
              7.,      27.,    1022.,     163.,    4666.],
       [      4.,     217.,      93.,      30.,     574.,     168.,
            677.,   16658.,   14548.,     148.,    3356.,    1740.,
            115.,     327.,   25747.,    3968.,   68370.],
       [      3.,      95.,     118.,      27.,     242.,     234.,
           1003.,   14951.,   91821.,     107.,    1748.,    3755.,
            169.,     610.,  166837.,    4208.,  285928.],
       [      2.,      25.,      10.,     139.,     312.,      42.,
             71.,     233.,      77.,    5052.,   12511.,    3110.,
             16.,     175.,     136.,   16374.,   38285.],
       [     18.,    1965.,     637.,     269.,    8032.,    1982.,
             91.,    5096.,    2851.,    4449.,   91300.,   53282.,
            545.,    2151.,    7265.,   94695.,  274628.],
       [      7.,     312.,     392.,     136.,    1471.,    1181.,
             41.,     976.,    2436.,    5001.,   57042.,  174441.,
            373.,    2800.,    4089.,  342047.,  592745.],
       [      8.,     336.,     475.,       0.,       0.,       0.,
              0.,       0.,       0.,       0.,       0.,       0.,
            651.,       3.,       1.,       3.,    1477.],
       [      0.,       0.,       0.,    -182.,    4288.,    2865.,
              0.,       0.,       0.,       0.,       0.,       0.,
             -1.,    4052.,      -1.,      -4.,   11017.],
       [      0.,       0.,       0.,       0.,       0.,       0.,
             27.,     939.,    2194.,       0.,       0.,       0.,
              5.,      19.,    4229.,      68.,    7481.],
       [      0.,       0.,       0.,       0.,       0.,       0.,
              0.,       0.,       0.,     547.,    7332.,   11773.,
              4.,      57.,      56.,   21711.,   41480.],
       [    301.,    4615.,   10864.,    9399.,   38750.,   79750.,
           1899.,   26241.,  170488.,   22648.,   94345.,  339709.,
              0.,       0.,       0.,       0.,  799009.],
       [    572.,   16685.,   20977.,   21259.,  171848.,  157051.,
           4666.,   68370.,  285928.,   38285.,  274628.,  592745.,
              0.,       0.,       0.,       0., 1653014.]])

### 한국 1, 중국2, 미국3, ROW4

#### 산업구조
##### 국가별 산업 비중

###### 가. 산업구조

In [ ]:
Mt = icio_2
va = Mt[-2,:12].reshape([1,12]) # 산업별 부가가치
ct = Mt[-1,:12].reshape([1,12])  # 산업별 산출액
va

array([[   301.,   4615.,  10864.,   9399.,  38750.,  79750.,   1899.,
         26241., 170488.,  22648.,  94345., 339709.]])

In [ ]:
# 산출액기준

KOR_ct = (ct[:,:3]/(ct[-1,:3].sum())*100)  # 한국 산업별 비중
CHN_ct = (ct[:,3:6]/(ct[-1,3:6].sum())*100) # 중국 산업별 비중
USA_ct = (ct[:,6:9]/(ct[-1,6:9].sum())*100)  # 미국 산업별 비중
ROW_ct = (ct[:,9:12]/(ct[-1,9:12].sum())*100) # ROW 산업별 비중

WORLD_ct_sm = ct[:,:12].sum()
WORLD_agr_ct = ct[:,0]+ct[:,3]+ct[:,6]+ct[:,9]
WORLD_manu_ct = ct[:,1]+ct[:,4]+ct[:,7]+ct[:,10]
WORLD_ser_ct = ct[:,2]+ct[:,5]+ct[:,8]+ct[:,11]

WORLD_ct = np.hstack((WORLD_agr_ct,WORLD_manu_ct,WORLD_ser_ct))/WORLD_ct_sm*100
WORLD_ct
IND_CT_CONS = np.vstack((KOR_ct,CHN_ct,USA_ct,ROW_ct,WORLD_ct))
IND_CT_CONS

array([[ 1.496, 43.639, 54.865],
       [ 6.071, 49.077, 44.851],
       [ 1.3  , 19.046, 79.654],
       [ 4.227, 30.324, 65.449],
       [ 3.919, 32.155, 63.926]])

In [ ]:
# 부가가치기준

KOR_va = (va[:,:3]/(va[-1,:3].sum())*100)  # 한국 산업별 비중
CHN_va = (va[:,3:6]/(va[-1,3:6].sum())*100) # 중국 산업별 비중
USA_va = (va[:,6:9]/(va[-1,6:9].sum())*100)  # 미국 산업별 비중
ROW_va = (va[:,9:12]/(va[-1,9:12].sum())*100) # ROW 산업별 비중

WORLD_va_sm = va[:,:12].sum()
WORLD_agr_va = va[:,0]+va[:,3]+va[:,6]+va[:,9]
WORLD_manu_va = va[:,1]+va[:,4]+va[:,7]+va[:,10]
WORLD_ser_va = va[:,2]+va[:,5]+va[:,8]+va[:,11]

WORLD_va = np.hstack((WORLD_agr_va,WORLD_manu_va,WORLD_ser_va))/WORLD_va_sm*100

IND_VA_CONS = np.vstack((KOR_va,CHN_va,USA_va,ROW_va,WORLD_va))
IND_VA_CONS

array([[ 1.907, 29.246, 68.847],
       [ 7.349, 30.297, 62.354],
       [ 0.956, 13.211, 85.833],
       [ 4.959, 20.658, 74.383],
       [ 4.286, 20.519, 75.195]])

In [ ]:
WGT_by_CONS = np.hstack((IND_CT_CONS,IND_VA_CONS))
WGT_by_CONS

array([[ 1.496, 43.639, 54.865,  1.907, 29.246, 68.847],
       [ 6.071, 49.077, 44.851,  7.349, 30.297, 62.354],
       [ 1.3  , 19.046, 79.654,  0.956, 13.211, 85.833],
       [ 4.227, 30.324, 65.449,  4.959, 20.658, 74.383],
       [ 3.919, 32.155, 63.926,  4.286, 20.519, 75.195]])

In [ ]:
CONS_wgt_df = pd.DataFrame(WGT_by_CONS.round(1), columns = [['산출액기준','산출액기준','산출액기준','부가가치기준','부가가치기준','부가가치기준'],
                                                         ['농업', '제조업', '서비스업','농업', '제조업', '서비스업']],
                     index=['한국', '중국', '미국', 'ROW', '전세계']) # 변수명 붙여서 pandas로 내보내기
CONS_wgt_df

    산출액기준             부가가치기준
       농업   제조업  서비스업     농업   제조업  서비스업
한국    1.5  43.6  54.9    1.9  29.2  68.8
중국    6.1  49.1  44.9    7.3  30.3  62.4
미국    1.3  19.0  79.7    1.0  13.2  85.8
ROW   4.2  30.3  65.4    5.0  20.7  74.4
전세계   3.9  32.2  63.9    4.3  20.5  75.2

In [ ]:
CONS_wgt_df.to_csv('국가별 산업 비중.csv', encoding='utf_8-sig')

#### 산업별국가비중
###### 산출액기준

In [ ]:
agr_ct_cons = np.hstack((ct[:,0],ct[:,3],ct[:,6],ct[:,9]))
manu_ct_cons = np.hstack((ct[:,1],ct[:,4],ct[:,7],ct[:,10]))
ser_ct_cons = np.hstack((ct[:,2],ct[:,5],ct[:,8],ct[:,11]))

all_ct_cons = np.hstack((ct[-1,:3].sum(),ct[-1,3:6].sum(),ct[-1,6:9].sum(),ct[-1,9:12].sum()))
all_ct_cons

array([ 38234., 350158., 358964., 905658.])

In [ ]:
agr_ct_cons_wgt = (agr_ct_cons/agr_ct_cons.sum())*100
manu_ct_cons_wgt = (manu_ct_cons/manu_ct_cons.sum())*100
ser_ct_cons_wgt = (ser_ct_cons/ser_ct_cons.sum())*100
all_ct_cons_wgt = (all_ct_cons/all_ct_cons.sum())*100

cons_ct_ind = np.vstack((agr_ct_cons_wgt,manu_ct_cons_wgt,ser_ct_cons_wgt,all_ct_cons_wgt,))
cons_ct_ind

array([[ 0.883, 32.816,  7.203, 59.098],
       [ 3.139, 32.331, 12.863, 51.667],
       [ 1.985, 14.862, 27.059, 56.094],
       [ 2.313, 21.183, 21.716, 54.788]])

###### 부가가치기준

In [ ]:
agr_va_cons = np.hstack((va[:,0],va[:,3],va[:,6],va[:,9]))
manu_va_cons = np.hstack((va[:,1],va[:,4],va[:,7],va[:,10]))
ser_va_cons = np.hstack((va[:,2],va[:,5],va[:,8],va[:,11]))

all_va_cons = np.hstack((va[-1,:3].sum(),va[-1,3:6].sum(),va[-1,6:9].sum(),va[-1,9:12].sum()))
all_va_cons

array([ 15780., 127899., 198628., 456702.])

In [ ]:
agr_va_cons_wgt = (agr_va_cons/agr_va_cons.sum())*100
manu_va_cons_wgt = (manu_va_cons/manu_va_cons.sum())*100
ser_va_cons_wgt = (ser_va_cons/ser_va_cons.sum())*100
all_va_cons_wgt = (all_va_cons/all_va_cons.sum())*100

cons_va_ind = np.vstack((agr_va_cons_wgt,manu_va_cons_wgt,ser_va_cons_wgt,all_va_cons_wgt,))
cons_va_ind

array([[ 0.879, 27.445,  5.545, 66.131],
       [ 2.815, 23.635, 16.005, 57.545],
       [ 1.808, 13.274, 28.376, 56.542],
       [ 1.975, 16.007, 24.859, 57.159]])

In [ ]:
WGT_by_INDS = np.hstack((cons_ct_ind,cons_va_ind))
WGT_by_INDS

array([[ 0.883, 32.816,  7.203, 59.098,  0.879, 27.445,  5.545, 66.131],
       [ 3.139, 32.331, 12.863, 51.667,  2.815, 23.635, 16.005, 57.545],
       [ 1.985, 14.862, 27.059, 56.094,  1.808, 13.274, 28.376, 56.542],
       [ 2.313, 21.183, 21.716, 54.788,  1.975, 16.007, 24.859, 57.159]])

In [ ]:
INDS_wgt_df = pd.DataFrame(WGT_by_INDS.round(1), columns = [['산출액기준','산출액기준','산출액기준','산출액기준','부가가치기준','부가가치기준','부가가치기준','부가가치기준'],
                                                         ['한국', '중국', '미국','ROW', '한국', '중국', '미국','ROW']],
                     index=['농업', '제조업', '서비스업', '전부문']) # 변수명 붙여서 pandas로 내보내기
INDS_wgt_df

     산출액기준                   부가가치기준
        한국    중국    미국   ROW     한국    중국    미국   ROW
농업     0.9  32.8   7.2  59.1    0.9  27.4   5.5  66.1
제조업    3.1  32.3  12.9  51.7    2.8  23.6  16.0  57.5
서비스업   2.0  14.9  27.1  56.1    1.8  13.3  28.4  56.5
전부문    2.3  21.2  21.7  54.8    2.0  16.0  24.9  57.2

In [ ]:
INDS_wgt_df.to_csv('산업별 국가 비중.csv', encoding='utf_8-sig')

## 국가별 투입배분구조 및 수출입은 각 산업별로 구할 필요가 없으므로 각 국의 3개 산업을 통합하여 표를 재구성

In [ ]:
cd_for_nae = np.array([[1,1,1,0,0,0,0,0,0,0,0,0],  # 행렬 곱을 이용한 부문 통합
       [0,0,0,1,1,1,0,0,0,0,0,0],
       [0,0,0,0,0,0,1,1,1,0,0,0],
       [0,0,0,0,0,0,0,0,0,1,1,1]])

In [ ]:
A_nae_rw = cd_for_nae@Mt[:12,:12]
A_nae_rw

array([[   220.,   8511.,   8116.,     61.,   1385.,    394.,      4.,
           212.,    179.,     70.,   1447.,    873.],
       [     8.,    596.,    268.,  11360., 116747.,  70427.,     23.,
           976.,   1134.,    220.,   5383.,   4033.],
       [     8.,    325.,    215.,     77.,    863.,    410.,   2510.,
         33697., 106569.,    298.,   5268.,   5524.],
       [    27.,   2302.,   1039.,    544.,   9815.,   3205.,    203.,
          6305.,   5364.,  14502., 160853., 230833.]])

In [ ]:
A_nae_col = A_nae_rw@cd_for_nae.T
A_nae_col

array([[ 16847.,   1840.,    395.,   2390.],
       [   872., 198534.,   2133.,   9636.],
       [   548.,   1350., 142776.,  11090.],
       [  3368.,  13564.,  11872., 406188.]])

In [ ]:
va_rw = Mt[12:18,0:12]@cd_for_nae.T # 순생산물세와 부가가치 통합
va_rw

array([[   819.,      0.,      0.,      0.],
       [     0.,   6971.,      0.,      0.],
       [     0.,      0.,   3160.,      0.],
       [     0.,      0.,      0.,  19652.],
       [ 15780., 127899., 198628., 456702.],
       [ 38234., 350158., 358964., 905658.]])

In [ ]:
fd_rw = cd_for_nae@Mt[:12,12:16]
fd_rw

array([[ 14221.,    520.,    438.,   1583.],
       [   358., 127334.,   2773.,   8518.],
       [   291.,    964., 193606.,   8339.],
       [   934.,   5126.,  11490., 453116.]])

In [ ]:
fd_txva=Mt[12:,12:16]
fd_txva

array([[  651.,     3.,     1.,     3.],
       [   -1.,  4052.,    -1.,    -4.],
       [    5.,    19.,  4229.,    68.],
       [    4.,    57.,    56., 21711.],
       [    0.,     0.,     0.,     0.],
       [    0.,     0.,     0.,     0.]])

In [ ]:
nae_vact = np.vstack((A_nae_col,va_rw))
fd_all = np.vstack((fd_rw,fd_txva))

In [ ]:
Mt_1sec = np.hstack((nae_vact,fd_all)) # 1산업 ICIO
Mt_1sec.shape

(10, 8)

In [ ]:
icio_1sec_df = pd.DataFrame(Mt_1sec, columns = ['한국', '중국', '미국','ROW', '한국_fd', '중국_fd', '미국_fd','ROW_fd'],
                     index=['한국', '중국', '미국','ROW','한국_tax', '중국_tax', '미국_tax','ROW_tax','부가가치','총투입액']) # 변수명 붙여서 pandas로 내보내기

icio_1sec_df

,한국,중국,미국,ROW,한국_fd,중국_fd,미국_fd,ROW_fd
한국,16847.0,1840.0,395.0,2390.0,14221.0,520.0,438.0,1583.0
중국,872.0,198534.0,2133.0,9636.0,358.0,127334.0,2773.0,8518.0
미국,548.0,1350.0,142776.0,11090.0,291.0,964.0,193606.0,8339.0
ROW,3368.0,13564.0,11872.0,406188.0,934.0,5126.0,11490.0,453116.0
한국_tax,819.0,0.0,0.0,0.0,651.0,3.0,1.0,3.0
중국_tax,0.0,6971.0,0.0,0.0,-1.0,4052.0,-1.0,-4.0
미국_tax,0.0,0.0,3160.0,0.0,5.0,19.0,4229.0,68.0
ROW_tax,0.0,0.0,0.0,19652.0,4.0,57.0,56.0,21711.0
부가가치,15780.0,127899.0,198628.0,456702.0,0.0,0.0,0.0,0.0
총투입액,38234.0,350158.0,358964.0,905658.0,0.0,0.0,0.0,0.0

In [ ]:
icio_1sec_df.to_csv('1국가_1산업.csv', encoding='utf_8-sig')

#### 국가별 투입구조

In [ ]:
one_diag = np.identity(n=4)
zero_diag = np.where(one_diag == 1, 0, 1)
zero_diag

array([[0, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 1],
       [1, 1, 1, 0]])

In [ ]:
dom=Mt_1sec[:4,:4]*one_diag
dom_sm=dom.sum(axis=1).reshape([4,1])
dom_sm

array([[ 16847.],
       [198534.],
       [142776.],
       [406188.]])

In [ ]:
imp=Mt_1sec[:4,:4]*zero_diag

imp_kor = np.delete(imp[:,0], np.where(imp[:,0] == 0))
imp_chn = np.delete(imp[:,1], np.where(imp[:,1] == 0))
imp_usa = np.delete(imp[:,2], np.where(imp[:,2] == 0))
imp_row = np.delete(imp[:,3], np.where(imp[:,3] == 0))

imp_4cons = np.vstack((imp_kor,imp_chn,imp_usa,imp_row))
imp_4cons

array([[  872.,   548.,  3368.],
       [ 1840.,  1350., 13564.],
       [  395.,  2133., 11872.],
       [ 2390.,  9636., 11090.]])

In [ ]:
imp

array([[    0.,  1840.,   395.,  2390.],
       [  872.,     0.,  2133.,  9636.],
       [  548.,  1350.,     0., 11090.],
       [ 3368., 13564., 11872.,     0.]])

In [ ]:
imp_kor_sm = imp_kor.sum() # 수입중간투입합
imp_chn_sm = imp_chn.sum()
imp_usa_sm = imp_usa.sum()
imp_row_sm = imp_row.sum()
imp_tot = np.vstack((imp_kor_sm,imp_chn_sm,imp_usa_sm,imp_row_sm))
imp_tot

array([[ 4788.],
       [16754.],
       [14400.],
       [23116.]])

In [ ]:
tip_kor = dom_sm[0]+imp_kor_sm #총중간투입액
tip_chn = dom_sm[1]+imp_chn_sm
tip_usa = dom_sm[2]+imp_usa_sm
tip_row = dom_sm[3]+imp_row_sm
tip_tot = np.vstack((tip_kor,tip_chn,tip_usa,tip_row))
tip_tot.shape

(4, 1)

In [ ]:
tx = Mt_1sec[4:8,0:4]
tx_sm = tx.sum(axis=1).reshape([4,1])
tx_sm

array([[  819.],
       [ 6971.],
       [ 3160.],
       [19652.]])

In [ ]:
va_1sec = Mt_1sec[8,0:4].reshape([4,1])
va_1sec

array([[ 15780.],
       [127899.],
       [198628.],
       [456702.]])

In [ ]:
tot_input = tip_tot+tx_sm.reshape([4,1])+va_1sec.reshape([4,1])
tot_input

array([[ 38234.],
       [350158.],
       [358964.],
       [905658.]])

In [ ]:
input_mat = np.hstack((dom_sm,imp_4cons,imp_tot,tip_tot, tx_sm, va_1sec.reshape([4,1]), tot_input))
input_sm = input_mat.sum(axis=0)

In [ ]:
input_strc = np.vstack((input_mat,input_sm))
input_strc

array([[  16847.,     872.,     548.,    3368.,    4788.,   21635.,
            819.,   15780.,   38234.],
       [ 198534.,    1840.,    1350.,   13564.,   16754.,  215288.,
           6971.,  127899.,  350158.],
       [ 142776.,     395.,    2133.,   11872.,   14400.,  157176.,
           3160.,  198628.,  358964.],
       [ 406188.,    2390.,    9636.,   11090.,   23116.,  429304.,
          19652.,  456702.,  905658.],
       [ 764345.,    5497.,   13667.,   39894.,   59058.,  823403.,
          30602.,  799009., 1653014.]])

In [ ]:
input_strc_ratio = input_strc/np.tile(input_strc[:,-1].reshape([5,1]),reps=[1,9])*100

In [ ]:
input_strc_ratio

array([[ 44.063,   2.281,   1.433,   8.809,  12.523,  56.586,   2.142,
         41.272, 100.   ],
       [ 56.698,   0.525,   0.386,   3.874,   4.785,  61.483,   1.991,
         36.526, 100.   ],
       [ 39.774,   0.11 ,   0.594,   3.307,   4.012,  43.786,   0.88 ,
         55.334, 100.   ],
       [ 44.85 ,   0.264,   1.064,   1.225,   2.552,  47.402,   2.17 ,
         50.428, 100.   ],
       [ 46.239,   0.333,   0.827,   2.413,   3.573,  49.812,   1.851,
         48.336, 100.   ]])

In [ ]:
input_strc_df = pd.DataFrame(input_strc, columns = ['국산품', '중국', '미국','ROW', '수입품', '중간투입액', '순생산물세','부가가치','총투입액'],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

input_strc_df

,국산품,중국,미국,ROW,수입품,중간투입액,순생산물세,부가가치,총투입액
한국,16847.0,872.0,548.0,3368.0,4788.0,21635.0,819.0,15780.0,38234.0
중국,198534.0,1840.0,1350.0,13564.0,16754.0,215288.0,6971.0,127899.0,350158.0
미국,142776.0,395.0,2133.0,11872.0,14400.0,157176.0,3160.0,198628.0,358964.0
ROW,406188.0,2390.0,9636.0,11090.0,23116.0,429304.0,19652.0,456702.0,905658.0
전세계,764345.0,5497.0,13667.0,39894.0,59058.0,823403.0,30602.0,799009.0,1653014.0

In [ ]:
input_strc_ratio_df = pd.DataFrame(input_strc_ratio.round(1), columns = ['국산품', '중국', '미국','ROW', '수입품', '중간투입액', '순생산물세','부가가치','총투입액'],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

input_strc_ratio_df

      국산품   중국   미국  ROW   수입품  중간투입액  순생산물세  부가가치   총투입액
한국   44.1  2.3  1.4  8.8  12.5   56.6    2.1  41.3  100.0
중국   56.7  0.5  0.4  3.9   4.8   61.5    2.0  36.5  100.0
미국   39.8  0.1  0.6  3.3   4.0   43.8    0.9  55.3  100.0
ROW  44.9  0.3  1.1  1.2   2.6   47.4    2.2  50.4  100.0
전세계  46.2  0.3  0.8  2.4   3.6   49.8    1.9  48.3  100.0

In [ ]:
input_strc_df.to_csv('국가별 투입구조.csv', encoding='utf_8-sig')
input_strc_ratio_df.to_csv('국가별 투입구조 비중.csv', encoding='utf_8-sig')

#### 국가별 배분구조

In [ ]:
imp_dstr = imp.sum(axis=1).reshape([4,1])
imp_dstr

array([[ 4625.],
       [12641.],
       [12988.],
       [28804.]])

In [ ]:
id_tot = dom_sm + imp_dstr
id_tot

array([[ 21472.],
       [211175.],
       [155764.],
       [434992.]])

In [ ]:
fd_dom = (Mt_1sec[0:4,4:8]*one_diag).sum(axis=1).reshape([4,1])
fd_imp = (Mt_1sec[0:4,4:8]*zero_diag).sum(axis=1).reshape([4,1])
fd_tot = fd_dom + fd_imp
fd_dom

array([[ 14221.],
       [127334.],
       [193606.],
       [453116.]])

In [ ]:
tot_dmd = id_tot + fd_tot
tot_dmd

array([[ 38234.],
       [350158.],
       [358964.],
       [905658.]])

In [ ]:
dstr_mat = np.hstack((dom_sm,imp_dstr, id_tot, fd_dom, fd_imp, fd_tot,tot_dmd))
dstr_sm = dstr_mat.sum(axis=0)

In [ ]:
dstr_strc = np.vstack((dstr_mat,dstr_sm))
dstr_strc

array([[  16847.,    4625.,   21472.,   14221.,    2541.,   16762.,
          38234.],
       [ 198534.,   12641.,  211175.,  127334.,   11649.,  138983.,
         350158.],
       [ 142776.,   12988.,  155764.,  193606.,    9594.,  203200.,
         358964.],
       [ 406188.,   28804.,  434992.,  453116.,   17550.,  470666.,
         905658.],
       [ 764345.,   59058.,  823403.,  788277.,   41334.,  829611.,
        1653014.]])

In [ ]:
dstr_strc_ratio = dstr_strc/np.tile(dstr_strc[:,-1].reshape([5,1]),reps=[1,7])*100
dstr_strc_ratio

array([[ 44.063,  12.097,  56.159,  37.195,   6.646,  43.841, 100.   ],
       [ 56.698,   3.61 ,  60.308,  36.365,   3.327,  39.692, 100.   ],
       [ 39.774,   3.618,  43.393,  53.935,   2.673,  56.607, 100.   ],
       [ 44.85 ,   3.18 ,  48.03 ,  50.032,   1.938,  51.97 , 100.   ],
       [ 46.239,   3.573,  49.812,  47.687,   2.501,  50.188, 100.   ]])

In [ ]:
dstr_strc_df = pd.DataFrame(dstr_strc, columns = [['중간수요', '중간수요', '중간수요','최종수요', '최종수요', '최종수요', '총수요'],
                                                  ['자국', '타국', '중간수요계','자국', '타국', '최종수요계', '총수요계']],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

dstr_strc_df

         중간수요                         최종수요                           총수요
           자국       타국     중간수요계        자국       타국     최종수요계       총수요계
한국    16847.0   4625.0   21472.0   14221.0   2541.0   16762.0    38234.0
중국   198534.0  12641.0  211175.0  127334.0  11649.0  138983.0   350158.0
미국   142776.0  12988.0  155764.0  193606.0   9594.0  203200.0   358964.0
ROW  406188.0  28804.0  434992.0  453116.0  17550.0  470666.0   905658.0
전세계  764345.0  59058.0  823403.0  788277.0  41334.0  829611.0  1653014.0

In [ ]:
dstr_strc_ratio_df = pd.DataFrame(dstr_strc_ratio.round(1), columns = [['중간수요', '중간수요', '중간수요','최종수요', '최종수요', '최종수요', '총수요'],
                                                  ['자국', '타국', '중간수요계','자국', '타국', '최종수요계', '총수요계']],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

dstr_strc_ratio_df

     중간수요              최종수요               총수요
       자국    타국 중간수요계    자국   타국 최종수요계   총수요계
한국   44.1  12.1  56.2  37.2  6.6  43.8  100.0
중국   56.7   3.6  60.3  36.4  3.3  39.7  100.0
미국   39.8   3.6  43.4  53.9  2.7  56.6  100.0
ROW  44.9   3.2  48.0  50.0  1.9  52.0  100.0
전세계  46.2   3.6  49.8  47.7  2.5  50.2  100.0

In [ ]:
dstr_strc_df.to_csv('국가별 배분구조.csv', encoding='utf_8-sig')
dstr_strc_ratio_df.to_csv('국가별 배분구조 비중.csv', encoding='utf_8-sig')

#### 국가간 수출구조

In [ ]:
id = Mt_1sec[:4,:4].astype(float)
fd = Mt_1sec[:4:,4:].astype(float)
id

array([[ 16847.,   1840.,    395.,   2390.],
       [   872., 198534.,   2133.,   9636.],
       [   548.,   1350., 142776.,  11090.],
       [  3368.,  13564.,  11872., 406188.]])

In [ ]:
np.fill_diagonal(id,0) # 자국 0으로 만들기
np.fill_diagonal(fd,0) # 자국 0으로 만들기
fd

array([[    0.,   520.,   438.,  1583.],
       [  358.,     0.,  2773.,  8518.],
       [  291.,   964.,     0.,  8339.],
       [  934.,  5126., 11490.,     0.]])

In [ ]:
trade = id + fd
trade_sm_rw = trade.sum(axis=1).reshape([4,1])

In [ ]:
trade_rw = np.hstack((trade,trade_sm_rw))
exp_ratio = (trade_rw/trade_sm_rw)*100
exp_ratio

array([[  0.   ,  32.933,  11.624,  55.442, 100.   ],
       [  5.064,   0.   ,  20.198,  74.739, 100.   ],
       [  3.715,  10.247,   0.   ,  86.038, 100.   ],
       [  9.281,  40.32 ,  50.399,   0.   , 100.   ]])

In [ ]:
exp_mat_df = pd.DataFrame(exp_ratio.round(1), columns = ['한국', '중국', '미국','ROW', '전세계'],
                                       index=['한국', '중국', '미국','ROW']) # 변수명 붙여서 pandas로 내보내기

exp_mat_df

      한국    중국    미국   ROW    전세계
한국   0.0  32.9  11.6  55.4  100.0
중국   5.1   0.0  20.2  74.7  100.0
미국   3.7  10.2   0.0  86.0  100.0
ROW  9.3  40.3  50.4   0.0  100.0

In [ ]:
exp_mat_df.to_csv('국가 간 수출 구조.csv', encoding='utf_8-sig')

국가간 수입구조

In [ ]:
trade_sm_col = trade.sum(axis=0).reshape([1,4])
trade_sm_col

array([[ 6371., 23364., 29101., 41556.]])

In [ ]:
trade_col = np.vstack((trade,trade_sm_col))
imp_ratio = (trade_col/trade_sm_col)*100
imp_ratio

array([[  0.   ,  10.101,   2.862,   9.561],
       [ 19.306,   0.   ,  16.859,  43.686],
       [ 13.169,   9.904,   0.   ,  46.754],
       [ 67.525,  79.995,  80.279,   0.   ],
       [100.   , 100.   , 100.   , 100.   ]])

In [ ]:
imp_mat_df = pd.DataFrame(imp_ratio.round(1), columns = ['한국', '중국', '미국','ROW'],
                                       index=['한국', '중국', '미국','ROW', '전세계']) # 변수명 붙여서 pandas로 내보내기

imp_mat_df

        한국     중국     미국    ROW
한국     0.0   10.1    2.9    9.6
중국    19.3    0.0   16.9   43.7
미국    13.2    9.9    0.0   46.8
ROW   67.5   80.0   80.3    0.0
전세계  100.0  100.0  100.0  100.0

In [ ]:
imp_mat_df.to_csv('국가 간 수입 구조.csv', encoding='utf_8-sig')

### 국가 간 산업연관효과분석

[TiVA2022_Indicators_Guide](TiVA2022_Indicators_Guide.pdf)

In [ ]:
PROD = icio_2[-1,:12].astype(float) # 산출액
VALU = icio_2[-2, 0:12].astype(float) # 부가가치
TAX = icio_2[-6:-2, 0:12].astype(float) # 순생산물세
PROD_VASH = VALU/PROD
PROD_VASH
Fd = icio_2[:12, 12:16]
TAX

array([[    8.,   336.,   475.,     0.,     0.,     0.,     0.,     0.,
            0.,     0.,     0.,     0.],
       [    0.,     0.,     0.,  -182.,  4288.,  2865.,     0.,     0.,
            0.,     0.,     0.,     0.],
       [    0.,     0.,     0.,     0.,     0.,     0.,    27.,   939.,
         2194.,     0.,     0.,     0.],
       [    0.,     0.,     0.,     0.,     0.,     0.,     0.,     0.,
            0.,   547.,  7332., 11773.]])

In [ ]:
ct_m = np.tile(PROD, reps=[12,1]) # 산출액을 12번 행반복
nae = icio_2[0:12,0:12]   # 거래표

Ad =(nae/ct_m)  # 투입계수

In [ ]:
Ad_df = pd.DataFrame(Ad, columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Ad_df.index.names=['국가', '상품']
# Ad_df

## 생산유발계수(Lf)

In [ ]:
Lf = np.linalg.inv(np.identity(12)-Ad)    # 생산유발계수
Lf_sm_cl = np.hstack((Lf, Lf.sum(axis=1).reshape([12,1]))) # 생산유발계수 열합
Lf_sm_rw = np.vstack((Lf_sm_cl,Lf_sm_cl.sum(axis=0))) # 생산유발계수 행합
Lf

array([[1.054, 0.03 , 0.012, 0.   , 0.001, 0.   , 0.   , 0.   , 0.   ,
        0.   , 0.   , 0.   ],
       [0.361, 1.582, 0.267, 0.015, 0.029, 0.012, 0.004, 0.009, 0.002,
        0.006, 0.014, 0.005],
       [0.288, 0.343, 1.408, 0.005, 0.009, 0.005, 0.001, 0.003, 0.001,
        0.002, 0.005, 0.002],
       [0.005, 0.011, 0.004, 1.312, 0.158, 0.06 , 0.003, 0.004, 0.001,
        0.003, 0.006, 0.002],
       [0.068, 0.136, 0.056, 0.67 , 2.145, 0.608, 0.027, 0.052, 0.016,
        0.026, 0.07 , 0.027],
       [0.02 , 0.039, 0.021, 0.322, 0.443, 1.414, 0.008, 0.014, 0.005,
        0.008, 0.02 , 0.009],
       [0.004, 0.003, 0.001, 0.002, 0.002, 0.001, 1.227, 0.051, 0.005,
        0.002, 0.003, 0.001],
       [0.023, 0.039, 0.018, 0.009, 0.016, 0.007, 0.269, 1.367, 0.103,
        0.013, 0.031, 0.011],
       [0.025, 0.035, 0.022, 0.01 , 0.014, 0.008, 0.477, 0.459, 1.509,
        0.015, 0.031, 0.02 ],
       [0.014, 0.022, 0.009, 0.017, 0.016, 0.007, 0.028, 0.017, 0.003,
        1.167, 0.087, 0.02 ],
       [0.148, 0.337, 0.132, 0.092, 0.184, 0.082, 0.089, 0.182, 0.041,
        0.247, 1.591, 0.208],
       [0.084, 0.158, 0.087, 0.055, 0.091, 0.049, 0.058, 0.092, 0.033,
        0.29 , 0.487, 1.483]])

부가가치유발계수(Lv)

In [ ]:
Va_r = (icio_2[-2,:12]+TAX.sum(axis=0))/PROD # 부가가치율(순생산물세포함)
Va_r

array([0.54 , 0.297, 0.541, 0.434, 0.25 , 0.526, 0.413, 0.398, 0.604,
       0.606, 0.37 , 0.593])

In [ ]:
Va_m = np.diag(Va_r)  # 부가가치율 대각행렬

In [ ]:
Lv = Va_m@Lf  #부가가치유발계수
Lv
Lv_sm_cl = np.hstack((Lv, Lv.sum(axis=1).reshape([12,1]))) # 부가가치유발계수 열합
Lv_sm_rw = np.vstack((Lv_sm_cl,Lv_sm_cl.sum(axis=0))) # 부가가치유발계수 행합
Lv_sm_rw

array([[ 0.569,  0.016,  0.006,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  0.   ,  0.593],
       [ 0.107,  0.469,  0.079,  0.004,  0.009,  0.004,  0.001,  0.003,
         0.001,  0.002,  0.004,  0.001,  0.684],
       [ 0.156,  0.185,  0.761,  0.003,  0.005,  0.003,  0.001,  0.001,
         0.   ,  0.001,  0.003,  0.001,  1.12 ],
       [ 0.002,  0.005,  0.002,  0.569,  0.068,  0.026,  0.001,  0.002,
         0.001,  0.001,  0.002,  0.001,  0.68 ],
       [ 0.017,  0.034,  0.014,  0.168,  0.537,  0.152,  0.007,  0.013,
         0.004,  0.007,  0.018,  0.007,  0.977],
       [ 0.011,  0.02 ,  0.011,  0.169,  0.233,  0.744,  0.004,  0.007,
         0.003,  0.004,  0.011,  0.005,  1.221],
       [ 0.002,  0.001,  0.001,  0.001,  0.001,  0.   ,  0.506,  0.021,
         0.002,  0.001,  0.001,  0.   ,  0.538],
       [ 0.009,  0.016,  0.007,  0.004,  0.006,  0.003,  0.107,  0.543,
         0.041,  0.005,  0.012,  0.004,  0.758],
       [ 0.015,  0.021,  0.013,  0.006,  0.009,  0.005,  0.288,  0.277,
         0.911,  0.009,  0.019,  0.012,  1.585],
       [ 0.008,  0.013,  0.005,  0.01 ,  0.01 ,  0.004,  0.017,  0.01 ,
         0.002,  0.707,  0.053,  0.012,  0.852],
       [ 0.055,  0.125,  0.049,  0.034,  0.068,  0.03 ,  0.033,  0.067,
         0.015,  0.091,  0.589,  0.077,  1.234],
       [ 0.05 ,  0.094,  0.051,  0.032,  0.054,  0.029,  0.035,  0.054,
         0.02 ,  0.172,  0.289,  0.879,  1.759],
       [ 1.   ,  1.   ,  1.   ,  1.   ,  1.   ,  1.   ,  1.   ,  1.   ,
         1.   ,  1.   ,  1.   ,  1.   , 12.   ]])

In [ ]:
Lf_df = pd.DataFrame(Lf.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Lf_df.index.names=['국가', '상품']
Lf_df

            한국                   중국                   미국                  ROW  \
           농산품    공산품    서비스    농산품    공산품    서비스    농산품    공산품    서비스    농산품
국가  상품
한국  농산품  1.054  0.030  0.012  0.000  0.001  0.000  0.000  0.000  0.000  0.000
    공산품  0.361  1.582  0.267  0.015  0.029  0.012  0.004  0.009  0.002  0.006
    서비스  0.288  0.343  1.408  0.005  0.009  0.005  0.001  0.003  0.001  0.002
중국  농산품  0.005  0.011  0.004  1.312  0.158  0.060  0.003  0.004  0.001  0.003
    공산품  0.068  0.136  0.056  0.670  2.145  0.608  0.027  0.052  0.016  0.026
    서비스  0.020  0.039  0.021  0.322  0.443  1.414  0.008  0.014  0.005  0.008
미국  농산품  0.004  0.003  0.001  0.002  0.002  0.001  1.227  0.051  0.005  0.002
    공산품  0.023  0.039  0.018  0.009  0.016  0.007  0.269  1.367  0.103  0.013
    서비스  0.025  0.035  0.022  0.010  0.014  0.008  0.477  0.459  1.509  0.015
ROW 농산품  0.014  0.022  0.009  0.017  0.016  0.007  0.028  0.017  0.003  1.167
    공산품  0.148  0.337  0.132  0.092  0.184  0.082  0.089  0.182  0.041  0.247
    서비스  0.084  0.158  0.087  0.055  0.091  0.049  0.058  0.092  0.033  0.290


           공산품    서비스
국가  상품
한국  농산품  0.000  0.000
    공산품  0.014  0.005
    서비스  0.005  0.002
중국  농산품  0.006  0.002
    공산품  0.070  0.027
    서비스  0.020  0.009
미국  농산품  0.003  0.001
    공산품  0.031  0.011
    서비스  0.031  0.020
ROW 농산품  0.087  0.020
    공산품  1.591  0.208
    서비스  0.487  1.483

In [ ]:
Lv_df = pd.DataFrame(Lv.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Lv_df.index.names=['국가', '상품']
Lv_df

            한국                   중국                   미국                  ROW  \
           농산품    공산품    서비스    농산품    공산품    서비스    농산품    공산품    서비스    농산품
국가  상품
한국  농산품  0.569  0.016  0.006  0.000  0.000  0.000  0.000  0.000  0.000  0.000
    공산품  0.107  0.469  0.079  0.004  0.009  0.004  0.001  0.003  0.001  0.002
    서비스  0.156  0.185  0.761  0.003  0.005  0.003  0.001  0.001  0.000  0.001
중국  농산품  0.002  0.005  0.002  0.569  0.068  0.026  0.001  0.002  0.001  0.001
    공산품  0.017  0.034  0.014  0.168  0.537  0.152  0.007  0.013  0.004  0.007
    서비스  0.011  0.020  0.011  0.169  0.233  0.744  0.004  0.007  0.003  0.004
미국  농산품  0.002  0.001  0.001  0.001  0.001  0.000  0.506  0.021  0.002  0.001
    공산품  0.009  0.016  0.007  0.004  0.006  0.003  0.107  0.543  0.041  0.005
    서비스  0.015  0.021  0.013  0.006  0.009  0.005  0.288  0.277  0.911  0.009
ROW 농산품  0.008  0.013  0.005  0.010  0.010  0.004  0.017  0.010  0.002  0.707
    공산품  0.055  0.125  0.049  0.034  0.068  0.030  0.033  0.067  0.015  0.091
    서비스  0.050  0.094  0.051  0.032  0.054  0.029  0.035  0.054  0.020  0.172


           공산품    서비스
국가  상품
한국  농산품  0.000  0.000
    공산품  0.004  0.001
    서비스  0.003  0.001
중국  농산품  0.002  0.001
    공산품  0.018  0.007
    서비스  0.011  0.005
미국  농산품  0.001  0.000
    공산품  0.012  0.004
    서비스  0.019  0.012
ROW 농산품  0.053  0.012
    공산품  0.589  0.077
    서비스  0.289  0.879

In [ ]:
Lf_df.to_csv('생산유발계수.csv', encoding='utf_8-sig')
Lv_df.to_csv('부가가치유발계수.csv', encoding='utf_8-sig')

## 총수출분해

### Eij = Yij+AijXj = Yij + Aij*Xjj + Aij*Xjt + Aij*Xji
한국의 대중 총수출을 분해

In [ ]:
# ct_dec = PROD
# nae_dec =nae
# nae_dec
# fd_dec = Fd
# fd_dec

In [ ]:
# ct_dec_m = np.tile(ct_dec, reps=[4,1]) # 산출액을 12번 행반복
# Ad_dec =(nae_dec/ct_dec_m)  # 투입계수
# Ad_dec

In [ ]:
# Lf_dec = np.linalg.inv(np.identity(4)-Ad_dec)    # 생산유발계수
# Lf_dec

In [ ]:
# Lf_dec_out = pd.DataFrame(Lf_dec)
# Lf_dec_out.to_csv('Lf_dec.csv', encoding='utf_8-sig')

In [ ]:
E_kc_int = Mt[:3,3:6]  # 한국의 대중 중간재 수출
E_kc_int_sm = E_kc_int.sum(axis=1)
E_kc_fd = Mt[:3,13]  # 한국의 대중 최종재 수출
E_kc = E_kc_int_sm + E_kc_fd # 한국의 대중 총수출
E_kc

array([   1., 1982.,  377.])

In [ ]:
Mt[:3,3:6]

array([[   0.,    0.,    0.],
       [  50., 1246.,  295.],
       [  11.,  139.,   99.]])

In [ ]:
Y_kc = E_kc_fd  # 한국의 대중국 최종재 수출
Y_kc

array([  1., 391., 128.])

In [ ]:
ct_c = PROD[3:6,]   #중국 산출액
ct_c_m = np.tile(ct_c,reps=[3,1])
ct_c_m

array([[ 21259., 171848., 157051.],
       [ 21259., 171848., 157051.],
       [ 21259., 171848., 157051.]])

In [ ]:
A_kc = E_kc_int/ct_c_m # 한국의 대중중간재수출/중국산출액
A_kc

array([[0.   , 0.   , 0.   ],
       [0.002, 0.007, 0.002],
       [0.001, 0.001, 0.001]])

In [ ]:
X_all = Lf@Fd
X_all

array([[   371.512,     56.76 ,     31.135,    112.593],
       [  7063.68 ,   2826.095,   1389.286,   5405.939],
       [ 17241.406,   1080.608,    525.74 ,   2129.245],
       [   131.001,  17733.056,    783.019,   2611.924],
       [  1623.709, 127562.517,  10102.107,  32559.667],
       [   630.958, 142829.057,   3019.601,  10571.384],
       [    43.056,    194.185,   3466.241,    962.517],
       [   506.104,   1841.684,  53047.184,  12975.029],
       [   689.754,   2494.902, 264395.158,  18348.187],
       [   241.765,   1687.973,   1941.02 ,  34414.243],
       [  3408.814,  18032.182,  24658.888, 228528.116],
       [  2273.466,  12991.658,  17932.382, 559547.494]])

In [ ]:
Fdd = Fd.sum(axis=1)
X_all_by_ind = Lf@np.diagflat(Fdd)
X_all
X_df = pd.DataFrame(X_all_by_ind)
X_df.to_csv('X_df.csv')
f_test = Ad@X_all_by_ind
f_test_df = pd.DataFrame(f_test)
f_test_df.to_csv('f_test_df.csv')
Ad_df =pd.DataFrame(Ad)
Ad_df.to_csv('Ad_df.csv')

In [ ]:
X_chn = X_all[3:6,:]  # 모든 국가의 최종수요에 의한 중국의 산출액
X_chn

array([[   131.001,  17733.056,    783.019,   2611.924],
       [  1623.709, 127562.517,  10102.107,  32559.667],
       [   630.958, 142829.057,   3019.601,  10571.384]])

In [ ]:
Akc_by_ind = A_kc@X_chn # 한국의 대중 중간재 수출
Akc_by_ind

array([[   0.   ,    0.   ,    0.   ,    0.   ],
       [  13.266, 1234.897,   80.76 ,  262.077],
       [   1.779,  202.39 ,   10.48 ,   34.351]])

In [ ]:
X_chn_agr = Akc_by_ind[0,:] # 한국 대중 농업 중간재 수출의 국가별 분해
X_chn_manu = Akc_by_ind[1,:] # 한국 대중 제조업 중간재 수출의 국가별 분해
X_chn_serv = Akc_by_ind[2,:] # 한국 대중 서비스업 중간재 수출의 국가별 분해

### 한국의 대중 중간재를 농업, 제조업, 서비스별로 분해 가능

In [ ]:
Ex_Kor_to_Chn_decom = np.hstack((Akc_by_ind.reshape([3,4]),Y_kc.reshape([3,1])))
Ex_Kor_to_Chn_decom_sm = Ex_Kor_to_Chn_decom.sum(axis=1)

In [ ]:
Ex_Kor_to_Chn_decom_rw_sm = np.hstack((Ex_Kor_to_Chn_decom.reshape([3,5]),Ex_Kor_to_Chn_decom_sm.reshape([3,1]))) # 한국의 대중 수출을 중간재(국가별분해)와 최종재로 표시
Ex_Kor_to_Chn_decom_col_sm = Ex_Kor_to_Chn_decom_rw_sm.sum(axis=0)

In [ ]:
Ex_Kor_Chn = np.vstack((Ex_Kor_to_Chn_decom_rw_sm,Ex_Kor_to_Chn_decom_col_sm))
Ex_Kor_Chn

array([[   0.   ,    0.   ,    0.   ,    0.   ,    1.   ,    1.   ],
       [  13.266, 1234.897,   80.76 ,  262.077,  391.   , 1982.   ],
       [   1.779,  202.39 ,   10.48 ,   34.351,  128.   ,  377.   ],
       [  15.045, 1437.287,   91.24 ,  296.428,  520.   , 2360.   ]])

In [ ]:
Ex_Kor_Chn_df = pd.DataFrame(Ex_Kor_Chn.round(3), columns = [['중간재', '중간재', '중간재', '중간재', '최종재','총수출'],
                                    ['한국', '중국', '미국', 'ROW', '중국','중국']],

                                    index=['농업', '공업', '서비스','소계'])
Ex_Kor_Chn_df.index.names=['산업']
Ex_Kor_Chn_df

        중간재                              최종재     총수출
         한국        중국     미국      ROW     중국      중국
산업
농업    0.000     0.000   0.00    0.000    1.0     1.0
공업   13.266  1234.897  80.76  262.077  391.0  1982.0
서비스   1.779   202.390  10.48   34.351  128.0   377.0
소계   15.045  1437.287  91.24  296.428  520.0  2360.0

In [ ]:
Ex_Kor_Chn_df.to_csv('한국의 대중수출분해.csv', encoding='utf_8-sig')

In [ ]:
print('대중수출_거래표 \n',E_kc, '\n')
print('대중수출_분해합 \n',Ex_Kor_Chn[:,-1], '\n')

대중수출_거래표
 [   1. 1982.  377.]

대중수출_분해합
 [   1. 1982.  377. 2360.]

## DVA 와 FVA 구하기(OECD의 총수출을 이용하는 개념을 이용)
### 한국의 산업별 DVA 및FVA 구하기

In [ ]:
import scipy.linalg as linalg

In [ ]:
mtx_for_int= linalg.block_diag(np.ones((3,3)),np.ones((3,3)),np.ones((3,3)),np.ones((3,3)))
mtx_for_tra=np.where(mtx_for_int == 1, 0, 1)

mtx_for_fnl= linalg.block_diag(np.ones((3,1)),np.ones((3,1)),np.ones((3,1)),np.ones((3,1)))
mtx_for_fnl_tra=np.where(mtx_for_fnl == 1, 0, 1)

INT = icio_2[0:12,0:12].astype(float)

EXIM_INT_mt = (INT*mtx_for_tra).reshape([12,12])  # 중간재 수출입
EXGR_INT = EXIM_INT_mt.sum(axis=1).reshape([12,1])

FD = icio_2[0:12,12:16].astype(float)

EXIM_FNL_mt = (FD*mtx_for_fnl_tra).reshape([12,4])  # 최종재 수출입
EXGR_FNL = EXIM_FNL_mt.sum(axis=1).reshape([12,1])

EXGR = EXGR_INT + EXGR_FNL
EXGR

array([[   11.],
       [ 5928.],
       [ 1227.],
       [  170.],
       [20107.],
       [ 4013.],
       [  526.],
       [10740.],
       [11316.],
       [ 1238.],
       [30902.],
       [14214.]])

In [ ]:
EXGR_decom = Lv@np.diagflat(EXGR)
EXGR_decom

array([[    6.26 ,    95.115,     7.877,     0.027,     6.041,     0.533,
            0.028,     1.254,     0.328,     0.099,     4.871,     0.746],
       [    1.177,  2782.03 ,    97.275,     0.744,   171.027,    14.879,
            0.695,    28.253,     7.582,     2.131,   130.589,    19.4  ],
       [    1.713,  1099.276,   933.826,     0.48 ,   100.392,    10.214,
            0.368,    15.905,     5.495,     1.332,    77.699,    16.194],
       [    0.025,    27.538,     2.345,    96.677,  1376.179,   104.785,
            0.703,    19.382,     6.29 ,     1.343,    75.704,    12.943],
       [    0.187,   201.632,    17.099,    28.522, 10803.865,   610.703,
            3.542,   138.728,    46.58 ,     8.181,   542.872,    94.46 ],
       [    0.117,   120.3  ,    13.306,    28.775,  4685.375,  2984.293,
            2.108,    79.353,    29.816,     5.172,   324.957,    70.758],
       [    0.017,     8.51 ,     0.716,     0.154,    14.167,     1.195,
          266.385,   227.656,    24.157,     1.173,    32.35 ,     4.137],
       [    0.101,    92.754,     8.547,     0.609,   125.06 ,    11.629,
           56.347,  5835.223,   465.264,     6.281,   383.717,    61.611],
       [    0.163,   126.116,    16.554,     1.002,   173.176,    20.475,
          151.5  ,  2979.613, 10311.206,    11.07 ,   579.332,   169.454],
       [    0.091,    79.966,     6.669,     1.715,   197.097,    16.549,
            8.863,   108.446,    23.107,   875.239,  1625.72 ,   172.304],
       [    0.604,   738.891,    59.811,     5.8  ,  1370.897,   121.213,
           17.271,   723.076,   171.915,   113.232, 18201.084,  1092.988],
       [    0.545,   555.872,    62.976,     5.495,  1083.724,   116.531,
           18.191,   583.113,   224.26 ,   212.748,  8923.106, 12499.003]])

In [ ]:
# EXGR_Kor_by_ind = EXGR_decom[:,:3]
# EXGR_Kor_by_ind

In [ ]:
# print(EXGR_Kor_by_ind.sum(axis=0))

In [ ]:
EXGR_decom_df = pd.DataFrame(EXGR_decom.round(3), columns = [['한국', '한국', '한국','중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']],

                                    index=[['한국', '한국', '한국','중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']])
EXGR_decom_df

            한국                         중국                            미국  \
            농업        공업      서비스      농업         공업       서비스       농업
한국  농업   6.260    95.115    7.877   0.027      6.041     0.533    0.028
    공업   1.177  2782.030   97.275   0.744    171.027    14.879    0.695
    서비스  1.713  1099.276  933.826   0.480    100.392    10.214    0.368
중국  농업   0.025    27.538    2.345  96.677   1376.179   104.785    0.703
    공업   0.187   201.632   17.099  28.522  10803.865   610.703    3.542
    서비스  0.117   120.300   13.306  28.775   4685.375  2984.293    2.108
미국  농업   0.017     8.510    0.716   0.154     14.167     1.195  266.385
    공업   0.101    92.754    8.547   0.609    125.060    11.629   56.347
    서비스  0.163   126.116   16.554   1.002    173.176    20.475  151.500
ROW 농업   0.091    79.966    6.669   1.715    197.097    16.549    8.863
    공업   0.604   738.891   59.811   5.800   1370.897   121.213   17.271
    서비스  0.545   555.872   62.976   5.495   1083.724   116.531   18.191

                                  ROW
               공업        서비스       농업         공업        서비스
한국  농업      1.254      0.328    0.099      4.871      0.746
    공업     28.253      7.582    2.131    130.589     19.400
    서비스    15.905      5.495    1.332     77.699     16.194
중국  농업     19.382      6.290    1.343     75.704     12.943
    공업    138.728     46.580    8.181    542.872     94.460
    서비스    79.353     29.816    5.172    324.957     70.758
미국  농업    227.656     24.157    1.173     32.350      4.137
    공업   5835.223    465.264    6.281    383.717     61.611
    서비스  2979.613  10311.206   11.070    579.332    169.454
ROW 농업    108.446     23.107  875.239   1625.720    172.304
    공업    723.076    171.915  113.232  18201.084   1092.988
    서비스   583.113    224.260  212.748   8923.106  12499.003

In [ ]:
EXGR_decom_df.to_csv('DVA_FVA_매트릭스.csv', encoding='utf_8-sig')

In [ ]:
Mtx_participation = EXGR_decom*mtx_for_tra
Mtx_participation

array([[   0.   ,    0.   ,    0.   ,    0.027,    6.041,    0.533,
           0.028,    1.254,    0.328,    0.099,    4.871,    0.746],
       [   0.   ,    0.   ,    0.   ,    0.744,  171.027,   14.879,
           0.695,   28.253,    7.582,    2.131,  130.589,   19.4  ],
       [   0.   ,    0.   ,    0.   ,    0.48 ,  100.392,   10.214,
           0.368,   15.905,    5.495,    1.332,   77.699,   16.194],
       [   0.025,   27.538,    2.345,    0.   ,    0.   ,    0.   ,
           0.703,   19.382,    6.29 ,    1.343,   75.704,   12.943],
       [   0.187,  201.632,   17.099,    0.   ,    0.   ,    0.   ,
           3.542,  138.728,   46.58 ,    8.181,  542.872,   94.46 ],
       [   0.117,  120.3  ,   13.306,    0.   ,    0.   ,    0.   ,
           2.108,   79.353,   29.816,    5.172,  324.957,   70.758],
       [   0.017,    8.51 ,    0.716,    0.154,   14.167,    1.195,
           0.   ,    0.   ,    0.   ,    1.173,   32.35 ,    4.137],
       [   0.101,   92.754,    8.547,    0.609,  125.06 ,   11.629,
           0.   ,    0.   ,    0.   ,    6.281,  383.717,   61.611],
       [   0.163,  126.116,   16.554,    1.002,  173.176,   20.475,
           0.   ,    0.   ,    0.   ,   11.07 ,  579.332,  169.454],
       [   0.091,   79.966,    6.669,    1.715,  197.097,   16.549,
           8.863,  108.446,   23.107,    0.   ,    0.   ,    0.   ],
       [   0.604,  738.891,   59.811,    5.8  , 1370.897,  121.213,
          17.271,  723.076,  171.915,    0.   ,    0.   ,    0.   ],
       [   0.545,  555.872,   62.976,    5.495, 1083.724,  116.531,
          18.191,  583.113,  224.26 ,    0.   ,    0.   ,    0.   ]])

In [ ]:
Bwd_participation = np.reshape(Mtx_participation.sum(axis=0),[12,1])/EXGR
Fwd_participation = np.reshape(Mtx_participation.sum(axis=1),[12,1])/EXGR

In [ ]:
Bwd_participation

array([[0.168],
       [0.329],
       [0.153],
       [0.094],
       [0.161],
       [0.078],
       [0.098],
       [0.158],
       [0.046],
       [0.03 ],
       [0.07 ],
       [0.032]])

In [ ]:
Fwd_participation

array([[1.266],
       [0.063],
       [0.186],
       [0.86 ],
       [0.052],
       [0.161],
       [0.119],
       [0.064],
       [0.097],
       [0.357],
       [0.104],
       [0.186]])

In [ ]:
Participation_ratio = np.hstack((Bwd_participation,Fwd_participation))

array([[0.168, 1.266],
       [0.329, 0.063],
       [0.153, 0.186],
       [0.094, 0.86 ],
       [0.161, 0.052],
       [0.078, 0.161],
       [0.098, 0.119],
       [0.158, 0.064],
       [0.046, 0.097],
       [0.03 , 0.357],
       [0.07 , 0.104],
       [0.032, 0.186]])

In [ ]:
Participation_df = pd.DataFrame(Participation_ratio.round(3), columns = ['후방참여도', '전방참여도'],

                                    index=[['한국', '한국', '한국','중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']])
Participation_df

         후방참여도  전방참여도
한국  농업   0.168  1.266
    공업   0.329  0.063
    서비스  0.153  0.186
중국  농업   0.094  0.860
    공업   0.161  0.052
    서비스  0.078  0.161
미국  농업   0.098  0.119
    공업   0.158  0.064
    서비스  0.046  0.097
ROW 농업   0.030  0.357
    공업   0.070  0.104
    서비스  0.032  0.186

### Tiva_in and Tiva_out
#### 한국의 Tiva_in and Tiva_out 구하기

In [ ]:
Fd_kor = Fd[:,0]
Fd_non_kor = Fd[:,1:].sum(axis=1)
Fd_non_kor

array([     4.,   2040.,    497.,   5581.,  41572.,  91472.,   1212.,
        30042., 171655.,  16685., 104111., 348936.])

In [ ]:
tiva_by_kor_fd = Lv@np.diagflat(Fd_kor)
Kor_tiva_out = tiva_by_kor_fd[3:,:]   # 한국의 Tiva_out(산업별 구분, DAX와 동일)

In [ ]:
tiva_by_nonkor_fd = Lv@np.diagflat(Fd_non_kor)
Kor_tiva_in = tiva_by_nonkor_fd[:3,:]   # 한국의 Tiva_in(산업별 구분, DAX와 동일)

In [ ]:
Kor_tiva_out_df = pd.DataFrame(Kor_tiva_out.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']],

                                    index=[['중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']])
Kor_tiva_out_df

            한국                       중국                      미국          \
            농업       공업      서비스     농업       공업     서비스     농업      공업
중국  농업   0.345   11.418   22.191  1.706   15.947   3.186  0.009   0.208
    공업   2.580   83.605  161.808  0.503  125.195  18.566  0.047   1.485
    서비스  1.612   49.881  125.909  0.508   54.294  90.726  0.028   0.850
미국  농업   0.232    3.529    6.771  0.003    0.164   0.036  3.545   2.438
    공업   1.397   38.460   80.882  0.011    1.449   0.354  0.750  62.481
    서비스  2.257   52.293  156.648  0.018    2.007   0.622  2.016  31.905
ROW 농업   1.258   33.157   63.111  0.030    2.284   0.503  0.118   1.161
    공업   8.345  306.376  565.982  0.102   15.886   3.685  0.230   7.742
    서비스  7.528  230.488  595.939  0.097   12.558   3.543  0.242   6.244

                     ROW
             서비스      농업       공업      서비스
중국  농업     0.094   0.017    1.335    0.340
    공업     0.696   0.106    9.574    2.479
    서비스    0.445   0.067    5.731    1.857
미국  농업     0.361   0.015    0.571    0.109
    공업     6.949   0.081    6.767    1.617
    서비스  153.994   0.143   10.217    4.447
ROW 농업     0.345  11.312   28.672    4.522
    공업     2.567   1.463  321.002   28.682
    서비스    3.349   2.750  157.371  327.995

In [ ]:
Kor_tiva_in_df = pd.DataFrame(Kor_tiva_in.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스','농업', '공업', '서비스']],

                                    index=[['한국', '한국', '한국'],
                                    ['농업', '공업', '서비스']])
Kor_tiva_in_df

           한국                        중국                       미국          \
           농업       공업      서비스      농업       공업      서비스     농업      공업
한국 농업   2.277   32.732    3.190   0.870   12.489   12.152  0.063   3.507
   공업   0.428  957.379   39.402  24.415  353.605  339.159  1.601  79.028
   서비스  0.623  378.293  378.249  15.756  207.565  232.814  0.849  44.489

                    ROW
            서비스      농업       공업      서비스
한국 농업     4.972   1.328   16.410   18.315
   공업   115.013  28.721  439.964  476.255
   서비스   83.356  17.947  261.773  397.540

In [ ]:
Kor_tiva_in_df.to_csv('한국의 부가가치 수출.csv', encoding='utf_8-sig')
Kor_tiva_out_df.to_csv('한국의 부가가치 수입.csv', encoding='utf_8-sig')

## VAX 비율

In [ ]:
Mtx_for_vax = Va_m@(Lf@Fd)
Mtx_for_vax

array([[   200.694,     30.662,     16.819,     60.824],
       [  2096.031,    838.597,    412.248,   1604.124],
       [  9319.746,    584.116,    284.186,   1150.952],
       [    56.796,   7688.3  ,    339.484,   1132.419],
       [   406.645,  31947.044,   2529.994,   8154.316],
       [   331.909,  75133.699,   1588.429,   5560.964],
       [    17.773,     80.154,   1430.772,    397.301],
       [   201.198,    732.148,  21088.525,   5158.129],
       [   416.566,   1506.759, 159677.557,  11081.117],
       [   146.473,   1022.66 ,   1175.968,  20849.898],
       [  1262.063,   6676.152,   9129.592,  84609.192],
       [  1348.105,   7703.707,  10633.425, 331796.763]])

In [ ]:
Ex_int_for_vax = EXIM_INT_mt@cd_for_nae.T #12x12 수출입 매트릭스를 국가별x산업별로 전화(12x4)
Ex_int_for_vax

array([[    0.,     0.,     3.,     4.],
       [    0.,  1591.,   333.,  1964.],
       [    0.,   249.,    59.,   422.],
       [    5.,     0.,    15.,    75.],
       [  722.,     0.,  1847.,  7939.],
       [  145.,     0.,   271.,  1622.],
       [   18.,    75.,     0.,   236.],
       [  314.,   772.,     0.,  5244.],
       [  216.,   503.,     0.,  5610.],
       [   37.,   493.,   381.,     0.],
       [ 2620., 10283.,  8038.,     0.],
       [  711.,  2788.,  3453.,     0.]])

In [ ]:
Ex_for_vax = Ex_int_for_vax + EXIM_FNL_mt #중간재수출과 최종재수출을 상품별 국가별로 합산(12x4)
Ex_for_vax

array([[    0.,     1.,     4.,     6.],
       [    0.,  1982.,   688.,  3258.],
       [    0.,   377.,   141.,   709.],
       [    8.,     0.,    20.,   142.],
       [  955.,     0.,  4217., 14935.],
       [  267.,     0.,   669.,  3077.],
       [   25.,   102.,     0.,   399.],
       [  429.,  1099.,     0.,  9212.],
       [  385.,  1113.,     0.,  9818.],
       [   53.,   668.,   517.,     0.],
       [ 3165., 12434., 15303.,     0.],
       [ 1084.,  5588.,  7542.,     0.]])

In [ ]:
vax_ratio = Mtx_for_vax/Ex_for_vax

<ipython-input-234-7df957ef9c83>:1: RuntimeWarning: divide by zero encountered in divide
  vax_ratio = Mtx_for_vax/Ex_for_vax

In [ ]:
vax_ratio

array([[   inf, 30.662,  4.205, 10.137],
       [   inf,  0.423,  0.599,  0.492],
       [   inf,  1.549,  2.016,  1.623],
       [ 7.1  ,    inf, 16.974,  7.975],
       [ 0.426,    inf,  0.6  ,  0.546],
       [ 1.243,    inf,  2.374,  1.807],
       [ 0.711,  0.786,    inf,  0.996],
       [ 0.469,  0.666,    inf,  0.56 ],
       [ 1.082,  1.354,    inf,  1.129],
       [ 2.764,  1.531,  2.275,    inf],
       [ 0.399,  0.537,  0.597,    inf],
       [ 1.244,  1.379,  1.41 ,    inf]])

In [ ]:
Kor_tiva_out

array([[  0.345,  11.418,  22.191,   1.706,  15.947,   3.186,   0.009,
          0.208,   0.094,   0.017,   1.335,   0.34 ],
       [  2.58 ,  83.605, 161.808,   0.503, 125.195,  18.566,   0.047,
          1.485,   0.696,   0.106,   9.574,   2.479],
       [  1.612,  49.881, 125.909,   0.508,  54.294,  90.726,   0.028,
          0.85 ,   0.445,   0.067,   5.731,   1.857],
       [  0.232,   3.529,   6.771,   0.003,   0.164,   0.036,   3.545,
          2.438,   0.361,   0.015,   0.571,   0.109],
       [  1.397,  38.46 ,  80.882,   0.011,   1.449,   0.354,   0.75 ,
         62.481,   6.949,   0.081,   6.767,   1.617],
       [  2.257,  52.293, 156.648,   0.018,   2.007,   0.622,   2.016,
         31.905, 153.994,   0.143,  10.217,   4.447],
       [  1.258,  33.157,  63.111,   0.03 ,   2.284,   0.503,   0.118,
          1.161,   0.345,  11.312,  28.672,   4.522],
       [  8.345, 306.376, 565.982,   0.102,  15.886,   3.685,   0.23 ,
          7.742,   2.567,   1.463, 321.002,  28.682],
       [  7.528, 230.488, 595.939,   0.097,  12.558,   3.543,   0.242,
          6.244,   3.349,   2.75 , 157.371, 327.995]])

In [ ]:
EXGR_decom

array([[   0.   ,   95.115,    7.877,    0.027,    6.041,    0.533,
           0.028,    1.254,    0.328,    0.099,    4.871,    0.746],
       [   1.177,    0.   ,   97.275,    0.744,  171.027,   14.879,
           0.695,   28.253,    7.582,    2.131,  130.589,   19.4  ],
       [   1.713, 1099.276,    0.   ,    0.48 ,  100.392,   10.214,
           0.368,   15.905,    5.495,    1.332,   77.699,   16.194],
       [   0.025,   27.538,    2.345,    0.   , 1376.179,  104.785,
           0.703,   19.382,    6.29 ,    1.343,   75.704,   12.943],
       [   0.187,  201.632,   17.099,   28.522,    0.   ,  610.703,
           3.542,  138.728,   46.58 ,    8.181,  542.872,   94.46 ],
       [   0.117,  120.3  ,   13.306,   28.775, 4685.375,    0.   ,
           2.108,   79.353,   29.816,    5.172,  324.957,   70.758],
       [   0.017,    8.51 ,    0.716,    0.154,   14.167,    1.195,
           0.   ,  227.656,   24.157,    1.173,   32.35 ,    4.137],
       [   0.101,   92.754,    8.547,    0.609,  125.06 ,   11.629,
          56.347,    0.   ,  465.264,    6.281,  383.717,   61.611],
       [   0.163,  126.116,   16.554,    1.002,  173.176,   20.475,
         151.5  , 2979.613,    0.   ,   11.07 ,  579.332,  169.454],
       [   0.091,   79.966,    6.669,    1.715,  197.097,   16.549,
           8.863,  108.446,   23.107,    0.   , 1625.72 ,  172.304],
       [   0.604,  738.891,   59.811,    5.8  , 1370.897,  121.213,
          17.271,  723.076,  171.915,  113.232,    0.   , 1092.988],
       [   0.545,  555.872,   62.976,    5.495, 1083.724,  116.531,
          18.191,  583.113,  224.26 ,  212.748, 8923.106,    0.   ]])

## DVA 와 FVA 구하기

#### (총수출 기준이 아닌 최종수요 기준으로 구함...,Koopman과 다른 개념으로 전통적인 최종수요에 의한 부가가치유발임)

In [ ]:
DFVA_M = Lv@Fd
DFVA_M

array([[   200.694,     30.662,     16.819,     60.824],
       [  2096.031,    838.597,    412.248,   1604.124],
       [  9319.746,    584.116,    284.186,   1150.952],
       [    56.796,   7688.3  ,    339.484,   1132.419],
       [   406.645,  31947.044,   2529.994,   8154.316],
       [   331.909,  75133.699,   1588.429,   5560.964],
       [    17.773,     80.154,   1430.772,    397.301],
       [   201.198,    732.148,  21088.525,   5158.129],
       [   416.566,   1506.759, 159677.557,  11081.117],
       [   146.473,   1022.66 ,   1175.968,  20849.898],
       [  1262.063,   6676.152,   9129.592,  84609.192],
       [  1348.105,   7703.707,  10633.425, 331796.763]])

### 한국의 농업, 제조업 및 서비스의 DVA를 국가별로 구하기

In [ ]:
DVA_Kor = DFVA_M[:3,1:]
DVA_Kor

array([[  29.869,   16.384,   59.249],
       [ 781.686,  384.271, 1495.26 ],
       [ 559.647,  272.281, 1102.737]])

In [ ]:
FVA_Kor = DFVA_M[3:12,0]
FVA_Kor

array([  57.918,  366.13 ,  320.398,   17.523,  194.247,  411.274,
        146.473, 1262.063, 1348.105])

In [ ]:
DVA_df = pd.DataFrame(DVA_Kor.round(1), columns = ['중국','미국','ROW'],
                      index = ['농업','제조업','서비스'])

DVA_df.index.names=['산업']

In [ ]:
FVA_df = pd.DataFrame(FVA_Kor.round(1), columns = ['FVA'],
                      index = ['농업_중국','제조업_중국','서비스_중국','농업_미국','제조업_미국','서비스_미국',
                               '농업_ROW','제조업_ROW','서비스_ROW',])

FVA_df.index.names=['산업_국가']
FVA_df

            FVA
산업_국가
농업_중국      57.9
제조업_중국    366.1
서비스_중국    320.4
농업_미국      17.5
제조업_미국    194.2
서비스_미국    411.3
농업_ROW    146.5
제조업_ROW  1262.1
서비스_ROW  1348.1

In [ ]:
Net_TiVA_Kor = DVA_Kor.sum() - FVA_Kor.sum()  # 한국의 Net_TiVA
Net_TiVA_Kor

577.2517337150366

#### 한국의 DVA와 FVA를 산업별로 구하고 산업별 Net_TiVA 구하기

In [ ]:
Fd_k = Fd[:,0] # 한국의 한국산에 대한 최종수요
Fd_non_k = Fd[:,1:].sum(axis=1) # 한국의 수입품에 대한 최종수요
Fd_non_k
# Fd_k

array([     4.,   2040.,    497.,   5581.,  41572.,  91472.,   1212.,
        30042., 171655.,  16685., 104111., 348936.])

In [ ]:
Fd_c = Fd[:,1] # 한국의 한국산에 대한 최종수요

In [ ]:
FVA_by_ind = Lv@np.diagflat(Fd_c)
FVA_by_ind

array([[    0.554,     6.111,     0.8  ,     0.837,     9.425,    11.598,
            0.001,     0.037,     0.017,     0.014,     0.33 ,     0.143],
       [    0.1  ,   171.045,     9.459,    22.465,   255.348,   309.737,
            0.033,     0.802,     0.381,     0.281,     8.473,     3.562],
       [    0.149,    69.469,    93.335,    14.901,   154.065,   218.543,
            0.018,     0.464,     0.284,     0.18 ,     5.182,     3.056],
       [    0.002,     1.852,     0.249,  3194.777,  2247.794,  2386.288,
            0.037,     0.602,     0.346,     0.194,     5.374,     2.6  ],
       [    0.015,    11.974,     1.606,   832.181, 15580.748, 12279.498,
            0.164,     3.803,     2.261,     1.041,    34.023,    16.754],
       [    0.01 ,     7.66 ,     1.34 ,   900.147,  7244.454, 64334.547,
            0.104,     2.332,     1.552,     0.706,    21.835,    13.455],
       [    0.002,     0.553,     0.074,     4.923,    22.374,    26.318,
           13.482,     6.834,     1.284,     0.164,     2.22 ,     0.804],
       [    0.009,     5.907,     0.861,    19.052,   193.393,   250.738,
            2.792,   171.527,    24.214,     0.857,    25.787,    11.717],
       [    0.015,     8.213,     1.705,    32.053,   273.857,   451.439,
            7.678,    89.567,   548.773,     1.545,    39.813,    32.957],
       [    0.008,     5.274,     0.696,    55.581,   315.696,   369.577,
            0.455,     3.302,     1.246,   123.721,   113.162,    33.942],
       [    0.055,    48.736,     6.239,   187.968,  2195.807,  2706.938,
            0.887,    22.015,     9.267,    16.006,  1266.925,   215.307],
       [    0.05 ,    36.664,     6.57 ,   178.078,  1735.834,  2602.385,
            0.934,    17.754,    12.089,    30.073,   621.112,  2462.165]])

In [ ]:
zzz=pd.DataFrame(FVA_by_ind)
zzz.to_csv('zzz.csv')

In [ ]:
EXIM_INT_mt
EXIM_FNL_mt

array([[   0.,    1.,    1.,    2.],
       [   0.,  391.,  355., 1294.],
       [   0.,  128.,   82.,  287.],
       [   3.,    0.,    5.,   67.],
       [ 233.,    0., 2370., 6996.],
       [ 122.,    0.,  398., 1455.],
       [   7.,   27.,    0.,  163.],
       [ 115.,  327.,    0., 3968.],
       [ 169.,  610.,    0., 4208.],
       [  16.,  175.,  136.,    0.],
       [ 545., 2151., 7265.,    0.],
       [ 373., 2800., 4089.,    0.]])

In [ ]:
mtx_for_tra

array([[0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0],
       [1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0]])

In [ ]:
Fd_Kor_mat=np.diag(Fd[:,0])
Fd_Kor_mat[]

In [ ]:
FVA_Kor_mat = Lv@Fd_Kor_mat
FVA_Kor_mat

In [ ]:
tt = pd.DataFrame(DFVA)

In [ ]:
tt.to_csv('확인.csv')

In [ ]:
print(FVA.sum)

## DVA(Domestic Value-added) and FVA(Foreign Value-added)

In [ ]:
Fd = icio_2[0:12,12:16]
Fd

In [ ]:
DFVA = Lv@Fd
DFVA

In [ ]:
DFVA_df = pd.DataFrame(DFVA, columns = ['한국', '중국', '미국', 'ROW'],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
DFVA_df.index.names=['국가', '상품']
DFVA_df

In [ ]:
DFVA_df.to_csv('DFVA.csv', encoding="utf-8-sig")

In [ ]:
import scipy.linalg as linalg

In [ ]:
A = icio_2[:12,:12].astype(float)
A

In [ ]:
FD = icio_2[0:12,12:16]
FD

In [ ]:
mtx_for_int= linalg.block_diag(np.ones((3,3)),np.ones((3,3)),np.ones((3,3)),np.ones((3,3)))
mtx_for_tra=np.where(mtx_for_int == 1, 0, 1)

mtx_for_fnl= linalg.block_diag(np.ones((3,1)),np.ones((3,1)),np.ones((3,1)),np.ones((3,1)))
mtx_for_fnl_tra=np.where(mtx_for_fnl == 1, 0, 1)

INT = icio_2[0:12,0:12].astype(float)

EXIM_INT_mt = (INT*mtx_for_tra).reshape([12,12])  # 중간재 수출입
EXGR_INT = EXIM_INT_mt.sum(axis=1).reshape([12,1])

FD = icio_2[0:12,12:16].astype(float)

EXIM_FNL_mt = (FD*mtx_for_fnl_tra).reshape([12,4])  # 최종재 수출입
EXGR_FNL = EXIM_FNL_mt.sum(axis=1).reshape([12,1])

# EXGR =EXGR_INT + EXGR_FNL  # 총수출입

Ex_all = np.concatenate((EXGR, EXGR_INT, EXGR_FNL),axis=1)


EXIM_INT_df = pd.DataFrame(EXIM_INT_mt, columns = [['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']],

                         index=[['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])

# EXIM_FNL_df = pd.DataFrame(EXIM_FNL_mt, columns = [['한국','중국', '미국','ROW'],

#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
EXIM_INT_df
FD

# Ex_all_df = pd.DataFrame(Ex_all, columns = ['총수출', '중간재수출', '최종재수출'],
#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
# Ex_all_df
# print('중간재 수출 : \n', EXGR_INT, '\n')
# print('최종재 수출 : \n', EXGR_FNL, '\n')
# print('총수출 : \n', EXGR, '\n')

In [ ]:
aa=EXIM_FNL_mt.sum(axis=1)
aa
EXGR

In [ ]:
EXIM_FNL_mt.shape

In [ ]:
# 국가별 제품별 수출입
# 중간재
EXGR_INT = EXIM_INT_mt.sum(axis=1).reshape([12,1]) # 중간재 수출
IMGR_INT = EXIM_INT_mt.sum(axis=0).reshape([12,1]) # 중간재 수입

#최종재
EXGR_FNL = EXIM_FNL_mt.sum(axis=1).reshape([12,1]) # 최종재 수출
IMGR_FNL = EXIM_FNL_mt.sum(axis=0).reshape([4,1]) # 최종재 수입

EXGR = EXIM.sum(axis=1).reshape([12,1])
IMGR = EXIM.sum(axis=0).reshape([12,1])

EXGR_IMGR_vec = np.hstack((EXGR_INT,EXGR_FNL,IMGR_INT,IMGR_FNL, EXGR, IMGR))
EXGR_IMGR_vec

EXGR_IMGR_vec_df = pd.DataFrame(EXGR_IMGR_vec, columns = ['EXGR_INT','EXGR_FNL', 'IMGR_INT','IMGR_FNL','EXGR','IMGR'],

                         index=[['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
EXGR_IMGR_vec_df

In [ ]:
# 경상수지 및 파트너 비중(산업을 나눌 필요가 없으므로 Trade_matrix를 국가별,전산업으로 변환)
Mt_cd_all = np.array([[1,1,1,0,0,0,0,0,0],
                     [0,0,0,1,1,1,0,0,0],
                     [0,0,0,0,0,0,1,1,1]])
trade_1sec = (Mt_cd_all@EXIM)@Mt_cd_all.T
trade_1sec  # trade 매트릭스
exp_1sec = trade_1sec.sum(axis=1).reshape([1,3])
imp_1sec = trade_1sec.sum(axis=0).reshape([3,1])
BALGR = (exp_1sec.T - imp_1sec).reshape([1,3]) #경상수지(Gross trade balance)

BALGR_df = pd.DataFrame(BALGR, columns = ['한국','중국', 'ROW'],

                         index=['BALGR'])

exp_1sec_con = trade_1sec.reshape([3,3])/np.tile((exp_1sec.reshape([1,3]))[1,3])  #전산업, 국가별 수출 매트릭스

exp_1sec_con

In [ ]:
aa=np.tile(exp_1sec[1,3])

In [ ]:
exp_1sec

In [ ]:
exp_1sec.shape

In [ ]:

# IMGR_INT_mt = (INT*mtx_for_tra).reshape([9,9])  # 중간재 수입
# IMGR_INT = IMGR_INT_mt.sum(axis=0).reshape([1,9])

# IMGR_FNL_mt = (FD*mtx_for_tra).reshape([9,9])  # 최종재 수입
# IMGR_FNL = IMGR_FNL_mt.sum(axis=0).reshape([1,9])

# IMGR = IMGR_INT + IMGR_FNL

# print(IMGR_INT_mt)

# Im_all = np.concatenate((IMGR, IMGR_INT, IMGR_FNL),axis=0).T

# Im_all_df = pd.DataFrame(Im_all, columns = ['총수입', '중간재수입', '최종재수입'],
#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
# Im_all_df

# # print('중간재 수입 : \n', IMGR_INT.T, '\n')
# # print('최종재 수입 : \n', IMGR_FNL.T, '\n')
# # print('총수입 : \n', IMGR.T, '\n')

In [ ]:
Mtx = np.zeros((18,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr[:,1]
cd_33 = cd_for_itr[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx[i-1,j-1] = 1
print(Mtx)

In [ ]:
code=Mtx
code.shape

In [ ]:
nae_tot_row = code@icio_2[0:3195,0:3195] # 중간투입(수요)의 행을 18부문으로 만들기
nae_tot_row.shape

In [ ]:
nae_tot_col = nae_tot_row@code.T  # 수작업한 code 이용
nae_tot_col.sum()

In [ ]:
url_cdtx = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_tax.csv"  #코드매치 파일 불러오기
cd_tx = pd.read_csv(url_cdtx)
cd_tx.shape

In [ ]:
url_cns = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_cons.csv"  #코드매치 파일 불러오기
cd_cns = pd.read_csv(url_cns)
cd_cns.shape

In [ ]:
# Mtx_tx= np.zeros((6,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
# cd_3 = cd_for_itr_tx[:,1]
# cd_33 = cd_for_itr_tx[:,0]
# row=cd_3
# col=cd_33
# for i, j in zip(row,col):
#   Mtx_tx[i-1,j-1] = 1
# print(Mtx_tx)

In [ ]:
ccdd_cns = cd_cns.to_numpy()
cd_for_itr_cns = ccdd_cns[:,1:]
# cd_for_itr_tx

In [ ]:
Mtx_cns= np.zeros((6,67)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_cns[:,1]
cd_33 = cd_for_itr_cns[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_cns[i-1,j-1] = 1
print(Mtx_cns)

In [ ]:
# code_tx = Mtx_tx
code_cns = Mtx_cns
code_cns.shape

In [ ]:
nae_tx = code_cns@icio_2[3195:3262,0:3195]@code.T # 세금 행을 6부문으로 만들기
nae_tx

In [ ]:
va_row = icio_2[3262:,0:3195]@code.T # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)
va_row

In [ ]:
url_cdfd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_fd.csv"  #코드매치 파일 불러오기
cd_fd = pd.read_csv(url_cdfd)
cd_fd.head()

In [ ]:
ccdd_fd = cd_fd.to_numpy()
cd_for_itr_fd = ccdd_fd[:,1:]
cd_for_itr_fd.shape

In [ ]:
Mtx_fd= np.zeros((18,402)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_fd[:,1]
cd_33 = cd_for_itr_fd[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_fd[i-1,j-1] = 1
print(Mtx_fd)

In [ ]:
code_fd = Mtx_fd
code_fd.shape

In [ ]:
fd = code@icio_2[0:3195,3195:3597]@code_fd.T # 최종수요를 6부문으로 만들기
fd.shape

In [ ]:
fd_tx = code_cns@icio_2[3195:3262,3195:3597]@code_fd.T
fd_tx.shape

In [ ]:
fd_row=np.concatenate((fd,fd_tx, np.zeros((2,18))))
fd_row.shape

In [ ]:
icio_row = np.concatenate((nae_tot_col,nae_tx, va_row))
icio_row.shape

In [ ]:
icio_col = np.concatenate((icio_row, fd_row), axis=1)

In [ ]:
icio_col_sm = icio_col.sum(axis=1).reshape([26,1]) # 충수요계(산출액과 동일)

In [ ]:
icio_f = np.concatenate((icio_col, icio_col_sm), axis=1).astype(float)

In [ ]:
ICIO_df = pd.DataFrame(icio_f, columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','Output']])
ICIO_df.index.names=['Country', 'Secs']

In [ ]:
ICIO_df.to_csv('ICIO_6cons_3secs.csv')

In [ ]:
ICIO_df_show = pd.DataFrame(icio_f.round(1), columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','Output']])
ICIO_df.index.names=['Country', 'Secs']

In [ ]:
ICIO_df_show