<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/Ch8_1.%20ICIO(%EB%B6%80%EB%AC%B8%ED%86%B5%ED%95%A9).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [40]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

In [41]:
np.set_printoptions(precision=3,suppress=True) # 결과를 소수 3자리까지만 보여주는 옵션

In [42]:
# from google.colab import drive
# drive.mount('/content/drive')

In [43]:
# icio =pd.read_csv('/content/drive/MyDrive/ICIO/ICIO2021_2018.csv')

In [44]:
icio = pd.read_csv('/content/ICIO2021_2018.csv')

In [45]:
icio.head()
icio_1 = icio.to_numpy()
icio_2=icio_1[:,1:]
icio_2

array([[9643.150009, 1086.295836, 52.580112, ..., 0.042162, 18.786884,
        66380.542467],
       [527.834592, 134.506115, 14.185165, ..., 0.002112, 2.253717,
        8497.499648],
       [169.967489, 10.944585, 2412.004698, ..., 1.700465, 2.181065,
        113838.317089],
       ...,
       [-0.271587, -0.030592, -0.000255, ..., 1321.479432, -143.51719,
        233363.621878],
       [26450.511941, 2863.116121, 73088.630073, ..., 0.0, 0.0,
        79901387.613093],
       [66380.542467, 8497.499648, 113838.317089, ..., 0.0, 0.0,
        165301439.135039]], dtype=object)

### 한국 1, 중국2, 미국3, 일본4, EU5(Slovakia는 ICIO에 없음..총 26개국),ROW6

In [46]:
url_cdd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_icio_f.csv"  #코드매치 파일 불러오기
cd = pd.read_csv(url_cdd)
cd.head()

        cons  old  new
0  AUS_01T02    1   16
1     AUS_03    2   16
2  AUS_05T06    3   17
3  AUS_07T08    4   17
4     AUS_09    5   17

In [47]:
ccdd = cd.to_numpy()
cd_for_itr = ccdd[:,1:]
cd_for_itr

array([[1, 16],
       [2, 16],
       [3, 17],
       ...,
       [3193, 6],
       [3194, 6],
       [3195, 6]], dtype=object)

In [48]:
Mtx = np.zeros((18,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr[:,1]
cd_33 = cd_for_itr[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx[i-1,j-1] = 1
print(Mtx)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [1. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [49]:
code=Mtx

In [50]:
nae_tot_row = code@icio_2[0:3195,0:3195] # 중간투입(수요)의 행을 18부문으로 만들기
nae_tot_row.shape

(18, 3195)

In [51]:
nae_tot_col = nae_tot_row@code.T  # 수작업한 code 이용
nae_tot_col.sum()

82339688.20691398

In [52]:
url_cdtx = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_tax.csv"  #코드매치 파일 불러오기
cd_tx = pd.read_csv(url_cdtx)
cd_tx.shape

(67, 3)

In [53]:
ccdd_tx = cd_tx.to_numpy()
cd_for_itr_tx = ccdd_tx[:,1:]
# cd_for_itr_tx

In [54]:
Mtx_tx= np.zeros((6,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_tx[:,1]
cd_33 = cd_for_itr_tx[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_tx[i-1,j-1] = 1
print(Mtx_tx)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 1. 1. ... 0. 0. 0.]
 [1. 0. 0. ... 0. 0. 0.]]

In [55]:
code_tx = Mtx_tx

In [56]:
nae_tx = icio_2[3195:3261,0:3195]@code_tx.T # 세금 행을 6부문으로 만들기
nae_tx.shape

(66, 6)

In [57]:
va_row = icio_2[3262:,0:3195]@code.T # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)
va_row

array([[30122.760078, 461407.057533, 1086426.202384, 939956.9125069999,
        3875230.7805330004, 7974934.793033998, 189809.860399,
        2624235.468104, 17048993.168002002, 49661.415264999996,
        994881.1418300001, 3623356.136527, 254118.11392399995,
        2449788.5691129975, 11483927.38627402, 1960964.892598,
        5989787.542722994, 18863785.412294],
       [57218.381578, 1668464.2372480002, 2097727.368706, 2125907.816808,
        17184795.339190997, 15705083.875234999, 466589.927573,
        6836953.243108001, 28592845.82552, 111408.41369900001,
        2920191.446438, 5897666.385726, 563753.8058219998,
        8030492.383054005, 20831575.541084014, 3153328.681623,
        16512152.189489014, 32545284.27314001]], dtype=object)

In [65]:
url_cdfd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_fd.csv"  #코드매치 파일 불러오기
cd_fd = pd.read_csv(url_cdfd)
cd_fd.head()

        cons  old  new
0   AUS_HFCE    1   16
1  AUS_NPISH    2   16
2   AUS_GGFC    3   16
3   AUS_GFCF    4   17
4  AUS_INVNT    5   17

In [68]:
ccdd_fd = cd_fd.to_numpy()
cd_for_itr_fd = ccdd_fd[:,1:]
cd_for_itr_fd.shape

(402, 2)

In [69]:
Mtx_fd= np.zeros((18,402)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_fd[:,1]
cd_33 = cd_for_itr_fd[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_fd[i-1,j-1] = 1
print(Mtx_fd)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [1. 1. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 1. 1. 0.]
 [0. 0. 0. ... 0. 0. 1.]]

In [70]:
code_fd = Mtx_fd
code_fd.shape

(18, 402)

In [93]:
fd = code@icio_2[0:3195,3195:3597]@code_fd.T # 세금 행을 6부문으로 만들기
fd.shape

(18, 18)

In [99]:
fd_row=np.concatenate((fd,np.zeros((2,18))))
# fd_row

In [100]:
icio_row = np.concatenate((nae_tot_col,va_row))
icio_row.shape

(20, 18)

In [101]:
icio_col = np.concatenate((icio_row, fd_row), axis=1)

In [106]:
icio_col_sm = icio_col.sum(axis=1).reshape([20,1]) # 충수요계(산출액과 동일)

In [121]:
icio_f = np.concatenate((icio_col, icio_col_sm), axis=1).astype(float)
icio_f

array([[ 2.469e+03,  2.820e+04,  1.024e+04,  1.319e+01,  2.945e+01,
         3.897e+00,  3.711e+01,  1.651e+02,  7.021e+01,  1.910e+01,
         8.636e+01,  2.415e+01,  2.196e+00,  1.954e+01,  4.168e+00,
         4.087e+01,  1.061e+02,  4.688e+01,  1.517e+04,  6.124e+01,
         6.010e-04,  1.373e+01,  1.182e+00,  9.386e+01,  4.478e+01,
         1.400e-02,  2.094e+01,  5.746e+01,  3.554e+00,  1.016e+01,
         1.684e+01,  2.394e-01,  1.521e+00,  1.049e+02,  2.452e+00,
         4.587e+01,  5.722e+04],
       [ 1.097e+04,  5.596e+05,  2.593e+05,  5.005e+03,  1.246e+05,
         2.949e+04,  3.966e+02,  1.925e+04,  1.360e+04,  2.199e+02,
         1.622e+04,  7.152e+03,  3.613e+02,  1.650e+04,  6.397e+03,
         5.563e+03,  9.737e+04,  4.666e+04,  1.317e+05,  1.141e+05,
         4.273e-02,  1.069e+04,  2.725e+04,  1.194e+03,  1.671e+04,
         1.838e+04,  3.981e+02,  7.117e+03,  4.064e+03,  1.672e+02,
         9.363e+03,  9.834e+03,  3.703e+01,  4.226e+04,  5.590e+04,
         7.693e+02,  1.668e+06],
       [ 8.517e+03,  2.633e+05,  5.421e+05,  1.129e+03,  1.394e+04,
         9.905e+03,  4.697e+01,  1.705e+03,  4.162e+03,  3.808e+01,
         1.724e+03,  4.451e+03,  6.411e+01,  1.980e+03,  4.303e+03,
         7.141e+02,  1.068e+04,  1.824e+04,  8.313e+05,  3.298e+05,
         8.604e-02,  4.214e+03,  3.414e+03,  5.175e+03,  3.047e+03,
         3.125e+03,  2.030e+03,  2.134e+03,  1.092e+03,  8.212e+02,
         1.838e+03,  1.487e+03,  1.882e+02,  1.102e+04,  6.267e+03,
         3.800e+03,  2.098e+06],
       [ 3.147e+01,  3.726e+02,  1.232e+02,  4.389e+05,  9.691e+05,
         1.500e+05,  2.683e+02,  8.514e+02,  2.685e+02,  2.109e+02,
         8.296e+02,  2.304e+02,  1.528e+02,  8.483e+02,  1.113e+02,
         8.539e+02,  3.366e+03,  9.137e+02,  1.930e+02,  2.266e+00,
         1.305e+02,  4.977e+05,  5.323e+04,  0.000e+00,  4.362e+02,
         0.000e+00,  7.542e+01,  5.792e+02,  4.267e+01,  2.821e+01,
         6.447e+02,  2.144e+01,  3.732e+01,  4.812e+03,  2.895e+02,
         2.662e+02,  2.126e+06],
       [ 6.824e+02,  5.324e+04,  1.830e+04,  4.571e+05,  8.095e+06,
         3.402e+06,  1.821e+03,  8.809e+04,  9.478e+04,  7.901e+02,
         4.801e+04,  3.283e+04,  1.637e+03,  9.503e+04,  5.059e+04,
         1.568e+04,  3.349e+05,  2.144e+05,  1.168e+04,  1.017e+04,
         1.496e+03,  1.587e+06,  1.634e+06,  9.528e+00,  1.511e+05,
         8.476e+04,  1.116e+03,  4.637e+04,  2.745e+04,  3.681e+02,
         9.117e+04,  4.429e+04,  7.299e+02,  2.553e+05,  2.303e+05,
         3.626e+03,  1.718e+07],
       [ 1.057e+02,  6.040e+03,  8.409e+03,  2.400e+05,  2.611e+06,
         3.491e+06,  2.028e+02,  8.636e+03,  1.826e+04,  1.566e+02,
         5.612e+03,  1.178e+04,  3.060e+02,  1.182e+04,  2.577e+04,
         2.207e+03,  3.788e+04,  6.661e+04,  3.316e+03,  3.067e+03,
         5.782e+03,  5.004e+06,  3.958e+06,  1.645e+02,  2.412e+04,
         1.128e+04,  4.394e+03,  8.703e+03,  5.647e+03,  1.331e+03,
         1.885e+04,  9.969e+03,  2.733e+03,  5.413e+04,  3.039e+04,
         1.383e+04,  1.571e+07],
       [ 1.127e+02,  1.292e+03,  3.895e+02,  2.036e+03,  4.653e+03,
         7.733e+02,  8.298e+04,  2.088e+05,  1.999e+04,  6.291e+02,
         2.240e+03,  6.099e+02,  3.277e+02,  2.009e+03,  3.755e+02,
         3.374e+03,  1.217e+04,  1.865e+03,  6.274e+02,  1.401e+01,
         4.595e+01,  2.363e+03,  1.755e+02,  2.106e+02,  1.067e+05,
        -4.434e+03,  4.177e-02,  1.620e+03,  1.188e+02,  2.428e+01,
         1.880e+03,  5.949e+01,  6.931e+01,  1.148e+04,  5.553e+02,
         5.026e+02,  4.666e+05],
       [ 4.069e+02,  2.170e+04,  9.257e+03,  2.959e+03,  5.745e+04,
         1.685e+04,  6.774e+04,  1.666e+06,  1.455e+06,  4.059e+02,
         2.258e+04,  1.494e+04,  1.308e+03,  6.006e+04,  2.702e+04,
         1.304e+04,  2.529e+05,  1.320e+05,  4.156e+03,  6.526e+03,
         8.163e+02,  9.057e+03,  2.009e+04,  3.517e+03,  1.610e+06,
         9.649e+05,  1.232e+00,  1.385e+04,  1.236e+04,  4.854e+02,
         3.775e+04,  2.823e+04,  1.883e+03,  1.718e+05,  1.202e+05,
         1.017e+04,  6.837e+06],
       [ 3.055e+02,  9.533e+03,  1.182e+04,  2.651e+03,  2.416e+04,
         2.341e+04,  1.003e+05,  1.495e+06,  9.182e+06,  5.180e+02,
         1.248e+04,  3.131e+04,  1.480e+03,  5.167e+04,  1.374e+05,
         8.672e+03,  1.107e+05,  2.068e+05,  3.746e+03,  4.052e+03,
         9.089e+03,  1.297e+04,  8.268e+03,  3.981e+04,  1.381e+07,
         2.879e+06,  5.749e+00,  1.496e+04,  6.611e+03,  4.701e+03,
         4.288e+04,  3.614e+04,  1.847e+04,  1.465e+05,  5.587e+04,
         9.471e+04,  2.859e+07],
       [ 2.402e+00,  1.903e+01,  1.601e+01,  3.204e+01,  8.182e+01,
         1.362e+01,  9.943e+00,  1.817e+02,  1.809e+02,  1.215e+04,
         4.643e+04,  1.351e+04,  3.025e+00,  1.519e+01,  4.102e+00,
         2.110e+01,  7.902e+01,  4.916e+01,  1.248e+01,  1.746e+00,
         4.367e+00,  2.727e+01,  6.412e+00,  2.629e+01,  9.760e+01,
         4.382e-01,  8.641e+00,  3.561e+04,  2.593e+03,  1.800e-05,
         1.262e+01,  6.000e-01,  1.646e+00,  1.921e+02,  3.663e+00,
         1.032e+01,  1.114e+05],
       [ 2.851e+02,  2.594e+04,  7.394e+03,  3.144e+03,  7.724e+04,
         2.051e+04,  5.491e+02,  3.061e+04,  1.920e+04,  1.807e+04,
         9.497e+05,  6.130e+05,  4.177e+02,  2.102e+04,  9.255e+03,
         3.381e+03,  1.038e+05,  4.834e+04,  2.836e+03,  7.931e+03,
         4.695e+02,  6.483e+03,  2.705e+04,  2.995e+03,  2.537e+04,
         3.585e+04,  1.234e+03,  5.153e+05,  1.846e+05,  2.429e-02,
         1.219e+04,  1.390e+04,  3.061e+02,  4.931e+04,  8.107e+04,
         1.398e+03,  2.920e+06],
       [ 9.069e+01,  5.717e+03,  3.688e+03,  1.122e+03,  1.821e+04,
         9.355e+03,  1.710e+02,  5.701e+03,  1.117e+04,  2.247e+04,
         4.966e+05,  1.342e+06,  2.219e+02,  1.034e+04,  1.960e+04,
         1.329e+03,  3.280e+04,  4.143e+04,  1.277e+03,  1.699e+03,
         2.693e+03,  3.011e+03,  6.014e+03,  1.435e+04,  6.977e+03,
         6.648e+03,  5.851e+03,  2.877e+06,  8.949e+05,  3.113e-01,
         5.316e+03,  3.735e+03,  1.268e+03,  2.126e+04,  1.688e+04,
         6.738e+03,  5.898e+06],
       [ 1.358e+01,  1.398e+02,  6.293e+01,  4.057e+02,  9.715e+02,
         2.292e+02,  4.425e+02,  1.436e+03,  4.524e+02,  4.560e+01,
         1.796e+02,  9.951e+01,  5.866e+04,  2.237e+05,  4.249e+04,
         3.056e+03,  9.243e+03,  1.909e+03,  7.850e+01,  8.706e+00,
         1.709e+01,  5.236e+02,  6.014e+01,  3.189e+02,  8.934e+02,
         3.672e+01,  5.899e+02,  2.318e+02,  1.293e+01,  2.579e+01,
         1.878e+05,  1.127e+04,  2.136e+03,  1.369e+04,  8.376e+02,
         1.686e+03,  5.638e+05],
       [ 3.483e+02,  2.357e+04,  9.566e+03,  6.085e+03,  1.003e+05,
         3.672e+04,  2.535e+03,  8.588e+04,  6.451e+04,  3.883e+02,
         2.779e+04,  1.920e+04,  8.689e+04,  2.225e+06,  1.292e+06,
         2.382e+04,  3.491e+05,  2.554e+05,  6.234e+03,  9.102e+03,
         1.404e+02,  2.427e+04,  4.462e+04,  2.325e+03,  1.253e+05,
         6.284e+04,  5.177e+03,  1.930e+04,  9.042e+03,  2.142e+02,
         1.600e+06,  8.883e+05,  2.177e+04,  3.285e+05,  2.592e+05,
         1.573e+04,  8.030e+06],
       [ 1.672e+02,  6.850e+03,  9.320e+03,  3.550e+03,  3.485e+04,
         3.677e+04,  7.788e+02,  2.154e+04,  6.647e+04,  1.982e+02,
         8.043e+03,  1.892e+04,  1.203e+05,  1.986e+06,  6.684e+06,
         1.151e+04,  1.342e+05,  3.216e+05,  3.466e+03,  3.252e+03,
         9.855e+02,  2.109e+04,  1.380e+04,  1.441e+04,  5.188e+04,
         2.325e+04,  3.799e+04,  1.044e+04,  4.119e+03,  1.424e+03,
         8.372e+06,  2.214e+06,  1.585e+05,  2.257e+05,  9.574e+04,
         1.151e+05,  2.083e+07],
       [ 2.092e+02,  2.298e+03,  9.588e+02,  1.348e+04,  3.013e+04,
         3.995e+03,  6.645e+03,  2.165e+04,  7.115e+03,  1.158e+03,
         4.489e+03,  1.307e+03,  5.016e+03,  2.492e+04,  3.972e+03,
         4.251e+05,  9.420e+05,  2.477e+05,  1.244e+03,  4.590e+01,
         1.413e+02,  1.374e+04,  1.342e+03,  1.485e+03,  1.082e+04,
         5.591e+01,  1.114e+03,  3.245e+03,  2.354e+02,  8.649e+01,
         1.845e+04,  9.471e+02,  8.305e+02,  1.288e+06,  6.658e+04,
         2.550e+03,  3.153e+06],
       [ 1.153e+03,  1.470e+05,  4.676e+04,  1.764e+04,  6.256e+05,
         1.409e+05,  5.987e+03,  3.931e+05,  2.014e+05,  1.241e+03,
         1.637e+05,  5.404e+04,  1.005e+04,  4.801e+05,  2.020e+05,
         3.007e+05,  4.810e+06,  2.835e+06,  1.489e+04,  1.122e+04,
         1.663e+03,  4.939e+04,  4.060e+04,  1.734e+04,  2.929e+05,
         1.614e+05,  1.646e+04,  4.713e+04,  2.418e+04,  1.102e+03,
         2.460e+05,  8.275e+04,  1.215e+04,  3.462e+06,  1.561e+06,
         3.404e+04,  1.651e+07],
       [ 4.290e+02,  1.861e+04,  2.620e+04,  8.928e+03,  9.403e+04,
         7.194e+04,  3.186e+03,  7.032e+04,  1.660e+05,  6.442e+02,
         2.221e+04,  4.529e+04,  4.958e+03,  1.313e+05,  3.438e+05,
         3.385e+05,  2.882e+06,  8.628e+06,  8.084e+03,  5.104e+03,
         1.076e+04,  4.670e+04,  2.735e+04,  1.333e+05,  1.144e+05,
         5.901e+04,  1.029e+05,  2.444e+04,  8.385e+03,  6.156e+03,
         1.384e+05,  7.626e+04,  7.199e+04,  1.429e+07,  4.368e+06,
         1.962e+05,  3.255e+07],
       [ 3.012e+04,  4.614e+05,  1.086e+06,  9.400e+05,  3.875e+06,
         7.975e+06,  1.898e+05,  2.624e+06,  1.705e+07,  4.966e+04,
         9.949e+05,  3.623e+06,  2.541e+05,  2.450e+06,  1.148e+07,
         1.961e+06,  5.990e+06,  1.886e+07,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  7.990e+07],
       [ 5.722e+04,  1.668e+06,  2.098e+06,  2.126e+06,  1.718e+07,
         1.571e+07,  4.666e+05,  6.837e+06,  2.859e+07,  1.114e+05,
         2.920e+06,  5.898e+06,  5.638e+05,  8.030e+06,  2.083e+07,
         3.153e+06,  1.651e+07,  3.255e+07,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,  0.000e+00,
         0.000e+00,  1.653e+08]])

In [124]:
ICIO_df = pd.DataFrame(icio_f, columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','tax','Output']])
ICIO_df.index.names=['Country', 'Secs']

In [126]:
ICIO_df.to_csv('ICIO_6cons_3secs.csv')

In [127]:
ICIO_df_show = pd.DataFrame(icio_f.round(1), columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','tax','Output']])
ICIO_df_show.index.names=['Country', 'Secs']

In [128]:
ICIO_df_show

                    KOR                              CHN              \
                    Agr       Manu       Serv        Agr        Manu
Country Secs
KOR     Agr      2469.3    28195.5    10238.5       13.2        29.4
        Manu    10967.0   559580.9   259256.2     5004.8    124554.1
        Serv     8516.6   263317.9   542061.6     1129.1     13943.9
CHN     Agr        31.5      372.6      123.2   438877.2    969085.5
        Manu      682.4    53244.3    18295.4   457060.5   8094558.0
        Serv      105.7     6039.7     8408.6   240006.8   2610966.5
USA     Agr       112.7     1292.5      389.5     2036.4      4653.4
        Manu      406.9    21703.2     9257.0     2959.2     57445.9
        Serv      305.5     9533.4    11819.1     2650.7     24156.4
JPN     Agr         2.4       19.0       16.0       32.0        81.8
        Manu      285.1    25944.1     7394.5     3144.1     77238.4
        Serv       90.7     5717.4     3688.2     1122.3     18205.6
EU      Agr        13.6      139.8       62.9      405.7       971.5
        Manu      348.3    23565.8     9566.3     6084.7    100318.0
        Serv      167.2     6849.5     9320.2     3550.0     34848.2
ROW     Agr       209.2     2298.4      958.8    13475.2     30130.3
        Manu     1153.4   147005.1    46761.5    17637.8    625596.3
        Serv      429.0    18609.0    26204.4     8927.6     94026.3
Tax     tax     30122.8   461407.1  1086426.2   939956.9   3875230.8
CT      Output  57218.4  1668464.2  2097727.4  2125907.8  17184795.3

                                 USA                              JPN  ...  \
                      Serv       Agr       Manu        Serv       Agr  ...
Country Secs                                                           ...
KOR     Agr            3.9      37.1      165.1        70.2      19.1  ...
        Manu       29490.7     396.6    19252.3     13595.8     219.9  ...
        Serv        9905.4      47.0     1705.5      4161.8      38.1  ...
CHN     Agr       150018.7     268.3      851.4       268.5     210.9  ...
        Manu     3401812.3    1820.8    88087.7     94776.2     790.1  ...
        Serv     3490900.6     202.8     8636.4     18260.8     156.6  ...
USA     Agr          773.3   82976.5   208796.0     19988.6     629.1  ...
        Manu       16846.7   67741.5  1665793.3   1454826.0     405.9  ...
        Serv       23409.1  100286.1  1495083.5   9182058.2     518.0  ...
JPN     Agr           13.6       9.9      181.7       180.9   12151.4  ...
        Manu       20514.2     549.1    30608.7     19202.5   18072.5  ...
        Serv        9355.0     171.0     5700.6     11174.5   22472.9  ...
EU      Agr          229.2     442.5     1436.3       452.4      45.6  ...
        Manu       36721.9    2534.7    85880.0     64510.1     388.3  ...
        Serv       36768.3     778.8    21543.2     66465.9     198.2  ...
ROW     Agr         3994.6    6644.9    21651.6      7115.3    1157.6  ...
        Manu      140915.4    5987.0   393079.7    201365.4    1240.6  ...
        Serv       71935.0    3186.4    70322.3    165963.3     644.2  ...
Tax     tax      7974934.8  189809.9  2624235.5  17048993.2   49661.4  ...
CT      Output  15705083.9  466589.9  6836953.2  28592845.8  111408.4  ...

                                                    EU                       \
                     Cons       Inv     Exp       Cons        Inv       Exp
Country Secs
KOR     Agr          57.5       3.6    10.2       16.8        0.2       1.5
        Manu       7116.7    4064.3   167.2     9363.3     9834.0      37.0
        Serv       2133.9    1091.9   821.2     1838.1     1486.6     188.2
CHN     Agr         579.2      42.7    28.2      644.7       21.4      37.3
        Manu      46369.3   27453.6   368.1    91169.3    44287.2     729.9
        Serv       8703.1    5647.2  1331.1    18847.0     9968.9    2732.7
USA     Agr        1620.2     118.8    24.3     1880.5       59.5      69.3
        Manu      13849.2   12360.1   485.4    37746.2    28229.0    1882.6
        Serv      14958.7    6611.5  4701.5    42878.9    36136.0   18474.6
JPN     Agr       35608.5    2593.4     0.0       12.6        0.6       1.6
        Manu     515331.0  184578.3     0.0    12185.7    13904.9     306.1
        Serv    2877494.8  894873.9     0.3     5316.2     3735.2    1268.4
EU      Agr         231.8      12.9    25.8   187760.2    11268.8    2136.2
        Manu      19298.3    9042.4   214.2  1599505.7   888282.2   21765.5
        Serv      10435.4    4119.2  1424.3  8371820.4  2213748.4  158470.6
ROW     Agr        3245.4     235.4    86.5    18450.7      947.1     830.5
        Manu      47131.5   24181.5  1101.6   246024.1    82748.4   12147.3
        Serv      24441.3    8384.5  6156.0   138434.9    76260.4   71986.1
Tax     tax           0.0       0.0     0.0        0.0        0.0       0.0
CT      Output        0.0       0.0     0.0        0.0        0.0       0.0

                       ROW                             Total
                      Cons        Inv       Exp          Tot
Country Secs
KOR     Agr          104.9        2.5      45.9      57218.4
        Manu       42256.7    55902.1     769.3    1668464.2
        Serv       11018.6     6267.2    3799.7    2097727.4
CHN     Agr         4812.1      289.5     266.2    2125907.8
        Manu      255285.4   230325.5    3625.7   17184795.3
        Serv       54127.6    30390.6   13833.2   15705083.9
USA     Agr        11482.9      555.3     502.6     466589.9
        Manu      171822.6   120237.5   10167.5    6836953.2
        Serv      146521.5    55871.9   94709.4   28592845.8
JPN     Agr          192.1        3.7      10.3     111408.4
        Manu       49314.6    81068.0    1398.2    2920191.4
        Serv       21264.1    16876.8    6738.1    5897666.4
EU      Agr        13694.3      837.6    1686.3     563753.8
        Manu      328455.4   259158.8   15726.5    8030492.4
        Serv      225672.3    95735.1  115081.5   20831575.5
ROW     Agr      1288314.8    66576.7    2550.0    3153328.7
        Manu     3462275.5  1560526.4   34037.3   16512152.2
        Serv    14291203.0  4367640.7  196180.9   32545284.3
Tax     tax            0.0        0.0       0.0   79901387.6
CT      Output         0.0        0.0       0.0  165301439.1

[20 rows x 37 columns]