<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/Ch8_1.%20ICIO_Indicators_1001.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [44]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

In [45]:
np.set_printoptions(precision=3,suppress=True) # 결과를 소수 3자리까지만 보여주는 옵션

In [46]:
# from google.colab import drive
# drive.mount('/content/drive')

In [47]:
# icio =pd.read_csv('/content/drive/MyDrive/ICIO/ICIO2021_2018.csv')

In [48]:
url_icio = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/4cons_3secs_1fd_final.csv"  # 4국 9부문 2020년 ICIO 불러오기
icio = pd.read_csv(url_icio)
icio.head()

,단위,억달러,한국,한국.1,한국.2,중국,중국.1,중국.2,미국,미국.1,미국.2,ROW,ROW.1,ROW.2,한국.3,중국.3,미국.3,ROW.3,총계
0,국가,산업,농산품,공산품,서비스,농산품,공산품,서비스,농산품,공산품,서비스,농산품,공산품,서비스,최종수요,최종수요,최종수요,최종수요,총수요
1,한국,농산품,25,282,102,0,0,0,0,2,1,1,2,1,152,1,1,2,572
2,한국,공산품,110,5596,2593,50,1246,295,4,193,136,61,1301,602,2458,391,355,1294,16685
3,한국,서비스,85,2633,5421,11,139,99,0,17,42,8,144,270,11611,128,82,287,20977
4,중국,농산품,0,4,1,4389,9691,1500,3,9,3,12,50,13,3,5509,5,67,21259

In [49]:
icio_1 = icio.to_numpy()
icio_2=icio_1[1:,2:].astype(float)
icio_2

array([[     25.,     282.,     102.,       0.,       0.,       0.,
              0.,       2.,       1.,       1.,       2.,       1.,
            152.,       1.,       1.,       2.,     572.],
       [    110.,    5596.,    2593.,      50.,    1246.,     295.,
              4.,     193.,     136.,      61.,    1301.,     602.,
           2458.,     391.,     355.,    1294.,   16685.],
       [     85.,    2633.,    5421.,      11.,     139.,      99.,
              0.,      17.,      42.,       8.,     144.,     270.,
          11611.,     128.,      82.,     287.,   20977.],
       [      0.,       4.,       1.,    4389.,    9691.,    1500.,
              3.,       9.,       3.,      12.,      50.,      13.,
              3.,    5509.,       5.,      67.,   21259.],
       [      7.,     532.,     183.,    4571.,   80946.,   34018.,
             18.,     881.,     948.,     181.,    4780.,    2978.,
            233.,   32206.,    2370.,    6996.,  171848.],
       [      1.,      60.,      84.,    2400.,   26110.,   34909.,
              2.,      86.,     183.,      27.,     553.,    1042.,
            122.,   89619.,     398.,    1455.,  157051.],
       [      1.,      13.,       4.,      20.,      47.,       8.,
            830.,    2088.,     200.,      43.,     164.,      29.,
              7.,      27.,    1022.,     163.,    4666.],
       [      4.,     217.,      93.,      30.,     574.,     168.,
            677.,   16658.,   14548.,     148.,    3356.,    1740.,
            115.,     327.,   25747.,    3968.,   68370.],
       [      3.,      95.,     118.,      27.,     242.,     234.,
           1003.,   14951.,   91821.,     107.,    1748.,    3755.,
            169.,     610.,  166837.,    4208.,  285928.],
       [      2.,      25.,      10.,     139.,     312.,      42.,
             71.,     233.,      77.,    5052.,   12511.,    3110.,
             16.,     175.,     136.,   16374.,   38285.],
       [     18.,    1965.,     637.,     269.,    8032.,    1982.,
             91.,    5096.,    2851.,    4449.,   91300.,   53282.,
            545.,    2151.,    7265.,   94695.,  274628.],
       [      7.,     312.,     392.,     136.,    1471.,    1181.,
             41.,     976.,    2436.,    5001.,   57042.,  174441.,
            373.,    2800.,    4089.,  342047.,  592745.],
       [      8.,     336.,     475.,       0.,       0.,       0.,
              0.,       0.,       0.,       0.,       0.,       0.,
            651.,       3.,       1.,       3.,    1477.],
       [      0.,       0.,       0.,    -182.,    4288.,    2865.,
              0.,       0.,       0.,       0.,       0.,       0.,
             -1.,    4052.,      -1.,      -4.,   11017.],
       [      0.,       0.,       0.,       0.,       0.,       0.,
             27.,     939.,    2194.,       0.,       0.,       0.,
              5.,      19.,    4229.,      68.,    7481.],
       [      0.,       0.,       0.,       0.,       0.,       0.,
              0.,       0.,       0.,     547.,    7332.,   11773.,
              4.,      57.,      56.,   21711.,   41480.],
       [    301.,    4615.,   10864.,    9399.,   38750.,   79750.,
           1899.,   26241.,  170488.,   22648.,   94345.,  339709.,
              0.,       0.,       0.,       0.,  799009.],
       [    572.,   16685.,   20977.,   21259.,  171848.,  157051.,
           4666.,   68370.,  285928.,   38285.,  274628.,  592745.,
              0.,       0.,       0.,       0., 1653014.]])

### 한국 1, 중국2, 미국3, ROW4

#### 산업구조
##### 국가별 산업 비중

###### 가. 산업구조

In [50]:
Mt = icio_2
va = Mt[-2,:12].reshape([1,12]) # 산업별 부가가치
ct = Mt[-1,:12].reshape([1,12])  # 산업별 산출액
va

array([[   301.,   4615.,  10864.,   9399.,  38750.,  79750.,   1899.,
         26241., 170488.,  22648.,  94345., 339709.]])

In [52]:
# 산출액기준

KOR_ct = (ct[:,:3]/(ct[-1,:3].sum())*100)  # 한국 산업별 비중
CHN_ct = (ct[:,3:6]/(ct[-1,3:6].sum())*100) # 중국 산업별 비중
USA_ct = (ct[:,6:9]/(ct[-1,6:9].sum())*100)  # 미국 산업별 비중
ROW_ct = (ct[:,9:12]/(ct[-1,9:12].sum())*100) # ROW 산업별 비중

WORLD_ct_sm = ct[:,:12].sum()
WORLD_agr_ct = ct[:,0]+ct[:,3]+ct[:,6]+ct[:,9]
WORLD_manu_ct = ct[:,1]+ct[:,4]+ct[:,7]+ct[:,10]
WORLD_ser_ct = ct[:,2]+ct[:,5]+ct[:,8]+ct[:,11]

WORLD_ct = np.hstack((WORLD_agr_ct,WORLD_manu_ct,WORLD_ser_ct))/WORLD_ct_sm*100
WORLD_ct
IND_CT_CONS = np.vstack((KOR_ct,CHN_ct,USA_ct,ROW_ct,WORLD_ct))
IND_CT_CONS

array([[ 1.496, 43.639, 54.865],
       [ 6.071, 49.077, 44.851],
       [ 1.3  , 19.046, 79.654],
       [ 4.227, 30.324, 65.449],
       [ 3.919, 32.155, 63.926]])

In [53]:
# 부가가치기준

KOR_va = (va[:,:3]/(va[-1,:3].sum())*100)  # 한국 산업별 비중
CHN_va = (va[:,3:6]/(va[-1,3:6].sum())*100) # 중국 산업별 비중
USA_va = (va[:,6:9]/(va[-1,6:9].sum())*100)  # 미국 산업별 비중
ROW_va = (va[:,9:12]/(va[-1,9:12].sum())*100) # ROW 산업별 비중

WORLD_va_sm = va[:,:12].sum()
WORLD_agr_va = va[:,0]+va[:,3]+va[:,6]+va[:,9]
WORLD_manu_va = va[:,1]+va[:,4]+va[:,7]+va[:,10]
WORLD_ser_va = va[:,2]+va[:,5]+va[:,8]+va[:,11]

WORLD_va = np.hstack((WORLD_agr_va,WORLD_manu_va,WORLD_ser_va))/WORLD_va_sm*100

IND_VA_CONS = np.vstack((KOR_va,CHN_va,USA_va,ROW_va,WORLD_va))
IND_VA_CONS

array([[ 1.907, 29.246, 68.847],
       [ 7.349, 30.297, 62.354],
       [ 0.956, 13.211, 85.833],
       [ 4.959, 20.658, 74.383],
       [ 4.286, 20.519, 75.195]])

In [54]:
WGT_by_CONS = np.hstack((IND_CT_CONS,IND_VA_CONS))
WGT_by_CONS

array([[ 1.496, 43.639, 54.865,  1.907, 29.246, 68.847],
       [ 6.071, 49.077, 44.851,  7.349, 30.297, 62.354],
       [ 1.3  , 19.046, 79.654,  0.956, 13.211, 85.833],
       [ 4.227, 30.324, 65.449,  4.959, 20.658, 74.383],
       [ 3.919, 32.155, 63.926,  4.286, 20.519, 75.195]])

In [55]:
CONS_wgt_df = pd.DataFrame(WGT_by_CONS.round(1), columns = [['산출액기준','산출액기준','산출액기준','부가가치기준','부가가치기준','부가가치기준'],
                                                         ['농업', '제조업', '서비스업','농업', '제조업', '서비스업']],
                     index=['한국', '중국', '미국', 'ROW', '전세계']) # 변수명 붙여서 pandas로 내보내기
CONS_wgt_df

    산출액기준             부가가치기준
       농업   제조업  서비스업     농업   제조업  서비스업
한국    1.5  43.6  54.9    1.9  29.2  68.8
중국    6.1  49.1  44.9    7.3  30.3  62.4
미국    1.3  19.0  79.7    1.0  13.2  85.8
ROW   4.2  30.3  65.4    5.0  20.7  74.4
전세계   3.9  32.2  63.9    4.3  20.5  75.2

In [56]:
CONS_wgt_df.to_csv('국가별 산업 비중.csv', encoding='utf_8-sig')

#### 산업별국가비중
###### 산출액기준

In [57]:
agr_ct_cons = np.hstack((ct[:,0],ct[:,3],ct[:,6],ct[:,9]))
manu_ct_cons = np.hstack((ct[:,1],ct[:,4],ct[:,7],ct[:,10]))
ser_ct_cons = np.hstack((ct[:,2],ct[:,5],ct[:,8],ct[:,11]))

all_ct_cons = np.hstack((ct[-1,:3].sum(),ct[-1,3:6].sum(),ct[-1,6:9].sum(),ct[-1,9:12].sum()))
all_ct_cons

array([ 38234., 350158., 358964., 905658.])

In [58]:
agr_ct_cons_wgt = (agr_ct_cons/agr_ct_cons.sum())*100
manu_ct_cons_wgt = (manu_ct_cons/manu_ct_cons.sum())*100
ser_ct_cons_wgt = (ser_ct_cons/ser_ct_cons.sum())*100
all_ct_cons_wgt = (all_ct_cons/all_ct_cons.sum())*100

cons_ct_ind = np.vstack((agr_ct_cons_wgt,manu_ct_cons_wgt,ser_ct_cons_wgt,all_ct_cons_wgt,))
cons_ct_ind

array([[ 0.883, 32.816,  7.203, 59.098],
       [ 3.139, 32.331, 12.863, 51.667],
       [ 1.985, 14.862, 27.059, 56.094],
       [ 2.313, 21.183, 21.716, 54.788]])

###### 부가가치기준

In [59]:
agr_va_cons = np.hstack((va[:,0],va[:,3],va[:,6],va[:,9]))
manu_va_cons = np.hstack((va[:,1],va[:,4],va[:,7],va[:,10]))
ser_va_cons = np.hstack((va[:,2],va[:,5],va[:,8],va[:,11]))

all_va_cons = np.hstack((va[-1,:3].sum(),va[-1,3:6].sum(),va[-1,6:9].sum(),va[-1,9:12].sum()))
all_va_cons

array([ 15780., 127899., 198628., 456702.])

In [60]:
agr_va_cons_wgt = (agr_va_cons/agr_va_cons.sum())*100
manu_va_cons_wgt = (manu_va_cons/manu_va_cons.sum())*100
ser_va_cons_wgt = (ser_va_cons/ser_va_cons.sum())*100
all_va_cons_wgt = (all_va_cons/all_va_cons.sum())*100

cons_va_ind = np.vstack((agr_va_cons_wgt,manu_va_cons_wgt,ser_va_cons_wgt,all_va_cons_wgt,))
cons_va_ind

array([[ 0.879, 27.445,  5.545, 66.131],
       [ 2.815, 23.635, 16.005, 57.545],
       [ 1.808, 13.274, 28.376, 56.542],
       [ 1.975, 16.007, 24.859, 57.159]])

In [61]:
WGT_by_INDS = np.hstack((cons_ct_ind,cons_va_ind))
WGT_by_INDS

array([[ 0.883, 32.816,  7.203, 59.098,  0.879, 27.445,  5.545, 66.131],
       [ 3.139, 32.331, 12.863, 51.667,  2.815, 23.635, 16.005, 57.545],
       [ 1.985, 14.862, 27.059, 56.094,  1.808, 13.274, 28.376, 56.542],
       [ 2.313, 21.183, 21.716, 54.788,  1.975, 16.007, 24.859, 57.159]])

In [62]:
INDS_wgt_df = pd.DataFrame(WGT_by_INDS.round(1), columns = [['산출액기준','산출액기준','산출액기준','산출액기준','부가가치기준','부가가치기준','부가가치기준','부가가치기준'],
                                                         ['한국', '중국', '미국','ROW', '한국', '중국', '미국','ROW']],
                     index=['농업', '제조업', '서비스업', '전부문']) # 변수명 붙여서 pandas로 내보내기
INDS_wgt_df

     산출액기준                   부가가치기준
        한국    중국    미국   ROW     한국    중국    미국   ROW
농업     0.9  32.8   7.2  59.1    0.9  27.4   5.5  66.1
제조업    3.1  32.3  12.9  51.7    2.8  23.6  16.0  57.5
서비스업   2.0  14.9  27.1  56.1    1.8  13.3  28.4  56.5
전부문    2.3  21.2  21.7  54.8    2.0  16.0  24.9  57.2

In [87]:
INDS_wgt_df.to_csv('산업별 국가 비중.csv', encoding='utf_8-sig')

## 국가별 투입배분구조 및 수출입은 각 산업별로 구할 필요가 없으므로 각 국의 3개 산업을 통합하여 표를 재구성

In [63]:
cd_for_nae = np.array([[1,1,1,0,0,0,0,0,0,0,0,0],  # 행렬 곱을 이용한 부문 통합
       [0,0,0,1,1,1,0,0,0,0,0,0],
       [0,0,0,0,0,0,1,1,1,0,0,0],
       [0,0,0,0,0,0,0,0,0,1,1,1]])

In [98]:
A_nae_rw = cd_for_nae@Mt[:12,:12]
A_nae_rw

array([[   220.,   8511.,   8116.,     61.,   1385.,    394.,      4.,
           212.,    179.,     70.,   1447.,    873.],
       [     8.,    596.,    268.,  11360., 116747.,  70427.,     23.,
           976.,   1134.,    220.,   5383.,   4033.],
       [     8.,    325.,    215.,     77.,    863.,    410.,   2510.,
         33697., 106569.,    298.,   5268.,   5524.],
       [    27.,   2302.,   1039.,    544.,   9815.,   3205.,    203.,
          6305.,   5364.,  14502., 160853., 230833.]])

In [99]:
A_nae_col = A_nae_rw@cd_for_nae.T
A_nae_col

array([[ 16847.,   1840.,    395.,   2390.],
       [   872., 198534.,   2133.,   9636.],
       [   548.,   1350., 142776.,  11090.],
       [  3368.,  13564.,  11872., 406188.]])

In [100]:
va_rw = Mt[12:18,0:12]@cd_for_nae.T # 순생산물세와 부가가치 통합
va_rw

array([[   819.,      0.,      0.,      0.],
       [     0.,   6971.,      0.,      0.],
       [     0.,      0.,   3160.,      0.],
       [     0.,      0.,      0.,  19652.],
       [ 15780., 127899., 198628., 456702.],
       [ 38234., 350158., 358964., 905658.]])

In [101]:
fd_rw = cd_for_nae@Mt[:12,12:16]
fd_rw

array([[ 14221.,    520.,    438.,   1583.],
       [   358., 127334.,   2773.,   8518.],
       [   291.,    964., 193606.,   8339.],
       [   934.,   5126.,  11490., 453116.]])

In [102]:
fd_txva=Mt[12:,12:16]
fd_txva

array([[  651.,     3.,     1.,     3.],
       [   -1.,  4052.,    -1.,    -4.],
       [    5.,    19.,  4229.,    68.],
       [    4.,    57.,    56., 21711.],
       [    0.,     0.,     0.,     0.],
       [    0.,     0.,     0.,     0.]])

In [103]:
nae_vact = np.vstack((A_nae_col,va_rw))
fd_all = np.vstack((fd_rw,fd_txva))

In [104]:
Mt_1sec = np.hstack((nae_vact,fd_all)) # 1산업 ICIO
Mt_1sec.shape

(10, 8)

In [105]:
icio_1sec_df = pd.DataFrame(Mt_1sec, columns = ['한국', '중국', '미국','ROW', '한국_fd', '중국_fd', '미국_fd','ROW_fd'],
                     index=['한국', '중국', '미국','ROW','한국_tax', '중국_tax', '미국_tax','ROW_tax','부가가치','총투입액']) # 변수명 붙여서 pandas로 내보내기

icio_1sec_df

,한국,중국,미국,ROW,한국_fd,중국_fd,미국_fd,ROW_fd
한국,16847.0,1840.0,395.0,2390.0,14221.0,520.0,438.0,1583.0
중국,872.0,198534.0,2133.0,9636.0,358.0,127334.0,2773.0,8518.0
미국,548.0,1350.0,142776.0,11090.0,291.0,964.0,193606.0,8339.0
ROW,3368.0,13564.0,11872.0,406188.0,934.0,5126.0,11490.0,453116.0
한국_tax,819.0,0.0,0.0,0.0,651.0,3.0,1.0,3.0
중국_tax,0.0,6971.0,0.0,0.0,-1.0,4052.0,-1.0,-4.0
미국_tax,0.0,0.0,3160.0,0.0,5.0,19.0,4229.0,68.0
ROW_tax,0.0,0.0,0.0,19652.0,4.0,57.0,56.0,21711.0
부가가치,15780.0,127899.0,198628.0,456702.0,0.0,0.0,0.0,0.0
총투입액,38234.0,350158.0,358964.0,905658.0,0.0,0.0,0.0,0.0

In [106]:
icio_1sec_df.to_csv('1국가_1산업.csv', encoding='utf_8-sig')

#### 국가별 투입구조

In [184]:
one_diag = np.identity(n=4)
zero_diag = np.where(one_diag == 1, 0, 1)
zero_diag

array([[0, 1, 1, 1],
       [1, 0, 1, 1],
       [1, 1, 0, 1],
       [1, 1, 1, 0]])

In [196]:
dom=Mt_1sec[:4,:4]*one_diag
dom_sm=dom.sum(axis=1).reshape([4,1])
dom_sm

array([[ 16847.],
       [198534.],
       [142776.],
       [406188.]])

In [197]:
imp=Mt_1sec[:4,:4]*zero_diag

imp_kor = np.delete(imp[:,0], np.where(imp[:,0] == 0))
imp_chn = np.delete(imp[:,1], np.where(imp[:,1] == 0))
imp_usa = np.delete(imp[:,2], np.where(imp[:,2] == 0))
imp_row = np.delete(imp[:,3], np.where(imp[:,3] == 0))

imp_4cons = np.vstack((imp_kor,imp_chn,imp_usa,imp_row))
imp_4cons

array([[  872.,   548.,  3368.],
       [ 1840.,  1350., 13564.],
       [  395.,  2133., 11872.],
       [ 2390.,  9636., 11090.]])

In [198]:
imp

array([[    0.,  1840.,   395.,  2390.],
       [  872.,     0.,  2133.,  9636.],
       [  548.,  1350.,     0., 11090.],
       [ 3368., 13564., 11872.,     0.]])

In [199]:
imp_kor_sm = imp_kor.sum() # 수입중간투입합
imp_chn_sm = imp_chn.sum()
imp_usa_sm = imp_usa.sum()
imp_row_sm = imp_row.sum()
imp_tot = np.vstack((imp_kor_sm,imp_chn_sm,imp_usa_sm,imp_row_sm))
imp_tot

array([[ 4788.],
       [16754.],
       [14400.],
       [23116.]])

In [200]:
tip_kor = dom_sm[0]+imp_kor_sm #총중간투입액
tip_chn = dom_sm[1]+imp_chn_sm
tip_usa = dom_sm[2]+imp_usa_sm
tip_row = dom_sm[3]+imp_row_sm
tip_tot = np.vstack((tip_kor,tip_chn,tip_usa,tip_row))
tip_tot.shape

(4, 1)

In [201]:
tx = Mt_1sec[4:8,0:4]
tx_sm = tx.sum(axis=1).reshape([4,1])
tx_sm

array([[  819.],
       [ 6971.],
       [ 3160.],
       [19652.]])

In [202]:
va_1sec = Mt_1sec[8,0:4].reshape([4,1])
va_1sec

array([[ 15780.],
       [127899.],
       [198628.],
       [456702.]])

In [203]:
tot_input = tip_tot+tx_sm.reshape([4,1])+va_1sec.reshape([4,1])
tot_input

array([[ 38234.],
       [350158.],
       [358964.],
       [905658.]])

In [204]:
input_mat = np.hstack((dom_sm,imp_4cons,imp_tot,tip_tot, tx_sm, va_1sec.reshape([4,1]), tot_input))
input_sm = input_mat.sum(axis=0)

In [205]:
input_strc = np.vstack((input_mat,input_sm))
input_strc

array([[  16847.,     872.,     548.,    3368.,    4788.,   21635.,
            819.,   15780.,   38234.],
       [ 198534.,    1840.,    1350.,   13564.,   16754.,  215288.,
           6971.,  127899.,  350158.],
       [ 142776.,     395.,    2133.,   11872.,   14400.,  157176.,
           3160.,  198628.,  358964.],
       [ 406188.,    2390.,    9636.,   11090.,   23116.,  429304.,
          19652.,  456702.,  905658.],
       [ 764345.,    5497.,   13667.,   39894.,   59058.,  823403.,
          30602.,  799009., 1653014.]])

In [206]:
input_strc_df = pd.DataFrame(input_strc, columns = ['국산품', '중국', '미국','ROW', '수입품', '중간투입액', '순생산물세','부가가치','총투입액'],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

input_strc_df

,국산품,중국,미국,ROW,수입품,중간투입액,순생산물세,부가가치,총투입액
한국,16847.0,872.0,548.0,3368.0,4788.0,21635.0,819.0,15780.0,38234.0
중국,198534.0,1840.0,1350.0,13564.0,16754.0,215288.0,6971.0,127899.0,350158.0
미국,142776.0,395.0,2133.0,11872.0,14400.0,157176.0,3160.0,198628.0,358964.0
ROW,406188.0,2390.0,9636.0,11090.0,23116.0,429304.0,19652.0,456702.0,905658.0
전세계,764345.0,5497.0,13667.0,39894.0,59058.0,823403.0,30602.0,799009.0,1653014.0

In [207]:
input_strc_df.to_csv('국가별 투입구조.csv', encoding='utf_8-sig')

#### 국가별 배분구조

In [208]:
imp_dstr = imp.sum(axis=1).reshape([4,1])
imp_dstr

array([[ 4625.],
       [12641.],
       [12988.],
       [28804.]])

In [213]:
id_tot = dom_sm + imp_dstr
id_tot

array([[ 21472.],
       [211175.],
       [155764.],
       [434992.]])

In [216]:
fd_dom = (Mt_1sec[0:4,4:8]*one_diag).sum(axis=1).reshape([4,1])
fd_imp = (Mt_1sec[0:4,4:8]*zero_diag).sum(axis=1).reshape([4,1])
fd_tot = fd_dom + fd_imp
fd_dom

array([[ 14221.],
       [127334.],
       [193606.],
       [453116.]])

In [217]:
tot_dmd = id_tot + fd_tot
tot_dmd

array([[ 38234.],
       [350158.],
       [358964.],
       [905658.]])

In [221]:
dstr_mat = np.hstack((dom_sm,imp_dstr, id_tot, fd_dom, fd_imp, fd_tot,tot_dmd))
dstr_sm = dstr_mat.sum(axis=0)

In [222]:
dstr_strc = np.vstack((dstr_mat,dstr_sm))
dstr_strc

array([[  16847.,    4625.,   21472.,   14221.,    2541.,   16762.,
          38234.],
       [ 198534.,   12641.,  211175.,  127334.,   11649.,  138983.,
         350158.],
       [ 142776.,   12988.,  155764.,  193606.,    9594.,  203200.,
         358964.],
       [ 406188.,   28804.,  434992.,  453116.,   17550.,  470666.,
         905658.],
       [ 764345.,   59058.,  823403.,  788277.,   41334.,  829611.,
        1653014.]])

In [223]:
dstr_strc_df = pd.DataFrame(dstr_strc, columns = [['중간수요', '중간수요', '중간수요','최종수요', '최종수요', '최종수요', '총수요'],
                                                  ['자국', '타국', '중간수요계','자국', '타국', '최종수요계', '총수요계']],
                     index=['한국', '중국', '미국','ROW','전세계']) # 변수명 붙여서 pandas로 내보내기

dstr_strc_df

         중간수요                         최종수요                           총수요
           자국       타국     중간수요계        자국       타국     최종수요계       총수요계
한국    16847.0   4625.0   21472.0   14221.0   2541.0   16762.0    38234.0
중국   198534.0  12641.0  211175.0  127334.0  11649.0  138983.0   350158.0
미국   142776.0  12988.0  155764.0  193606.0   9594.0  203200.0   358964.0
ROW  406188.0  28804.0  434992.0  453116.0  17550.0  470666.0   905658.0
전세계  764345.0  59058.0  823403.0  788277.0  41334.0  829611.0  1653014.0

In [224]:
dstr_strc_df.to_csv('국가별 배분구조.csv', encoding='utf_8-sig')

#### 국가별 투입구조

In [ ]:
A = Mt[:12,:12].astype(float)
A

array([[    25.,    282.,    102.,      0.,      0.,      0.,      0.,
             2.,      1.,      1.,      2.,      1.],
       [   110.,   5596.,   2593.,     50.,   1246.,    295.,      4.,
           193.,    136.,     61.,   1301.,    602.],
       [    85.,   2633.,   5421.,     11.,    139.,     99.,      0.,
            17.,     42.,      8.,    144.,    270.],
       [     0.,      4.,      1.,   4389.,   9691.,   1500.,      3.,
             9.,      3.,     12.,     50.,     13.],
       [     7.,    532.,    183.,   4571.,  80946.,  34018.,     18.,
           881.,    948.,    181.,   4780.,   2978.],
       [     1.,     60.,     84.,   2400.,  26110.,  34909.,      2.,
            86.,    183.,     27.,    553.,   1042.],
       [     1.,     13.,      4.,     20.,     47.,      8.,    830.,
          2088.,    200.,     43.,    164.,     29.],
       [     4.,    217.,     93.,     30.,    574.,    168.,    677.,
         16658.,  14548.,    148.,   3356.,   1740.],
       [     3.,     95.,    118.,     27.,    242.,    234.,   1003.,
         14951.,  91821.,    107.,   1748.,   3755.],
       [     2.,     25.,     10.,    139.,    312.,     42.,     71.,
           233.,     77.,   5052.,  12511.,   3110.],
       [    18.,   1965.,    637.,    269.,   8032.,   1982.,     91.,
          5096.,   2851.,   4449.,  91300.,  53282.],
       [     7.,    312.,    392.,    136.,   1471.,   1181.,     41.,
           976.,   2436.,   5001.,  57042., 174441.]])

In [ ]:
import scipy.linalg as linalg

In [ ]:
mtx_for_int= linalg.block_diag(np.ones((3,3)),np.ones((3,3)),np.ones((3,3)),np.ones((3,3)))
mtx_for_tra=np.where(mtx_for_int == 1, 0, 1)

# mtx_for_fnl= linalg.block_diag(np.ones((3,1)),np.ones((3,1)),np.ones((3,1)),np.ones((3,1)))
# mtx_for_fnl_tra=np.where(mtx_for_fnl == 1, 0, 1)

In [ ]:
dom_input = A*mtx_for_int
dom_input_sm = dom_input.sum(axis=0)
dom_input_sm

array([   220.,   8511.,   8116.,  11360., 116747.,  70427.,   2510.,
        33697., 106569.,  14502., 160853., 230833.])

## TiVa indicators guide

[TiVA2022_Indicators_Guide](TiVA2022_Indicators_Guide.pdf)

In [ ]:
PROD = icio_2[-1,:12].astype(float) # 산출액
VALU = icio_2[-2, 0:12].astype(float) # 부가가치
PROD_VASH = VALU/PROD
PROD_VASH

array([0.526, 0.277, 0.518, 0.442, 0.225, 0.508, 0.407, 0.384, 0.596,
       0.592, 0.344, 0.573])

In [ ]:
ct_m = np.tile(PROD, reps=[12,1]) # 산출액을 12번 행반복
nae = icio_2[0:12,0:12]   # 거래표

Ad =(nae/ct_m)  # 투입계수

In [ ]:
Ad_df = pd.DataFrame(Ad, columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Ad_df.index.names=['국가', '상품']
# Ad_df

## 생산유발계수(Lf)

In [ ]:
Lf = np.linalg.inv(np.identity(12)-Ad)    # 생산유발계수
Lf_sm_cl = np.hstack((Lf, Lf.sum(axis=1).reshape([12,1]))) # 생산유발계수 열합
Lf_sm_rw = np.vstack((Lf_sm_cl,Lf_sm_cl.sum(axis=0))) # 생산유발계수 행합
Lf

array([[1.054, 0.03 , 0.012, 0.   , 0.001, 0.   , 0.   , 0.   , 0.   ,
        0.   , 0.   , 0.   ],
       [0.361, 1.582, 0.267, 0.015, 0.029, 0.012, 0.004, 0.009, 0.002,
        0.006, 0.014, 0.005],
       [0.288, 0.343, 1.408, 0.005, 0.009, 0.005, 0.001, 0.003, 0.001,
        0.002, 0.005, 0.002],
       [0.005, 0.011, 0.004, 1.312, 0.158, 0.06 , 0.003, 0.004, 0.001,
        0.003, 0.006, 0.002],
       [0.068, 0.136, 0.056, 0.67 , 2.145, 0.608, 0.027, 0.052, 0.016,
        0.026, 0.07 , 0.027],
       [0.02 , 0.039, 0.021, 0.322, 0.443, 1.414, 0.008, 0.014, 0.005,
        0.008, 0.02 , 0.009],
       [0.004, 0.003, 0.001, 0.002, 0.002, 0.001, 1.227, 0.051, 0.005,
        0.002, 0.003, 0.001],
       [0.023, 0.039, 0.018, 0.009, 0.016, 0.007, 0.269, 1.367, 0.103,
        0.013, 0.031, 0.011],
       [0.025, 0.035, 0.022, 0.01 , 0.014, 0.008, 0.477, 0.459, 1.509,
        0.015, 0.031, 0.02 ],
       [0.014, 0.022, 0.009, 0.017, 0.016, 0.007, 0.028, 0.017, 0.003,
        1.167, 0.087, 0.02 ],
       [0.148, 0.337, 0.132, 0.092, 0.184, 0.082, 0.089, 0.182, 0.041,
        0.247, 1.591, 0.208],
       [0.084, 0.158, 0.087, 0.055, 0.091, 0.049, 0.058, 0.092, 0.033,
        0.29 , 0.487, 1.483]])

부가가치유발계수(Lv)

In [ ]:
Va_r = icio_2[-2,:12]/PROD # 부가가치율
Va_r

array([0.526, 0.277, 0.518, 0.442, 0.225, 0.508, 0.407, 0.384, 0.596,
       0.592, 0.344, 0.573])

In [ ]:
Va_m = np.diag(Va_r)  # 부가가치율 대각행렬

In [ ]:
Lv = Va_m@Lf  #부가가치유발계수
Lv
Lv_sm_cl = np.hstack((Lv, Lv.sum(axis=1).reshape([12,1]))) # 부가가치유발계수 열합
Lv_sm_rw = np.vstack((Lv_sm_cl,Lv_sm_cl.sum(axis=0))) # 부가가치유발계수 행합
Lv_sm_rw

array([[ 0.554,  0.016,  0.006,  0.   ,  0.   ,  0.   ,  0.   ,  0.   ,
         0.   ,  0.   ,  0.   ,  0.   ,  0.577],
       [ 0.1  ,  0.437,  0.074,  0.004,  0.008,  0.003,  0.001,  0.002,
         0.001,  0.002,  0.004,  0.001,  0.638],
       [ 0.149,  0.178,  0.729,  0.003,  0.005,  0.002,  0.001,  0.001,
         0.   ,  0.001,  0.002,  0.001,  1.073],
       [ 0.002,  0.005,  0.002,  0.58 ,  0.07 ,  0.027,  0.001,  0.002,
         0.001,  0.001,  0.002,  0.001,  0.694],
       [ 0.015,  0.031,  0.013,  0.151,  0.484,  0.137,  0.006,  0.012,
         0.004,  0.006,  0.016,  0.006,  0.879],
       [ 0.01 ,  0.02 ,  0.01 ,  0.163,  0.225,  0.718,  0.004,  0.007,
         0.003,  0.004,  0.01 ,  0.005,  1.179],
       [ 0.002,  0.001,  0.001,  0.001,  0.001,  0.   ,  0.499,  0.021,
         0.002,  0.001,  0.001,  0.   ,  0.53 ],
       [ 0.009,  0.015,  0.007,  0.003,  0.006,  0.003,  0.103,  0.525,
         0.04 ,  0.005,  0.012,  0.004,  0.732],
       [ 0.015,  0.021,  0.013,  0.006,  0.009,  0.005,  0.284,  0.274,
         0.9  ,  0.009,  0.019,  0.012,  1.565],
       [ 0.008,  0.013,  0.005,  0.01 ,  0.01 ,  0.004,  0.016,  0.01 ,
         0.002,  0.69 ,  0.051,  0.012,  0.832],
       [ 0.051,  0.116,  0.045,  0.032,  0.063,  0.028,  0.03 ,  0.062,
         0.014,  0.085,  0.547,  0.071,  1.145],
       [ 0.048,  0.091,  0.05 ,  0.031,  0.052,  0.028,  0.033,  0.052,
         0.019,  0.166,  0.279,  0.85 ,  1.7  ],
       [ 0.963,  0.943,  0.955,  0.984,  0.932,  0.956,  0.981,  0.969,
         0.985,  0.97 ,  0.943,  0.963, 11.543]])

In [ ]:
Lf_df = pd.DataFrame(Lf.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Lf_df.index.names=['국가', '상품']
Lf_df

            한국                   중국                   미국                  ROW  \
           농산품    공산품    서비스    농산품    공산품    서비스    농산품    공산품    서비스    농산품
국가  상품
한국  농산품  1.054  0.030  0.012  0.000  0.001  0.000  0.000  0.000  0.000  0.000
    공산품  0.361  1.582  0.267  0.015  0.029  0.012  0.004  0.009  0.002  0.006
    서비스  0.288  0.343  1.408  0.005  0.009  0.005  0.001  0.003  0.001  0.002
중국  농산품  0.005  0.011  0.004  1.312  0.158  0.060  0.003  0.004  0.001  0.003
    공산품  0.068  0.136  0.056  0.670  2.145  0.608  0.027  0.052  0.016  0.026
    서비스  0.020  0.039  0.021  0.322  0.443  1.414  0.008  0.014  0.005  0.008
미국  농산품  0.004  0.003  0.001  0.002  0.002  0.001  1.227  0.051  0.005  0.002
    공산품  0.023  0.039  0.018  0.009  0.016  0.007  0.269  1.367  0.103  0.013
    서비스  0.025  0.035  0.022  0.010  0.014  0.008  0.477  0.459  1.509  0.015
ROW 농산품  0.014  0.022  0.009  0.017  0.016  0.007  0.028  0.017  0.003  1.167
    공산품  0.148  0.337  0.132  0.092  0.184  0.082  0.089  0.182  0.041  0.247
    서비스  0.084  0.158  0.087  0.055  0.091  0.049  0.058  0.092  0.033  0.290


           공산품    서비스
국가  상품
한국  농산품  0.000  0.000
    공산품  0.014  0.005
    서비스  0.005  0.002
중국  농산품  0.006  0.002
    공산품  0.070  0.027
    서비스  0.020  0.009
미국  농산품  0.003  0.001
    공산품  0.031  0.011
    서비스  0.031  0.020
ROW 농산품  0.087  0.020
    공산품  1.591  0.208
    서비스  0.487  1.483

In [ ]:
Lv_df = pd.DataFrame(Lv.round(3), columns = [['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                    ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
Lv_df.index.names=['국가', '상품']
Lv_df

            한국                   중국                   미국                  ROW  \
           농산품    공산품    서비스    농산품    공산품    서비스    농산품    공산품    서비스    농산품
국가  상품
한국  농산품  0.554  0.016  0.006  0.000  0.000  0.000  0.000  0.000  0.000  0.000
    공산품  0.100  0.437  0.074  0.004  0.008  0.003  0.001  0.002  0.001  0.002
    서비스  0.149  0.178  0.729  0.003  0.005  0.002  0.001  0.001  0.000  0.001
중국  농산품  0.002  0.005  0.002  0.580  0.070  0.027  0.001  0.002  0.001  0.001
    공산품  0.015  0.031  0.013  0.151  0.484  0.137  0.006  0.012  0.004  0.006
    서비스  0.010  0.020  0.010  0.163  0.225  0.718  0.004  0.007  0.003  0.004
미국  농산품  0.002  0.001  0.001  0.001  0.001  0.000  0.499  0.021  0.002  0.001
    공산품  0.009  0.015  0.007  0.003  0.006  0.003  0.103  0.525  0.040  0.005
    서비스  0.015  0.021  0.013  0.006  0.009  0.005  0.284  0.274  0.900  0.009
ROW 농산품  0.008  0.013  0.005  0.010  0.010  0.004  0.016  0.010  0.002  0.690
    공산품  0.051  0.116  0.045  0.032  0.063  0.028  0.030  0.062  0.014  0.085
    서비스  0.048  0.091  0.050  0.031  0.052  0.028  0.033  0.052  0.019  0.166


           공산품    서비스
국가  상품
한국  농산품  0.000  0.000
    공산품  0.004  0.001
    서비스  0.002  0.001
중국  농산품  0.002  0.001
    공산품  0.016  0.006
    서비스  0.010  0.005
미국  농산품  0.001  0.000
    공산품  0.012  0.004
    서비스  0.019  0.012
ROW 농산품  0.051  0.012
    공산품  0.547  0.071
    서비스  0.279  0.850

In [ ]:
Lf_df.to_csv('생산유발계수.csv', encoding='utf_8-sig')
Lv_df.to_csv('부가가치유발계수.csv', encoding='utf_8-sig')

## DVA(Domestic Value-added) and FVA(Foreign Value-added)

In [ ]:
Fd = icio_2[0:12,12:16]
Fd

array([[   15.2,     0.1,     0.1,     0.2],
       [  245.8,    39.1,    35.5,   129.5],
       [ 1161.1,    12.8,     8.2,    28.6],
       [    0.3,   550.9,     0.5,     6.7],
       [   23.3,  3220.6,   237. ,   699.6],
       [   12.2,  8961.9,    39.8,   145.6],
       [    0.7,     2.7,   102.2,    16.3],
       [   11.5,    32.7,  2574.7,   396.8],
       [   16.9,    61. , 16683.7,   420.9],
       [    1.6,    17.5,    13.6,  1637.3],
       [   54.5,   215.1,   726.5,  9469.7],
       [   37.3,   280. ,   408.9, 34204.8]])

In [ ]:
DFVA = Lv@Fd
DFVA

array([[   19.55 ,     2.987,     1.638,     5.926],
       [  195.378,    78.169,    38.427,   149.563],
       [  892.933,    55.965,    27.228,   110.219],
       [    5.792,   784.011,    34.619,   115.482],
       [   36.613,  2876.407,   227.792,   734.207],
       [   32.04 ,  7252.814,   153.334,   536.887],
       [    1.752,     7.903,   141.071,    39.174],
       [   19.425,    70.685,  2035.997,   498.   ],
       [   41.127,   148.762, 15764.878,  1094.128],
       [   14.302,    99.854,   114.824,  2035.764],
       [  117.106,   619.473,   847.125,  7850.916],
       [  130.295,   744.567,  1027.725, 32068.446]])

In [ ]:
DFVA_df = pd.DataFrame(DFVA, columns = ['한국', '중국', '미국', 'ROW'],

                                    index=[['한국', '한국', '한국', '중국', '중국', '중국','미국', '미국', '미국','ROW', 'ROW', 'ROW'],
                                           ['농산품', '공산품', '서비스', '농산품', '공산품', '서비스','농산품', '공산품', '서비스','농산품', '공산품', '서비스']])
DFVA_df.index.names=['국가', '상품']
DFVA_df

                 한국           중국            미국           ROW
국가  상품
한국  농산품   19.549819     2.986852      1.638402      5.925908
    공산품  195.378371    78.168595     38.427067    149.563485
    서비스  892.933404    55.964729     27.228129    110.219365
중국  농산품    5.791782   784.011442     34.618737    115.481518
    공산품   36.613019  2876.406795    227.792370    734.206863
    서비스   32.039840  7252.814238    153.334385    536.886597
미국  농산품    1.752337     7.903081    141.071412     39.173635
    공산품   19.424703    70.685424   2035.996991    498.000295
    서비스   41.127384   148.761518  15764.878435   1094.127894
ROW 농산품   14.301901    99.854305    114.823588   2035.764022
    공산품  117.105517   619.472971    847.125111   7850.915608
    서비스  130.294978   744.566892   1027.725492  32068.445658

In [ ]:
DFVA_df.to_csv('DFVA.csv', encoding="utf-8-sig")

In [ ]:
import scipy.linalg as linalg

In [ ]:
A = icio_2[:12,:12].astype(float)
A

array([[    2.5,    28.2,    10.2,     0. ,     0. ,     0. ,     0. ,
            0.2,     0.1,     0.1,     0.2,     0.1],
       [   11. ,   559.6,   259.3,     5. ,   124.6,    29.5,     0.4,
           19.3,    13.6,     6.1,   130.1,    60.2],
       [    8.5,   263.3,   542.1,     1.1,    13.9,     9.9,     0. ,
            1.7,     4.2,     0.8,    14.4,    27. ],
       [    0. ,     0.4,     0.1,   438.9,   969.1,   150. ,     0.3,
            0.9,     0.3,     1.2,     5. ,     1.3],
       [    0.7,    53.2,    18.3,   457.1,  8094.6,  3401.8,     1.8,
           88.1,    94.8,    18.1,   478. ,   297.8],
       [    0.1,     6. ,     8.4,   240. ,  2611. ,  3490.9,     0.2,
            8.6,    18.3,     2.7,    55.3,   104.2],
       [    0.1,     1.3,     0.4,     2. ,     4.7,     0.8,    83. ,
          208.8,    20. ,     4.3,    16.4,     2.9],
       [    0.4,    21.7,     9.3,     3. ,    57.4,    16.8,    67.7,
         1665.8,  1454.8,    14.8,   335.6,   174. ],
       [    0.3,     9.5,    11.8,     2.7,    24.2,    23.4,   100.3,
         1495.1,  9182.1,    10.7,   174.8,   375.5],
       [    0.2,     2.5,     1. ,    13.9,    31.2,     4.2,     7.1,
           23.3,     7.7,   505.2,  1251.1,   311. ],
       [    1.8,   196.5,    63.7,    26.9,   803.2,   198.2,     9.1,
          509.6,   285.1,   444.9,  9130. ,  5328.2],
       [    0.7,    31.2,    39.2,    13.6,   147.1,   118.1,     4.1,
           97.6,   243.6,   500.1,  5704.2, 17444.1]])

In [ ]:
FD = icio_2[0:12,12:16]
FD

array([[   15.2,     0.1,     0.1,     0.2],
       [  245.8,    39.1,    35.5,   129.5],
       [ 1161.1,    12.8,     8.2,    28.6],
       [    0.3,   550.9,     0.5,     6.7],
       [   23.3,  3220.6,   237. ,   699.6],
       [   12.2,  8961.9,    39.8,   145.6],
       [    0.7,     2.7,   102.2,    16.3],
       [   11.5,    32.7,  2574.7,   396.8],
       [   16.9,    61. , 16683.7,   420.9],
       [    1.6,    17.5,    13.6,  1637.3],
       [   54.5,   215.1,   726.5,  9469.7],
       [   37.3,   280. ,   408.9, 34204.8]])

In [ ]:
mtx_for_int= linalg.block_diag(np.ones((3,3)),np.ones((3,3)),np.ones((3,3)),np.ones((3,3)))
mtx_for_tra=np.where(mtx_for_int == 1, 0, 1)

mtx_for_fnl= linalg.block_diag(np.ones((3,1)),np.ones((3,1)),np.ones((3,1)),np.ones((3,1)))
mtx_for_fnl_tra=np.where(mtx_for_fnl == 1, 0, 1)

INT = icio_2[0:12,0:12].astype(float)

EXIM_INT_mt = (INT*mtx_for_tra).reshape([12,12])  # 중간재 수출입
EXGR_INT = EXIM_INT_mt.sum(axis=1).reshape([12,1])

FD = icio_2[0:12,12:16].astype(float)

EXIM_FNL_mt = (FD*mtx_for_fnl_tra).reshape([12,4])  # 최종재 수출입
EXGR_FNL = EXIM_FNL_mt.sum(axis=1).reshape([12,1])

# EXIM = EXIM_INT_mt + EXIM_FNL_mt  # 총수출입

# Ex_all = np.concatenate((EXGR, EXGR_INT, EXGR_FNL),axis=1)


EXIM_INT_df = pd.DataFrame(EXIM_INT_mt, columns = [['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']],

                         index=[['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])

# EXIM_FNL_df = pd.DataFrame(EXIM_FNL_mt, columns = [['한국','중국', '미국','ROW'],

#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
EXIM_INT_df
FD

# Ex_all_df = pd.DataFrame(Ex_all, columns = ['총수출', '중간재수출', '최종재수출'],
#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
# Ex_all_df
# print('중간재 수출 : \n', EXGR_INT, '\n')
# print('최종재 수출 : \n', EXGR_FNL, '\n')
# print('총수출 : \n', EXGR, '\n')

array([[   15.2,     0.1,     0.1,     0.2],
       [  245.8,    39.1,    35.5,   129.5],
       [ 1161.1,    12.8,     8.2,    28.6],
       [    0.3,   550.9,     0.5,     6.7],
       [   23.3,  3220.6,   237. ,   699.6],
       [   12.2,  8961.9,    39.8,   145.6],
       [    0.7,     2.7,   102.2,    16.3],
       [   11.5,    32.7,  2574.7,   396.8],
       [   16.9,    61. , 16683.7,   420.9],
       [    1.6,    17.5,    13.6,  1637.3],
       [   54.5,   215.1,   726.5,  9469.7],
       [   37.3,   280. ,   408.9, 34204.8]])

In [ ]:
aa=EXIM_FNL_mt.sum(axis=1)
aa

array([  0.4, 204.1,  49.6,   7.5, 959.9, 197.6,  19.7, 441. , 498.8,
        32.7, 996.1, 726.2])

In [ ]:
EXIM_FNL_mt.shape

(12, 4)

In [ ]:
# 국가별 제품별 수출입
# 중간재
EXGR_INT = EXIM_INT_mt.sum(axis=1).reshape([12,1]) # 중간재 수출
IMGR_INT = EXIM_INT_mt.sum(axis=0).reshape([12,1]) # 중간재 수입

EXGR_FNL = EXIM_FNL_mt.sum(axis=1).reshape([12,1]) # 최종재 수출
IMGR_FNL = EXIM_FNL_mt.sum(axis=0).reshape([4,1]) # 최종재 수입

EXGR = EXIM.sum(axis=1).reshape([12,1])
IMGR = EXIM.sum(axis=0).reshape([12,1])

EXGR_IMGR_vec = np.hstack((EXGR_INT,EXGR_FNL,IMGR_INT,IMGR_FNL, EXGR, IMGR))
EXGR_IMGR_vec

EXGR_IMGR_vec_df = pd.DataFrame(EXGR_IMGR_vec, columns = ['EXGR_INT','EXGR_FNL', 'IMGR_INT','IMGR_FNL','EXGR','IMGR'],

                         index=[['한국','한국', '한국','중국','중국','중국','미국','미국','미국','ROW','ROW','ROW'],
                          ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
EXGR_IMGR_vec_df

NameError: ignored

In [ ]:
# 경상수지 및 파트너 비중(산업을 나눌 필요가 없으므로 Trade_matrix를 국가별,전산업으로 변환)
Mt_cd_all = np.array([[1,1,1,0,0,0,0,0,0],
                     [0,0,0,1,1,1,0,0,0],
                     [0,0,0,0,0,0,1,1,1]])
trade_1sec = (Mt_cd_all@EXIM)@Mt_cd_all.T
trade_1sec  # trade 매트릭스
exp_1sec = trade_1sec.sum(axis=1).reshape([1,3])
imp_1sec = trade_1sec.sum(axis=0).reshape([3,1])
BALGR = (exp_1sec.T - imp_1sec).reshape([1,3]) #경상수지(Gross trade balance)

BALGR_df = pd.DataFrame(BALGR, columns = ['한국','중국', 'ROW'],

                         index=['BALGR'])

exp_1sec_con = trade_1sec.reshape([3,3])/np.tile((exp_1sec.reshape([1,3]))[1,3])  #전산업, 국가별 수출 매트릭스

exp_1sec_con

In [ ]:
aa=np.tile(exp_1sec[1,3])

IndexError: ignored

In [ ]:
exp_1sec

array([[ 5818., 24630., 24898.]])

In [ ]:
exp_1sec.shape

(1, 3)

In [ ]:

# IMGR_INT_mt = (INT*mtx_for_tra).reshape([9,9])  # 중간재 수입
# IMGR_INT = IMGR_INT_mt.sum(axis=0).reshape([1,9])

# IMGR_FNL_mt = (FD*mtx_for_tra).reshape([9,9])  # 최종재 수입
# IMGR_FNL = IMGR_FNL_mt.sum(axis=0).reshape([1,9])

# IMGR = IMGR_INT + IMGR_FNL

# print(IMGR_INT_mt)

# Im_all = np.concatenate((IMGR, IMGR_INT, IMGR_FNL),axis=0).T

# Im_all_df = pd.DataFrame(Im_all, columns = ['총수입', '중간재수입', '최종재수입'],
#                          index=[['한국','한국', '한국','중국','중국','중국','ROW','ROW','ROW'],
#                           ['농산품','공산품', '서비스','농산품','공산품', '서비스','농산품','공산품', '서비스']])
# Im_all_df

# # print('중간재 수입 : \n', IMGR_INT.T, '\n')
# # print('최종재 수입 : \n', IMGR_FNL.T, '\n')
# # print('총수입 : \n', IMGR.T, '\n')

In [ ]:
Mtx = np.zeros((18,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr[:,1]
cd_33 = cd_for_itr[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx[i-1,j-1] = 1
print(Mtx)

[[0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]
 ...
 [1. 1. 0. ... 0. 0. 0.]
 [0. 0. 1. ... 0. 0. 0.]
 [0. 0. 0. ... 0. 0. 0.]]

In [ ]:
code=Mtx
code.shape

(18, 3195)

In [ ]:
nae_tot_row = code@icio_2[0:3195,0:3195] # 중간투입(수요)의 행을 18부문으로 만들기
nae_tot_row.shape

ValueError: ignored

In [ ]:
nae_tot_col = nae_tot_row@code.T  # 수작업한 code 이용
nae_tot_col.sum()

In [ ]:
url_cdtx = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_tax.csv"  #코드매치 파일 불러오기
cd_tx = pd.read_csv(url_cdtx)
cd_tx.shape

In [ ]:
url_cns = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_cons.csv"  #코드매치 파일 불러오기
cd_cns = pd.read_csv(url_cns)
cd_cns.shape

In [ ]:
# Mtx_tx= np.zeros((6,3195)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
# cd_3 = cd_for_itr_tx[:,1]
# cd_33 = cd_for_itr_tx[:,0]
# row=cd_3
# col=cd_33
# for i, j in zip(row,col):
#   Mtx_tx[i-1,j-1] = 1
# print(Mtx_tx)

In [ ]:
ccdd_cns = cd_cns.to_numpy()
cd_for_itr_cns = ccdd_cns[:,1:]
# cd_for_itr_tx

In [ ]:
Mtx_cns= np.zeros((6,67)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_cns[:,1]
cd_33 = cd_for_itr_cns[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_cns[i-1,j-1] = 1
print(Mtx_cns)

In [ ]:
# code_tx = Mtx_tx
code_cns = Mtx_cns
code_cns.shape

In [ ]:
nae_tx = code_cns@icio_2[3195:3262,0:3195]@code.T # 세금 행을 6부문으로 만들기
nae_tx

In [ ]:
va_row = icio_2[3262:,0:3195]@code.T # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)
va_row

In [ ]:
url_cdfd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/cd_fd.csv"  #코드매치 파일 불러오기
cd_fd = pd.read_csv(url_cdfd)
cd_fd.head()

In [ ]:
ccdd_fd = cd_fd.to_numpy()
cd_for_itr_fd = ccdd_fd[:,1:]
cd_for_itr_fd.shape

In [ ]:
Mtx_fd= np.zeros((18,402)) # 부문통합을 위한 코드가 많을 경우 상기의 코드를 수작업으로 미리 하는 것이 쉽자 않으므로 반복문을 통해 3x33 임시코드 만들기
cd_3 = cd_for_itr_fd[:,1]
cd_33 = cd_for_itr_fd[:,0]
row=cd_3
col=cd_33
for i, j in zip(row,col):
  Mtx_fd[i-1,j-1] = 1
print(Mtx_fd)

In [ ]:
code_fd = Mtx_fd
code_fd.shape

In [ ]:
fd = code@icio_2[0:3195,3195:3597]@code_fd.T # 최종수요를 6부문으로 만들기
fd.shape

In [ ]:
fd_tx = code_cns@icio_2[3195:3262,3195:3597]@code_fd.T
fd_tx.shape

In [ ]:
fd_row=np.concatenate((fd,fd_tx, np.zeros((2,18))))
fd_row.shape

In [ ]:
icio_row = np.concatenate((nae_tot_col,nae_tx, va_row))
icio_row.shape

In [ ]:
icio_col = np.concatenate((icio_row, fd_row), axis=1)

In [ ]:
icio_col_sm = icio_col.sum(axis=1).reshape([26,1]) # 충수요계(산출액과 동일)

In [ ]:
icio_f = np.concatenate((icio_col, icio_col_sm), axis=1).astype(float)

In [ ]:
ICIO_df = pd.DataFrame(icio_f, columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','Output']])
ICIO_df.index.names=['Country', 'Secs']

In [ ]:
ICIO_df.to_csv('ICIO_6cons_3secs.csv')

In [ ]:
ICIO_df_show = pd.DataFrame(icio_f.round(1), columns = [['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW',
                                            'KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW', 'Total'],

                                      ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv',
                                        'Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Cons', 'Inv','Exp','Tot']],

                                    index=[['KOR', 'KOR', 'KOR', 'CHN', 'CHN', 'CHN', 'USA', 'USA', 'USA', 'JPN', 'JPN','JPN',
                                             'EU', 'EU', 'EU', 'ROW', 'ROW', 'ROW','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','CT'],
                                           ['Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv', 'Agr', 'Manu', 'Serv',
                                            'Agr', 'Manu', 'Serv','Agr', 'Manu', 'Serv','Tax_KOR','Tax_CHN','Tax_USA','Tax_JPN','Tax_EU','Tax_ROW','VA','Output']])
ICIO_df.index.names=['Country', 'Secs']

In [ ]:
ICIO_df_show