<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/IO_tables_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!git clone https://github.com/Tom-Jung/legendary-funicular.git

Cloning into 'legendary-funicular'...
remote: Enumerating objects: 232, done.
remote: Counting objects: 100% (26/26), done.
remote: Compressing objects: 100% (23/23), done.
remote: Total 232 (delta 9), reused 0 (delta 0), pack-reused 206
Receiving objects: 100% (232/232), 437.51 KiB | 2.38 MiB/s, done.
Resolving deltas: 100% (106/106), done.

# Github에 저장되어 있는 산업연관표를 다운로드 하여 작업을 시작

In [2]:
import numpy as np
import pandas as pd

## 행렬 연산의 기초

##### 1차원 배열

In [3]:
one_d = np.array([1,2,3,4,5,6,7,8])  # 1차원 배열
print(one_d)             # 배열 출력
print(one_d.ndim)        # 배열의 차원
print(one_d.shape)       # 행과 열의 수

[1 2 3 4 5 6 7 8]
1
(8,)

##### 2차원 배열

In [ ]:
two_d = np.array([[1,2,3,4],[5,6,7,8]])
print(two_d)             # 배열 출력
print(two_d.ndim)        # 배열의 차원
print(two_d.shape)       # 행과 열의 수

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)

In [ ]:
one_d_24 = one_d.reshape([2,4])  # reshape을 통한 행렬의 변형(1차원 배열에서 행렬 형태로 변형)
print(one_d_24)
print(one_d_24.shape)

[[1 2 3 4]
 [5 6 7 8]]
(2, 4)

In [ ]:
two_d_42 = two_d.reshape([4,2])  # reshape을 통한 행렬의 변형
print(two_d_42)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [ ]:
slc_row = two_d_42[-1]  # 마지막 행 선택
slc_col = two_d_42[:,-1]  # 마지막 열 선택
slc_tb = two_d_42[0:3,0:1] #  3행 1열 선택
print(slc_row)
print(slc_col)
print(slc_tb)

[7 8]
[2 4 6 8]
[[1]
 [3]
 [5]]

In [ ]:
mt_rp = np.tile(slc_row, reps=[4,1])   # 선택한 행 반복
print(mt_rp)

[[7 8]
 [7 8]
 [7 8]
 [7 8]]

##### Numpy에서는 여러 차원의 배열을 지정할 수 있으며 행렬 연산을 위해서는 2차원 배열이 필요

In [ ]:
A = np.array([[2, 5, 4],[1, 3, 5],[8, 9, 0]])  # 2차원 행렬생성

In [ ]:
print(A)
print(A.ndim)
print(A.shape)

[[2 5 4]
 [1 3 5]
 [8 9 0]]
2
(3, 3)

In [ ]:
I = np.eye(3) # 단위행렬
I

array([[1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.]])

In [ ]:
Z = np.zeros((3,3))   # 영 행렬
Z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
One = np.ones((3,3)) # 모든 요소가 1인 행렬
One

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
Dg = np.diag(one_d)   # 대각행렬
Dg

array([[1, 0, 0, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0, 0, 0],
       [0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0],
       [0, 0, 0, 0, 0, 6, 0, 0],
       [0, 0, 0, 0, 0, 0, 7, 0],
       [0, 0, 0, 0, 0, 0, 0, 8]])

In [ ]:
Dg_slc = np.diag(Dg) # 대각행렬 추출
Dg_slc

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
B = np.array([[2, 5, 3],[3, 4, 3],[1, 2, 0]])  # 2차원 행렬생성
B

array([[2, 5, 3],
       [3, 4, 3],
       [1, 2, 0]])

In [ ]:
C = A + B  # 덧셈
D = A - B  # 뺄셈
print('C : ')
print(C)
print('D : ')
print(D)

C :
[[ 4 10  7]
 [ 4  7  8]
 [ 9 11  0]]
D :
[[ 0  0  1]
 [-2 -1  2]
 [ 7  7  0]]

In [ ]:
print('A : ')
print(A)
print('B : ')
print(B)
E = A * B  # 행렬의 같은 원소끼리 곱
print('E : ')
print(E)

A :
[[2 5 4]
 [1 3 5]
 [8 9 0]]
B :
[[2 5 3]
 [3 4 3]
 [1 2 0]]
E :
[[ 4 25 12]
 [ 3 12 15]
 [ 8 18  0]]

In [ ]:
F = A.dot(B)   # dot을 이용한 행렬 곱
print('F : ')
print(F)

F :
[[23 38 21]
 [16 27 12]
 [43 76 51]]

In [ ]:
G = A@B       # @를 이용한 행렬 곱
print('G : ')
print(G)

G :
[[23 38 21]
 [16 27 12]
 [43 76 51]]

In [ ]:
H = np.linalg.inv(A)  # 역행렬 구하기
print('H : ')
print(H)

H :
[[-0.9   0.72  0.26]
 [ 0.8  -0.64 -0.12]
 [-0.3   0.44  0.02]]

In [ ]:
J = A.T   # 전치행렬
print('J : ')
print(J)

J :
[[2 1 8]
 [5 3 9]
 [4 5 0]]

In [ ]:
A_row_sm = A.sum(axis=0,keepdims=True) # 행렬의 행합
print(A_row_sm)
print(A_row_sm.shape)

[[11 17  9]]
(1, 3)

In [ ]:
A_col_sm = A.sum(axis=1, keepdims=True) # 행렬의 열합
print(A_col_sm)
print(A_col_sm.shape)

[[11]
 [ 9]
 [17]]
(3, 1)

In [ ]:
print(A.ndim)
print(A_row_sm.ndim)

2
2

In [ ]:
A_org_sm = np.concatenate([A,A_row_sm]) 
A_org_sm

array([[ 2,  5,  4],
       [ 1,  3,  5],
       [ 8,  9,  0],
       [11, 17,  9]])

In [ ]:
A_org_sm_rw = np.concatenate((A, A_row_sm.reshape([1,3])), axis=0)  # 행렬에 행합 세로로 붙이기
print(A_org_sm_rw)

[[ 2  5  4]
 [ 1  3  5]
 [ 8  9  0]
 [11 17  9]]

In [ ]:
A_org_sm_cl = np.concatenate((A, A_col_sm.reshape([3,1])), axis=1)  # 행렬에 열합 가로로 붙이기
print(A_org_sm_cl)

[[ 2  5  4 11]
 [ 1  3  5  9]
 [ 8  9  0 17]]

In [ ]:
np.linalg.det(B)

9.000000000000002

In [ ]:
zz = A_row_sm.reshape([1,3])
zz.shape

(1, 3)

In [ ]:
a1 = np.array([[2,5,4],[1,3,5],[8,9,0]])

In [ ]:
d_array = np.array([[2, 5, 4], [1, 3,5], [8,9,0]])                # numpy.array를 사용하여 2x2 행렬 생성
d_array_inv = np.linalg.inv(d_array)                # d_array 행렬의 역행렬 연산
print(d_array_inv)

[[-0.9   0.72  0.26]
 [ 0.8  -0.64 -0.12]
 [-0.3   0.44  0.02]]

In [ ]:
a2 = np.linalg.inv(a1)
a2

array([[-0.9 ,  0.72,  0.26],
       [ 0.8 , -0.64, -0.12],
       [-0.3 ,  0.44,  0.02]])

In [ ]:
tt = a1@a2
tt

array([[1.00000000e+00, 0.00000000e+00, 0.00000000e+00],
       [0.00000000e+00, 1.00000000e+00, 0.00000000e+00],
       [2.77555756e-17, 5.55111512e-17, 1.00000000e+00]])

In [ ]:
# import os
# print(os.path.join('C:',os.sep, 'Users'))

In [ ]:
# from pathlib import Path

# print(Path.cwd())
# print(Path('main.py').resolve())
# print(Path('C:\\Users\\hlee\\Desktop\\작업폴더\\main.py').name)
# print(Path('main.py').stem)
# print(Path('main.py').suffix)

In [ ]:
# from pathlib import Path

# print(Path.joinpath(Path.cwd(), "files", "sample.txt"))

In [ ]:
url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_M_F.csv"
Tot = pd.read_csv(url_total)

In [ ]:
Tot

,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduction of recorded media",Petroleum and coal products,Chemical products,Non-metallic mineral products,Basic metal products,...,Total intermediate demand,Private final consumption expenditure (Households and NPISH),Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
0,"Agricultural, forest, and fishery goods",2862,5,31526,648,863,6,980,7,15,...,48136,15115,0,383,15,1085,0,615,17213,65349
1,Mined and quarried goods,1,2,23,4,23,49139,4633,3035,14999,...,99569,12,0,0,0,-108,0,116,20,99589
2,"Food, beverages and tobacco products",8285,8,20408,713,67,66,1078,34,73,...,74603,50366,0,0,0,49,0,6742,57157,131760
3,Textile and leather products,587,10,151,20158,388,57,1517,123,211,...,36332,26630,0,115,15,864,0,31352,58976,95308
4,"Wood and paper products, printing and reproduc...",617,12,2132,797,12195,117,1490,404,270,...,40829,1113,0,0,0,91,0,3218,4422,45251
5,Petroleum and coal products,1132,88,301,272,205,3791,23086,1415,624,...,72801,13145,0,0,0,453,0,36058,49656,122457
6,Chemical products,4245,113,2875,6350,2635,1870,71379,1575,1418,...,192837,7067,0,0,0,-553,0,74182,80696,273533
7,Non-metallic mineral products,17,8,543,40,18,63,891,5999,2210,...,38920,208,0,0,0,-17,0,2587,2778,41698
8,Basic metal products,48,5,6,22,36,162,1655,584,39760,...,115048,-499,0,-2192,-57,-1521,180,35386,31297,146345
9,"Fabricated metal products, except machinery an...",54,54,1571,296,284,1046,1644,436,1052,...,79165,1160,0,3392,2162,402,0,10648,17764,96929
10,"Computing machinery, electronic equipment and ...",86,6,106,73,81,280,421,71,287,...,127409,21982,0,18851,2558,1547,0,155967,200905,328314
11,Electrical equipment,93,16,28,69,52,133,238,126,256,...,60023,4664,0,9630,181,472,0,26488,41435,101458
12,Machinery and equipment,194,94,159,78,64,832,2705,327,943,...,53614,1251,0,46648,370,330,0,42897,91496,145110
13,Transport equipment,235,57,21,20,39,80,206,140,106,...,79208,27681,0,24560,6299,2681,0,116106,177327,256535
14,Other manufactured products,8,1,198,319,22,6,28,6,14,...,11060,6254,0,2497,242,277,1191,2563,13024,24084
15,Manufacturing services and repair services of ...,163,94,2655,14047,1276,218,4557,739,2183,...,60705,24,0,0,0,0,0,2497,2521,63226
16,"Electricity, gas, and steam supply",663,87,1060,976,1285,1674,5465,1489,6139,...,67183,15898,0,0,0,0,0,104,16002,83185
17,"Water supply, sewage and waste treatment and d...",67,11,331,205,421,69,1487,293,2477,...,12781,3059,1044,0,0,0,0,343,4446,17227
18,Construction,67,13,57,23,24,45,160,28,129,...,10244,0,0,148566,42608,-1274,0,148,190048,200292
19,Wholesale and retail trade and commodity broke...,2168,50,7959,5724,1825,1038,7684,1096,2465,...,120414,70717,0,9900,633,1099,285,21611,104245,224659
20,Transportation,719,478,3796,1920,1695,849,6737,3770,3320,...,89349,22910,0,216,57,73,7,33987,57250,146599
21,Food services and accommodation,404,70,386,471,395,282,1298,304,718,...,49718,73699,0,0,0,0,0,6306,80005,129723
22,Communications and broadcasting,164,17,208,173,212,364,597,189,405,...,66948,29077,0,25116,217,18,0,4950,59378,126326
23,Finance and insurance,785,148,730,832,575,194,2114,438,1360,...,81990,58656,0,0,0,0,0,2560,61216,143206
24,Real estate services,44,6,214,351,145,141,347,68,330,...,46558,102756,0,23290,15,0,0,385,126446,173004
25,"Professional, scientific, and technical services",670,156,3105,1204,792,2481,9361,1119,4006,...,108858,2813,0,52702,8892,0,0,14239,78646,187504
26,Business support services,119,115,360,331,330,479,991,209,1206,...,68861,3479,0,0,0,0,0,7866,11345,80206
27,"Public administration, defense, and social sec...",82,0,0,0,0,0,0,0,0,...,2445,1213,107307,0,0,0,0,34,108554,110999
28,Education services,3,1,22,7,14,23,83,15,58,...,1951,50067,53985,0,0,0,0,153,104205,106156
29,Health and social care services,107,10,91,62,63,39,214,47,120,...,6396,41159,59887,0,0,0,0,332,101378,107774
30,"Art, sports, and leisure services",50,17,55,60,55,49,176,37,147,...,6862,29847,1722,427,0,0,23,929,32948,39810
31,Other services,91,18,155,78,75,114,258,93,230,...,12516,35997,0,0,0,0,0,548,36545,49061
32,Others,265,11,57,40,48,77,546,27,79,...,3708,-285,0,0,0,0,0,0,-285,3423
33,Total intermediate input,25095,1781,81289,56363,26202,65784,154026,24243,87610,...,1947041,717235,223945,364101,64207,5968,1686,641917,2019059,3966100
34,Compensation of employees,4719,625,8915,6675,5377,1230,19286,4180,7986,...,675192,0,0,0,0,0,0,0,0,0
35,Net operating surplus,20249,1026,5074,4545,5066,10100,29512,3702,8317,...,409384,0,0,0,0,0,0,0,0,0
36,Consumption of fixed capital,4346,320,3437,1926,999,2475,14489,2884,7360,...,278702,0,0,0,0,0,0,0,0,0
37,Taxes on production and products less subsidies,549,-56,10664,1527,783,19047,2419,520,581,...,122492,0,0,0,0,0,0,0,0,0
38,Total value added,29863,1915,28090,14673,12225,32852,65706,11286,24244,...,1485770,0,0,0,0,0,0,0,0,0
39,Total input,54958,3696,109379,71036,38427,98636,219732,35529,111854,...,3432811,0,0,0,0,0,0,0,0,0

In [ ]:
url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Import_M_F.csv"
Imp = pd.read_csv(url_imp)

In [ ]:
Imp

,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduction of recorded media",Petroleum and coal products,Chemical products,Non-metallic mineral products,Basic metal products,...,Total intermediate demand,Private final consumption expenditure (Households and NPISH),Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
0,"Agricultural, forest, and fishery goods",298,0,5188,612,529,0,686,0,0,...,7962,2444,0,32,1,-48,0,0,2429,10391
1,Mined and quarried goods,0,0,3,1,17,49036,4405,456,14744,...,95960,8,0,0,0,-75,0,0,-67,95893
2,"Food, beverages and tobacco products",136,0,7176,561,11,32,269,0,0,...,12808,9439,0,0,0,-3,0,137,9573,22381
3,Textile and leather products,97,0,18,9916,134,0,387,12,2,...,11814,11728,0,43,5,183,0,499,12458,24272
4,"Wood and paper products, printing and reproduc...",4,0,142,349,3909,1,76,14,6,...,6468,329,0,0,0,27,0,0,356,6824
5,Petroleum and coal products,40,2,43,67,77,2086,11683,204,120,...,22590,1106,0,0,0,125,0,0,1231,23821
6,Chemical products,702,2,331,1313,344,519,26615,431,174,...,48866,4229,0,0,0,-9,0,715,4935,53801
7,Non-metallic mineral products,0,0,30,2,2,4,203,1366,343,...,5963,195,0,0,0,11,0,0,206,6169
8,Basic metal products,1,0,0,7,0,7,814,22,18743,...,34813,6,0,0,0,-414,86,0,-322,34491
9,"Fabricated metal products, except machinery an...",2,5,80,100,14,16,168,31,56,...,5873,529,0,211,509,5,0,0,1254,7127
10,"Computing machinery, electronic equipment and ...",1,0,0,1,14,6,63,12,14,...,57096,6995,0,10253,697,208,0,355,18508,75604
11,Electrical equipment,0,0,0,2,0,1,31,6,42,...,11961,1135,0,2583,39,54,0,15,3826,15787
12,Machinery and equipment,5,2,22,36,5,31,232,18,91,...,14400,288,0,18370,66,41,0,0,18765,33165
13,Transport equipment,1,0,0,0,0,0,16,3,4,...,7738,6305,0,10127,1133,223,0,0,17788,25526
14,Other manufactured products,0,0,6,225,2,0,7,0,0,...,1685,3126,0,659,33,95,351,96,4360,6045
15,Manufacturing services and repair services of ...,0,0,6,5817,7,2,150,2,14,...,8422,0,0,0,0,0,0,0,0,8422
16,"Electricity, gas, and steam supply",0,0,0,0,0,3,4,0,1,...,32,56,0,0,0,0,0,0,56,88
17,"Water supply, sewage and waste treatment and d...",0,0,0,0,0,0,0,0,0,...,2,14,0,0,0,0,0,0,14,16
18,Construction,0,0,0,0,0,0,0,0,0,...,37,0,0,0,14,0,0,0,14,51
19,Wholesale and retail trade and commodity broke...,6,0,64,145,27,264,393,17,230,...,2899,0,0,0,0,0,0,0,0,2899
20,Transportation,158,4,28,15,5,9,80,18,34,...,14689,5339,0,0,0,0,0,0,5339,20028
21,Food services and accommodation,19,2,12,11,11,9,42,9,22,...,1603,9983,0,0,0,0,0,0,9983,11586
22,Communications and broadcasting,5,0,4,4,6,10,16,2,16,...,3131,1270,0,656,9,2,0,0,1937,5068
23,Finance and insurance,12,2,17,11,10,7,38,9,20,...,2080,602,0,0,0,0,0,0,602,2682
24,Real estate services,0,0,2,4,1,11,34,0,2,...,1021,504,0,0,0,0,0,0,504,1525
25,"Professional, scientific, and technical services",17,2,216,109,64,245,1051,55,540,...,15419,5,0,4831,225,0,0,0,5061,20480
26,Business support services,16,3,44,48,48,143,224,17,263,...,11426,295,0,0,0,0,0,0,295,11721
27,"Public administration, defense, and social sec...",82,0,0,0,0,0,0,0,0,...,517,0,0,0,0,0,0,0,0,517
28,Education services,0,0,0,0,0,0,0,0,0,...,3,1985,0,0,0,0,0,0,1985,1988
29,Health and social care services,1,0,0,0,0,0,0,0,0,...,5,655,0,0,0,0,0,0,655,660
30,"Art, sports, and leisure services",0,0,0,0,0,0,3,0,1,...,273,3419,0,12,0,0,21,0,3452,3725
31,Other services,3,0,2,1,2,7,14,1,4,...,307,229,0,0,0,0,0,0,229,536
32,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Total intermediate input,1606,24,13434,19357,5239,52449,47704,2705,35486,...,407863,72218,0,47777,2731,425,458,1817,125426,533289

In [ ]:
url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Domestic_M_F.csv"
Dom = pd.read_csv(url_dom)

In [ ]:
Dom

,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduction of recorded media",Petroleum and coal products,Chemical products,Non-metallic mineral products,Basic metal products,...,Total intermediate demand,Private final consumption expenditure (Households and NPISH),Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
0,"Agricultural, forest, and fishery goods",2564,5,26338,36,334,6,294,7,15,...,40174,12671,0,351,14,1133,0,615,14784,54958
1,Mined and quarried goods,1,2,20,3,6,103,228,2579,255,...,3609,4,0,0,0,-33,0,116,87,3696
2,"Food, beverages and tobacco products",8149,8,13232,152,56,34,809,34,73,...,61795,40927,0,0,0,52,0,6605,47584,109379
3,Textile and leather products,490,10,133,10242,254,57,1130,111,209,...,24518,14902,0,72,10,681,0,30853,46518,71036
4,"Wood and paper products, printing and reproduc...",613,12,1990,448,8286,116,1414,390,264,...,34361,784,0,0,0,64,0,3218,4066,38427
5,Petroleum and coal products,1092,86,258,205,128,1705,11403,1211,504,...,50211,12039,0,0,0,328,0,36058,48425,98636
6,Chemical products,3543,111,2544,5037,2291,1351,44764,1144,1244,...,143971,2838,0,0,0,-544,0,73467,75761,219732
7,Non-metallic mineral products,17,8,513,38,16,59,688,4633,1867,...,32957,13,0,0,0,-28,0,2587,2572,35529
8,Basic metal products,47,5,6,15,36,155,841,562,21017,...,80235,-505,0,-2192,-57,-1107,94,35386,31619,111854
9,"Fabricated metal products, except machinery an...",52,49,1491,196,270,1030,1476,405,996,...,73292,631,0,3181,1653,397,0,10648,16510,89802
10,"Computing machinery, electronic equipment and ...",85,6,106,72,67,274,358,59,273,...,70313,14987,0,8598,1861,1339,0,155612,182397,252710
11,Electrical equipment,93,16,28,67,52,132,207,120,214,...,48062,3529,0,7047,142,418,0,26473,37609,85671
12,Machinery and equipment,189,92,137,42,59,801,2473,309,852,...,39214,963,0,28278,304,289,0,42897,72731,111945
13,Transport equipment,234,57,21,20,39,80,190,137,102,...,71470,21376,0,14433,5166,2458,0,116106,159539,231009
14,Other manufactured products,8,1,192,94,20,6,21,6,14,...,9375,3128,0,1838,209,182,840,2467,8664,18039
15,Manufacturing services and repair services of ...,163,94,2649,8230,1269,216,4407,737,2169,...,52283,24,0,0,0,0,0,2497,2521,54804
16,"Electricity, gas, and steam supply",663,87,1060,976,1285,1671,5461,1489,6138,...,67151,15842,0,0,0,0,0,104,15946,83097
17,"Water supply, sewage and waste treatment and d...",67,11,331,205,421,69,1487,293,2477,...,12779,3045,1044,0,0,0,0,343,4432,17211
18,Construction,67,13,57,23,24,45,160,28,129,...,10207,0,0,148566,42594,-1274,0,148,190034,200241
19,Wholesale and retail trade and commodity broke...,2162,50,7895,5579,1798,774,7291,1079,2235,...,117515,70717,0,9900,633,1099,285,21611,104245,221760
20,Transportation,561,474,3768,1905,1690,840,6657,3752,3286,...,74660,17571,0,216,57,73,7,33987,51911,126571
21,Food services and accommodation,385,68,374,460,384,273,1256,295,696,...,48115,63716,0,0,0,0,0,6306,70022,118137
22,Communications and broadcasting,159,17,204,169,206,354,581,187,389,...,63817,27807,0,24460,208,16,0,4950,57441,121258
23,Finance and insurance,773,146,713,821,565,187,2076,429,1340,...,79910,58054,0,0,0,0,0,2560,60614,140524
24,Real estate services,44,6,212,347,144,130,313,68,328,...,45537,102252,0,23290,15,0,0,385,125942,171479
25,"Professional, scientific, and technical services",653,154,2889,1095,728,2236,8310,1064,3466,...,93439,2808,0,47871,8667,0,0,14239,73585,167024
26,Business support services,103,112,316,283,282,336,767,192,943,...,57435,3184,0,0,0,0,0,7866,11050,68485
27,"Public administration, defense, and social sec...",0,0,0,0,0,0,0,0,0,...,1928,1213,107307,0,0,0,0,34,108554,110482
28,Education services,3,1,22,7,14,23,83,15,58,...,1948,48082,53985,0,0,0,0,153,102220,104168
29,Health and social care services,106,10,91,62,63,39,214,47,120,...,6391,40504,59887,0,0,0,0,332,100723,107114
30,"Art, sports, and leisure services",50,17,55,60,55,49,173,37,146,...,6589,26428,1722,415,0,0,2,929,29496,36085
31,Other services,88,18,153,77,73,107,244,92,226,...,12209,35768,0,0,0,0,0,548,36316,48525
32,Others,265,11,57,40,48,77,546,27,79,...,3708,-285,0,0,0,0,0,0,-285,3423
33,Total intermediate input,23489,1757,67855,37006,20963,13335,106322,21538,52124,...,1539178,645017,223945,316324,61476,5543,1228,640100,1893633,3432811

### DataFrame을 Numpy로 읽어오고 숫자만으로 행렬을 만들고 차원 등 제대로 읽어 왔는지 체크

```
# 코드로 형식 지정됨
```

In [ ]:
Tt=Tot.to_numpy()

In [ ]:
Tt_1 = Tt[0:41,1:53].astype(float)

In [ ]:
Tt_1

array([[ 2.86200e+03,  5.00000e+00,  3.15260e+04, ...,  6.15000e+02,
         1.72130e+04,  6.53490e+04],
       [ 1.00000e+00,  2.00000e+00,  2.30000e+01, ...,  1.16000e+02,
         2.00000e+01,  9.95890e+04],
       [ 8.28500e+03,  8.00000e+00,  2.04080e+04, ...,  6.74200e+03,
         5.71570e+04,  1.31760e+05],
       ...,
       [ 5.49000e+02, -5.60000e+01,  1.06640e+04, ...,  0.00000e+00,
         0.00000e+00,  0.00000e+00],
       [ 2.98630e+04,  1.91500e+03,  2.80900e+04, ...,  0.00000e+00,
         0.00000e+00,  0.00000e+00],
       [ 5.49580e+04,  3.69600e+03,  1.09379e+05, ...,  0.00000e+00,
         0.00000e+00,  0.00000e+00]])

In [ ]:
print(Tt_1.shape)
print(Tt_1.ndim)
print(Tt_1.size)
print(len(Tt_1))

(40, 43)
2
1720
40

In [ ]:
Im=Imp.to_numpy()

In [ ]:
Im_1 = Im[0:41,1:45].astype(float)

In [ ]:
Im_1

array([[ 2.98000e+02,  0.00000e+00,  5.18800e+03, ...,  0.00000e+00,
         2.42900e+03,  1.03910e+04],
       [ 0.00000e+00,  0.00000e+00,  3.00000e+00, ...,  0.00000e+00,
        -6.70000e+01,  9.58930e+04],
       [ 1.36000e+02,  0.00000e+00,  7.17600e+03, ...,  1.37000e+02,
         9.57300e+03,  2.23810e+04],
       ...,
       [ 3.00000e+00,  0.00000e+00,  2.00000e+00, ...,  0.00000e+00,
         2.29000e+02,  5.36000e+02],
       [ 0.00000e+00,  0.00000e+00,  0.00000e+00, ...,  0.00000e+00,
         0.00000e+00,  0.00000e+00],
       [ 1.60600e+03,  2.40000e+01,  1.34340e+04, ...,  1.81700e+03,
         1.25426e+05,  5.33289e+05]])

In [ ]:
print(Im_1.shape)
print(Im_1.ndim)
print(Im_1.size)
print(len(Im_1))

(34, 43)
2
1462
34

In [ ]:
Dm=Dom.to_numpy()

In [ ]:
Dm_1=Dm[0:41,1:45].astype(float)

In [ ]:
Dm_1

array([[ 2.564000e+03,  5.000000e+00,  2.633800e+04, ...,  6.150000e+02,
         1.478400e+04,  5.495800e+04],
       [ 1.000000e+00,  2.000000e+00,  2.000000e+01, ...,  1.160000e+02,
         8.700000e+01,  3.696000e+03],
       [ 8.149000e+03,  8.000000e+00,  1.323200e+04, ...,  6.605000e+03,
         4.758400e+04,  1.093790e+05],
       ...,
       [ 8.800000e+01,  1.800000e+01,  1.530000e+02, ...,  5.480000e+02,
         3.631600e+04,  4.852500e+04],
       [ 2.650000e+02,  1.100000e+01,  5.700000e+01, ...,  0.000000e+00,
        -2.850000e+02,  3.423000e+03],
       [ 2.348900e+04,  1.757000e+03,  6.785500e+04, ...,  6.401000e+05,
         1.893633e+06,  3.432811e+06]])

In [ ]:
print(Dm_1.shape)
print(Dm_1.ndim)
print(Dm_1.size)
print(len(Dm_1))

(34, 43)
2
1462
34

In [ ]:
ct = Tt_1[-1,0:33]

In [ ]:
ct

array([ 54958.,   3696., 109379.,  71036.,  38427.,  98636., 219732.,
        35529., 111854.,  89802., 252710.,  85671., 111945., 231009.,
        18039.,  54804.,  83097.,  17211., 200241., 221760., 126571.,
       118137., 121258., 140524., 171479., 167024.,  68485., 110482.,
       104168., 107114.,  36085.,  48525.,   3423.])

In [ ]:
ct_m = np.tile(ct, reps=[33,1])

In [ ]:
ct_m.shape

(33, 33)

In [ ]:
ct_m

array([[ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.],
       [ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.],
       [ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.],
       ...,
       [ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.],
       [ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.],
       [ 54958.,   3696., 109379., ...,  36085.,  48525.,   3423.]])

In [ ]:
Ad = Dm_1[0:33,0:33]/ct_m

In [ ]:
Ad

array([[4.66538084e-02, 1.35281385e-03, 2.40795765e-01, ...,
        4.01829015e-03, 1.52498712e-03, 7.88781770e-03],
       [1.81957131e-05, 5.41125541e-04, 1.82850456e-04, ...,
        2.77123459e-05, 2.06079341e-05, 0.00000000e+00],
       [1.48276866e-01, 2.16450216e-03, 1.20973862e-01, ...,
        4.92171262e-02, 9.06749098e-03, 3.59333918e-02],
       ...,
       [9.09785654e-04, 4.59956710e-03, 5.02838753e-04, ...,
        2.93473743e-02, 3.75064400e-03, 3.21355536e-03],
       [1.60122275e-03, 4.87012987e-03, 1.39880599e-03, ...,
        8.67396425e-03, 7.04791345e-03, 4.08997955e-03],
       [4.82186397e-03, 2.97619048e-03, 5.21123799e-04, ...,
        6.09671609e-04, 6.18238022e-04, 1.95734736e-02]])

In [ ]:
Lf = np.linalg.inv(np.identity(33)-Ad)

In [ ]:
df_Lf = pd.DataFrame(Lf)

In [ ]:
df_Lf

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,1.099402,0.008320,0.304599,0.007657,0.017986,0.001458,0.006906,0.005817,0.004026,0.005696,...,0.006980,0.002359,0.010679,0.007701,0.008427,0.012154,0.020487,0.027678,0.015657,0.036607
1,0.000473,1.001137,0.001017,0.000534,0.000670,0.001245,0.001962,0.084065,0.004884,0.001844,...,0.000162,0.000459,0.000489,0.000377,0.000292,0.000295,0.000551,0.000708,0.000713,0.000824
2,0.192398,0.015767,1.196910,0.014461,0.014997,0.003129,0.013237,0.011837,0.008358,0.011396,...,0.015153,0.004825,0.024057,0.017919,0.016817,0.025654,0.030426,0.077595,0.034775,0.079793
3,0.014774,0.008596,0.009483,1.176595,0.015060,0.001762,0.010950,0.009797,0.006252,0.010648,...,0.005412,0.002390,0.006826,0.012320,0.008780,0.006201,0.010637,0.018448,0.023362,0.021874
4,0.024911,0.012084,0.038747,0.017516,1.282119,0.003620,0.015793,0.023995,0.009097,0.018591,...,0.019929,0.005356,0.029333,0.011567,0.009544,0.015192,0.012637,0.024069,0.023852,0.026648
5,0.035716,0.048716,0.025903,0.022425,0.024835,1.022206,0.078014,0.069002,0.019759,0.022756,...,0.007894,0.007376,0.023831,0.014311,0.016964,0.021434,0.029570,0.021204,0.031001,0.038569
6,0.107630,0.060974,0.077614,0.125281,0.114285,0.023638,1.272938,0.072485,0.034244,0.090709,...,0.013848,0.009640,0.051405,0.037969,0.015450,0.022417,0.170487,0.041714,0.110773,0.082015
7,0.002767,0.004886,0.008107,0.002834,0.002460,0.001380,0.005956,1.152566,0.025153,0.011680,...,0.001211,0.004906,0.003460,0.002630,0.002201,0.002131,0.002665,0.006852,0.005443,0.006854
8,0.006491,0.015874,0.009184,0.009271,0.009306,0.006997,0.013835,0.034099,1.239980,0.233499,...,0.002839,0.005214,0.009125,0.005073,0.003813,0.004815,0.005910,0.007007,0.022960,0.016159
9,0.009618,0.027882,0.025295,0.012997,0.017433,0.015137,0.017092,0.026617,0.019505,1.165440,...,0.004704,0.005961,0.010773,0.009249,0.006491,0.007676,0.007663,0.013442,0.037360,0.018765
10,0.006875,0.010997,0.008544,0.010986,0.009755,0.005954,0.009045,0.010902,0.010083,0.015859,...,0.010851,0.005249,0.040758,0.011179,0.007093,0.013714,0.019051,0.014766,0.048552,0.040416
11,0.005807,0.013303,0.005868,0.008109,0.007770,0.003672,0.006474,0.012401,0.008428,0.015371,...,0.006134,0.005916,0.017684,0.011182,0.005780,0.008009,0.006344,0.013112,0.037747,0.022532
12,0.008379,0.034747,0.007710,0.008895,0.008033,0.011180,0.020513,0.020152,0.015625,0.043152,...,0.002106,0.002907,0.008428,0.004357,0.003294,0.004617,0.005764,0.005188,0.013262,0.013912
13,0.009634,0.031761,0.008018,0.007965,0.008701,0.002611,0.006530,0.018911,0.006858,0.009109,...,0.002883,0.001512,0.007658,0.007773,0.009372,0.003892,0.004885,0.007239,0.117702,0.015583
14,0.001486,0.002049,0.003544,0.003405,0.002129,0.000492,0.001338,0.001740,0.001332,0.001823,...,0.004132,0.004125,0.007227,0.005693,0.003679,0.018361,0.003807,0.015234,0.008219,0.019740
15,0.015954,0.036782,0.039925,0.153990,0.053749,0.005298,0.033546,0.037310,0.032118,0.061875,...,0.004710,0.002799,0.009426,0.010494,0.005474,0.007952,0.022998,0.011853,0.018105,0.024295
16,0.028654,0.042724,0.031833,0.034227,0.063621,0.024431,0.048182,0.075421,0.090314,0.053530,...,0.017700,0.015193,0.055917,0.015121,0.017529,0.046407,0.041553,0.045686,0.035898,0.055019
17,0.004030,0.005878,0.006487,0.006077,0.016832,0.001566,0.010585,0.013204,0.029995,0.012446,...,0.003612,0.004607,0.005541,0.004464,0.004216,0.006872,0.011811,0.007546,0.009794,0.011880
18,0.002451,0.005037,0.002355,0.001926,0.002345,0.000946,0.002104,0.002827,0.002783,0.002733,...,0.003216,0.039545,0.005041,0.002645,0.005470,0.003182,0.002719,0.004278,0.003756,0.013558
19,0.073782,0.037186,0.119024,0.117123,0.082124,0.014203,0.058050,0.059359,0.040286,0.061073,...,0.023352,0.011060,0.047203,0.031903,0.023359,0.038183,0.100477,0.068305,0.097802,0.088035
20,0.033108,0.151458,0.066235,0.054265,0.077033,0.014034,0.053719,0.157549,0.053537,0.051865,...,0.014563,0.008405,0.034650,0.028548,0.024732,0.014447,0.023694,0.027992,0.036846,0.034942
21,0.016526,0.030583,0.017877,0.021330,0.023909,0.006001,0.016256,0.022816,0.016376,0.022003,...,0.033627,0.011509,0.044847,0.035942,0.020527,0.062322,0.037283,0.045380,0.065439,0.083365
22,0.014894,0.022430,0.019286,0.018554,0.022054,0.009031,0.017147,0.023274,0.017183,0.020501,...,0.080093,0.014858,0.112042,0.035915,0.029842,0.041848,0.017697,0.055983,0.035837,0.057025
23,0.028619,0.059362,0.026854,0.029822,0.034842,0.006090,0.023840,0.034225,0.027871,0.033330,...,1.187213,0.102168,0.038314,0.013270,0.040047,0.025753,0.037130,0.027257,0.046152,0.036772
24,0.009748,0.012902,0.014793,0.018629,0.015964,0.004175,0.010520,0.013298,0.011773,0.013484,...,0.052771,1.035193,0.038722,0.021747,0.010700,0.027081,0.033848,0.027607,0.039593,0.029512
25,0.033516,0.062735,0.054493,0.040911,0.044579,0.029057,0.063262,0.059952,0.053996,0.050970,...,0.042260,0.016478,1.064428,0.042206,0.023141,0.033980,0.027095,0.041590,0.037899,0.049902
26,0.011249,0.047688,0.016756,0.020161,0.022874,0.007129,0.015046,0.024993,0.021487,0.022134,...,0.056896,0.047157,0.046113,1.055446,0.031898,0.025365,0.019409,0.052919,0.022316,0.048871
27,0.003479,0.002319,0.001715,0.001257,0.001563,0.000601,0.002188,0.001291,0.000920,0.001434,...,0.000785,0.000818,0.000921,0.000963,1.000364,0.000445,0.002351,0.000862,0.001000,0.569613
28,0.000529,0.000847,0.000874,0.000948,0.001053,0.000390,0.000936,0.001088,0.001066,0.001515,...,0.002253,0.000650,0.001717,0.000829,0.000293,1.000765,0.000645,0.000847,0.001701,0.003934
29,0.003348,0.004311,0.003077,0.002772,0.003593,0.000816,0.002396,0.003313,0.002520,0.003840,...,0.004886,0.001573,0.004704,0.003622,0.001344,0.003620,1.006656,0.005201,0.004143,0.006171
30,0.002074,0.006634,0.002277,0.002500,0.003322,0.000972,0.002218,0.003508,0.002860,0.003388,...,0.004397,0.001466,0.006536,0.003155,0.001232,0.006191,0.002255,1.031700,0.005399,0.005379
31,0.004217,0.009864,0.005611,0.005078,0.006051,0.002030,0.004231,0.008337,0.005388,0.006522,...,0.007616,0.002852,0.010224,0.011206,0.003475,0.009925,0.004738,0.011844,1.010488,0.008917
32,0.006230,0.004118,0.003057,0.002240,0.002782,0.001074,0.003910,0.002272,0.001635,0.002558,...,0.001404,0.001464,0.001643,0.001718,0.000646,0.000794,0.004208,0.001538,0.001783,1.021355

#### 부가가[링크 텍스트](https://)치 유발계수

In [ ]:
Va_r = Tt_1[-2,0:33]/ct

In [ ]:
Va_r

array([0.54337858, 0.51812771, 0.25681347, 0.20655724, 0.31813569,
       0.33306298, 0.29902791, 0.317656  , 0.21674683, 0.36162892,
       0.34512683, 0.31168073, 0.29964715, 0.19760702, 0.28449471,
       0.49259178, 0.38453855, 0.53459997, 0.42032351, 0.54791667,
       0.3973422 , 0.34765569, 0.54208382, 0.58893143, 0.76470005,
       0.51115409, 0.70008031, 0.77480495, 0.69202634, 0.53066826,
       0.5526396 , 0.44506955, 0.        ])

In [ ]:
Va_m = np.diag(Va_r)

In [ ]:
Va_m

array([[0.54337858, 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.51812771, 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.25681347, ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 0.5526396 , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.44506955,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ]])

In [ ]:
Lv = Va_m@Lf

In [ ]:
df_Lv = pd.DataFrame(Lv)

In [ ]:
df_Lv.round(6)

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.597391,0.004521,0.165512,0.004160,0.009773,0.000792,0.003752,0.003161,0.002188,0.003095,...,0.003793,0.001282,0.005803,0.004185,0.004579,0.006604,0.011132,0.015040,0.008508,0.019892
1,0.000245,0.518717,0.000527,0.000277,0.000347,0.000645,0.001016,0.043556,0.002531,0.000956,...,0.000084,0.000238,0.000254,0.000195,0.000151,0.000153,0.000286,0.000367,0.000369,0.000427
2,0.049410,0.004049,0.307382,0.003714,0.003851,0.000804,0.003400,0.003040,0.002146,0.002927,...,0.003892,0.001239,0.006178,0.004602,0.004319,0.006588,0.007814,0.019927,0.008931,0.020492
3,0.003052,0.001775,0.001959,0.243034,0.003111,0.000364,0.002262,0.002024,0.001291,0.002199,...,0.001118,0.000494,0.001410,0.002545,0.001814,0.001281,0.002197,0.003811,0.004826,0.004518
4,0.007925,0.003844,0.012327,0.005572,0.407888,0.001152,0.005024,0.007634,0.002894,0.005914,...,0.006340,0.001704,0.009332,0.003680,0.003036,0.004833,0.004020,0.007657,0.007588,0.008478
5,0.011896,0.016226,0.008627,0.007469,0.008272,0.340459,0.025984,0.022982,0.006581,0.007579,...,0.002629,0.002457,0.007937,0.004767,0.005650,0.007139,0.009849,0.007062,0.010325,0.012846
6,0.032184,0.018233,0.023209,0.037462,0.034174,0.007068,0.380644,0.021675,0.010240,0.027124,...,0.004141,0.002883,0.015372,0.011354,0.004620,0.006703,0.050980,0.012474,0.033124,0.024525
7,0.000879,0.001552,0.002575,0.000900,0.000781,0.000438,0.001892,0.366120,0.007990,0.003710,...,0.000385,0.001558,0.001099,0.000835,0.000699,0.000677,0.000847,0.002177,0.001729,0.002177
8,0.001407,0.003441,0.001991,0.002009,0.002017,0.001517,0.002999,0.007391,0.268762,0.050610,...,0.000615,0.001130,0.001978,0.001099,0.000826,0.001044,0.001281,0.001519,0.004977,0.003503
9,0.003478,0.010083,0.009147,0.004700,0.006304,0.005474,0.006181,0.009626,0.007053,0.421457,...,0.001701,0.002156,0.003896,0.003345,0.002347,0.002776,0.002771,0.004861,0.013511,0.006786
10,0.002373,0.003795,0.002949,0.003792,0.003367,0.002055,0.003122,0.003763,0.003480,0.005474,...,0.003745,0.001812,0.014067,0.003858,0.002448,0.004733,0.006575,0.005096,0.016757,0.013949
11,0.001810,0.004146,0.001829,0.002527,0.002422,0.001145,0.002018,0.003865,0.002627,0.004791,...,0.001912,0.001844,0.005512,0.003485,0.001801,0.002496,0.001977,0.004087,0.011765,0.007023
12,0.002511,0.010412,0.002310,0.002665,0.002407,0.003350,0.006147,0.006038,0.004682,0.012930,...,0.000631,0.000871,0.002525,0.001306,0.000987,0.001384,0.001727,0.001555,0.003974,0.004169
13,0.001904,0.006276,0.001585,0.001574,0.001719,0.000516,0.001290,0.003737,0.001355,0.001800,...,0.000570,0.000299,0.001513,0.001536,0.001852,0.000769,0.000965,0.001431,0.023259,0.003079
14,0.000423,0.000583,0.001008,0.000969,0.000606,0.000140,0.000381,0.000495,0.000379,0.000519,...,0.001175,0.001174,0.002056,0.001620,0.001047,0.005224,0.001083,0.004334,0.002338,0.005616
15,0.007859,0.018118,0.019667,0.075854,0.026476,0.002610,0.016525,0.018378,0.015821,0.030479,...,0.002320,0.001379,0.004643,0.005169,0.002696,0.003917,0.011329,0.005839,0.008918,0.011967
16,0.011018,0.016429,0.012241,0.013162,0.024465,0.009395,0.018528,0.029002,0.034729,0.020584,...,0.006806,0.005842,0.021502,0.005815,0.006741,0.017845,0.015979,0.017568,0.013804,0.021157
17,0.002154,0.003143,0.003468,0.003249,0.008999,0.000837,0.005659,0.007059,0.016035,0.006654,...,0.001931,0.002463,0.002962,0.002387,0.002254,0.003674,0.006314,0.004034,0.005236,0.006351
18,0.001030,0.002117,0.000990,0.000810,0.000986,0.000398,0.000884,0.001188,0.001170,0.001149,...,0.001352,0.016622,0.002119,0.001112,0.002299,0.001337,0.001143,0.001798,0.001579,0.005699
19,0.040426,0.020375,0.065215,0.064174,0.044997,0.007782,0.031807,0.032524,0.022073,0.033463,...,0.012795,0.006060,0.025863,0.017480,0.012799,0.020921,0.055053,0.037426,0.053587,0.048236
20,0.013155,0.060180,0.026318,0.021562,0.030608,0.005576,0.021345,0.062601,0.021272,0.020608,...,0.005787,0.003340,0.013768,0.011343,0.009827,0.005741,0.009415,0.011123,0.014641,0.013884
21,0.005745,0.010632,0.006215,0.007416,0.008312,0.002086,0.005651,0.007932,0.005693,0.007649,...,0.011691,0.004001,0.015591,0.012495,0.007136,0.021666,0.012962,0.015777,0.022750,0.028982
22,0.008074,0.012159,0.010455,0.010058,0.011955,0.004896,0.009295,0.012617,0.009314,0.011113,...,0.043417,0.008054,0.060736,0.019469,0.016177,0.022685,0.009593,0.030347,0.019427,0.030912
23,0.016854,0.034960,0.015815,0.017563,0.020519,0.003587,0.014040,0.020156,0.016414,0.019629,...,0.699187,0.060170,0.022564,0.007815,0.023585,0.015167,0.021867,0.016053,0.027180,0.021656
24,0.007455,0.009866,0.011312,0.014245,0.012208,0.003193,0.008044,0.010169,0.009003,0.010311,...,0.040354,0.791612,0.029611,0.016630,0.008182,0.020709,0.025883,0.021111,0.030277,0.022568
25,0.017132,0.032067,0.027854,0.020912,0.022787,0.014852,0.032337,0.030645,0.027600,0.026054,...,0.021601,0.008423,0.544087,0.021574,0.011829,0.017369,0.013850,0.021259,0.019372,0.025508
26,0.007875,0.033385,0.011730,0.014114,0.016014,0.004991,0.010533,0.017497,0.015043,0.015495,...,0.039832,0.033014,0.032283,0.738897,0.022331,0.017758,0.013588,0.037047,0.015623,0.034214
27,0.002696,0.001797,0.001329,0.000974,0.001211,0.000466,0.001696,0.001000,0.000713,0.001111,...,0.000609,0.000634,0.000714,0.000746,0.775087,0.000345,0.001821,0.000668,0.000775,0.441339
28,0.000366,0.000586,0.000605,0.000656,0.000729,0.000270,0.000648,0.000753,0.000738,0.001049,...,0.001559,0.000450,0.001188,0.000574,0.000203,0.692556,0.000446,0.000586,0.001177,0.002722
29,0.001777,0.002288,0.001633,0.001471,0.001907,0.000433,0.001272,0.001758,0.001337,0.002038,...,0.002593,0.000835,0.002496,0.001922,0.000713,0.001921,0.534200,0.002760,0.002198,0.003275
30,0.001146,0.003666,0.001258,0.001382,0.001836,0.000537,0.001226,0.001939,0.001581,0.001872,...,0.002430,0.000810,0.003612,0.001743,0.000681,0.003421,0.001246,0.570158,0.002984,0.002973
31,0.001877,0.004390,0.002497,0.002260,0.002693,0.000903,0.001883,0.003711,0.002398,0.002903,...,0.003389,0.001269,0.004550,0.004988,0.001546,0.004417,0.002109,0.005271,0.449737,0.003969
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

### 수입유발계수

In [ ]:
Ai = Im_1[0:33,0:33]/ct_m

In [ ]:
Ai.round(6)

array([[5.4220e-03, 0.0000e+00, 4.7431e-02, ..., 8.3000e-05, 0.0000e+00,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 2.7000e-05, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00],
       [2.4750e-03, 0.0000e+00, 6.5607e-02, ..., 1.0530e-03, 0.0000e+00,
        0.0000e+00],
       ...,
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 1.0810e-03, 1.4400e-04,
        0.0000e+00],
       [5.5000e-05, 0.0000e+00, 1.8000e-05, ..., 8.3000e-05, 2.6800e-04,
        0.0000e+00],
       [0.0000e+00, 0.0000e+00, 0.0000e+00, ..., 0.0000e+00, 0.0000e+00,
        0.0000e+00]])

In [ ]:

Li = Ai@Lf

In [ ]:
df_Li = pd.DataFrame(Li)

In [ ]:
df_Li.round(6)

,0,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,31,32
0,0.015972,0.001368,0.059368,0.011616,0.019062,0.000323,0.005031,0.001343,0.000784,0.001312,...,0.001273,0.000428,0.002043,0.001438,0.001273,0.001903,0.003103,0.004743,0.002903,0.005218
1,0.030216,0.041616,0.026242,0.026195,0.037325,0.517605,0.082010,0.079782,0.203888,0.061690,...,0.010405,0.009600,0.032516,0.013545,0.015027,0.026986,0.032561,0.027379,0.032514,0.041092
2,0.016228,0.002364,0.080145,0.011241,0.002558,0.000812,0.003176,0.001846,0.001279,0.001800,...,0.002325,0.000788,0.003626,0.002831,0.001974,0.004067,0.006366,0.008120,0.005038,0.008656
3,0.004494,0.001663,0.002651,0.165030,0.007112,0.000370,0.004058,0.002273,0.001220,0.002520,...,0.001210,0.000527,0.001637,0.002603,0.001515,0.001347,0.002518,0.003746,0.004666,0.003894
4,0.003144,0.001594,0.005850,0.007895,0.130841,0.000498,0.002336,0.003298,0.001345,0.002780,...,0.002399,0.000889,0.003726,0.001702,0.001654,0.002314,0.001794,0.004225,0.003126,0.003964
5,0.009451,0.012218,0.009181,0.011878,0.013645,0.023863,0.072572,0.019951,0.007250,0.011015,...,0.002112,0.001501,0.006512,0.004628,0.002744,0.005754,0.012424,0.005651,0.011807,0.008157
6,0.029289,0.010505,0.018930,0.038917,0.027392,0.008958,0.156358,0.025359,0.008085,0.019315,...,0.003316,0.002098,0.013129,0.007906,0.003228,0.004987,0.064699,0.008634,0.022783,0.014639
7,0.000428,0.000642,0.000924,0.000510,0.000498,0.000240,0.001640,0.044767,0.005012,0.002692,...,0.000230,0.000613,0.000780,0.000363,0.000276,0.000362,0.000544,0.000619,0.001705,0.000987
8,0.002369,0.005285,0.003207,0.003344,0.003214,0.002119,0.008233,0.008649,0.209235,0.074780,...,0.001134,0.001823,0.003585,0.002016,0.001461,0.001925,0.003291,0.002735,0.009465,0.005486
9,0.000711,0.002563,0.001704,0.002495,0.001237,0.000570,0.001639,0.002168,0.001342,0.018381,...,0.000358,0.000340,0.001017,0.000661,0.002216,0.000575,0.000604,0.000780,0.002561,0.002186
10,0.002418,0.004458,0.003043,0.003708,0.003828,0.001874,0.003582,0.004491,0.003547,0.005404,...,0.005224,0.001971,0.019330,0.004418,0.004377,0.007480,0.013878,0.005386,0.017783,0.011059
11,0.000746,0.001848,0.000853,0.001254,0.001089,0.000512,0.001169,0.001812,0.001642,0.002647,...,0.000640,0.000692,0.002516,0.001328,0.000929,0.000913,0.000939,0.001478,0.006444,0.002374
12,0.001314,0.004192,0.001607,0.002777,0.001716,0.001378,0.003459,0.003166,0.002900,0.007743,...,0.000504,0.000600,0.002053,0.001030,0.001019,0.000762,0.001212,0.000997,0.003757,0.002263
13,0.000744,0.002816,0.001139,0.000975,0.001286,0.000290,0.001032,0.002673,0.000990,0.001207,...,0.000350,0.000187,0.001482,0.000757,0.002772,0.000412,0.000509,0.000660,0.010056,0.002186
14,0.000183,0.000238,0.000314,0.003974,0.000302,0.000052,0.000207,0.000210,0.000160,0.000232,...,0.000453,0.000233,0.000612,0.000767,0.000361,0.003294,0.000676,0.004824,0.000794,0.000890
15,0.001420,0.000976,0.001069,0.096625,0.001711,0.000266,0.001917,0.001134,0.000854,0.001913,...,0.000666,0.000323,0.001139,0.001421,0.000923,0.000809,0.001209,0.001921,0.002669,0.002468
16,0.000004,0.000005,0.000004,0.000005,0.000004,0.000032,0.000027,0.000005,0.000013,0.000006,...,0.000001,0.000001,0.000010,0.000002,0.000056,0.000002,0.000006,0.000003,0.000009,0.000036
17,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000009,0.000000,0.000000,0.000000,0.000001,0.000005
18,0.000001,0.000001,0.000001,0.000000,0.000001,0.000000,0.000001,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000335,0.000000,0.000001,0.000000,0.000000,0.000191
19,0.000703,0.000574,0.001168,0.002895,0.001402,0.002880,0.002715,0.001217,0.002873,0.001639,...,0.000185,0.000123,0.000533,0.000293,0.000233,0.000316,0.000775,0.000451,0.001042,0.000728
20,0.006950,0.017201,0.008504,0.006372,0.008612,0.001650,0.006345,0.017453,0.006225,0.006209,...,0.002041,0.001039,0.004398,0.004039,0.003972,0.001842,0.002997,0.003554,0.004512,0.004868
21,0.000672,0.001097,0.000645,0.000608,0.000780,0.000208,0.000570,0.000877,0.000566,0.000656,...,0.001149,0.000326,0.001590,0.001249,0.001169,0.001465,0.000734,0.001655,0.002214,0.001003
22,0.000556,0.000751,0.000670,0.000648,0.000832,0.000343,0.000634,0.000775,0.000704,0.000724,...,0.003884,0.000561,0.004129,0.001130,0.001720,0.001480,0.000642,0.002834,0.001154,0.002102
23,0.000602,0.001135,0.000634,0.000607,0.000764,0.000170,0.000529,0.000780,0.000564,0.000730,...,0.007983,0.002761,0.000806,0.000382,0.000882,0.000556,0.000895,0.000825,0.001035,0.000821
24,0.000188,0.000190,0.000281,0.000322,0.000246,0.000169,0.000364,0.000201,0.000157,0.000198,...,0.000276,0.000096,0.000783,0.000664,0.002900,0.000143,0.000255,0.000401,0.000301,0.001857
25,0.003083,0.003976,0.005415,0.004831,0.005074,0.003537,0.008444,0.005201,0.008198,0.006243,...,0.009550,0.002172,0.014840,0.006511,0.003315,0.003137,0.003422,0.007147,0.005505,0.005119
26,0.002656,0.006244,0.004053,0.004239,0.005244,0.002385,0.004077,0.005821,0.005695,0.004551,...,0.011563,0.004034,0.009324,0.019335,0.003116,0.003080,0.003365,0.009515,0.004173,0.004436
27,0.001754,0.000533,0.000682,0.000198,0.000292,0.000050,0.000195,0.000550,0.000190,0.000187,...,0.000060,0.000032,0.000135,0.000110,0.000098,0.000068,0.000112,0.000138,0.000150,0.000175
28,0.000001,0.000001,0.000001,0.000001,0.000001,0.000000,0.000001,0.000001,0.000001,0.000001,...,0.000009,0.000001,0.000001,0.000000,0.000000,0.000001,0.000001,0.000001,0.000001,0.000001
29,0.000021,0.000001,0.000006,0.000001,0.000001,0.000000,0.000001,0.000001,0.000000,0.000001,...,0.000009,0.000001,0.000001,0.000000,0.000010,0.000001,0.000011,0.000001,0.000001,0.000007
30,0.000036,0.000060,0.000048,0.000048,0.000051,0.000020,0.000059,0.000056,0.000052,0.000064,...,0.000195,0.000039,0.000308,0.000108,0.000113,0.000092,0.000061,0.001204,0.000217,0.000136
31,0.000121,0.000071,0.000119,0.000105,0.000139,0.000092,0.000138,0.000107,0.000095,0.000114,...,0.000113,0.000082,0.000219,0.000194,0.000060,0.000075,0.000095,0.000155,0.000369,0.000108
32,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000

In [ ]:
f_Lf=pd.DataFrame(Lf)
f_Lv=pd.DataFrame(Lv)
f_Li=pd.DataFrame(Li)

In [ ]:
f_Lf.to_csv('Lf')
f_Lv.to_csv('Lv')
f_Li.to_csv('Li')

In [ ]:
# f_Lv.to_csv('Lv', index=False)

## 부문통합하여 3부문 IO표 만들기

In [ ]:
code = np.array([[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]])

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
code

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [ ]:
nae_tot_row = code@Tt_1[0:33,0:33]

In [ ]:
nae_tot_row.shape

(3, 33)

In [ ]:
nae_tot_col = nae_tot_row@code.T

In [ ]:
nae_tot_col

array([[  2862.,  34627.,  10647.],
       [ 15765., 814918., 311440.],
       [  6468., 234018., 516296.]])

In [ ]:
nae_tot_col.sum()

1947041.0

In [ ]:
va_row = Tt_1[33:40,0:33]@code.T

In [ ]:
va_row # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)

array([[2.509500e+04, 1.083563e+06, 8.383830e+05],
       [4.719000e+03, 1.591330e+05, 5.113400e+05],
       [2.024900e+04, 1.381430e+05, 2.509920e+05],
       [4.346000e+03, 1.033380e+05, 1.710180e+05],
       [5.490000e+02, 4.809200e+04, 7.385100e+04],
       [2.986300e+04, 4.487060e+05, 1.007201e+06],
       [5.495800e+04, 1.532269e+06, 1.845584e+06]])

In [ ]:
va_row.shape

(7, 3)

In [ ]:
# va_col_sm = va_row.sum(axis=1).reshape(7,1)  # 부가가치 및 산출액의 열합

In [ ]:
# va_col_sm.shape

In [ ]:
# va_row = np.concatenate((va_rw, va_col_sm), axis=1)

In [ ]:
va_row

array([[2.509500e+04, 1.083563e+06, 8.383830e+05],
       [4.719000e+03, 1.591330e+05, 5.113400e+05],
       [2.024900e+04, 1.381430e+05, 2.509920e+05],
       [4.346000e+03, 1.033380e+05, 1.710180e+05],
       [5.490000e+02, 4.809200e+04, 7.385100e+04],
       [2.986300e+04, 4.487060e+05, 1.007201e+06],
       [5.495800e+04, 1.532269e+06, 1.845584e+06]])

In [ ]:
fd_cd = np.array([[1,1,0,0,0,0,0,0,0],
                  [0,0,1,1,1,1,0,0,0],
                  [0,0,0,0,0,0,1,0,0],
                  [0,0,0,0,0,0,0,1,0],
                  [0,0,0,0,0,0,0,0,1]])

In [ ]:
fd = Tt_1[0:33, 34:45]

In [ ]:
fd

array([[ 1.51150e+04,  0.00000e+00,  3.83000e+02,  1.50000e+01,
         1.08500e+03,  0.00000e+00,  6.15000e+02,  1.72130e+04,
         6.53490e+04],
       [ 1.20000e+01,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -1.08000e+02,  0.00000e+00,  1.16000e+02,  2.00000e+01,
         9.95890e+04],
       [ 5.03660e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         4.90000e+01,  0.00000e+00,  6.74200e+03,  5.71570e+04,
         1.31760e+05],
       [ 2.66300e+04,  0.00000e+00,  1.15000e+02,  1.50000e+01,
         8.64000e+02,  0.00000e+00,  3.13520e+04,  5.89760e+04,
         9.53080e+04],
       [ 1.11300e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         9.10000e+01,  0.00000e+00,  3.21800e+03,  4.42200e+03,
         4.52510e+04],
       [ 1.31450e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         4.53000e+02,  0.00000e+00,  3.60580e+04,  4.96560e+04,
         1.22457e+05],
       [ 7.06700e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -5.53000e+02,  0.00000e+00,  7.41820e+04,  8.06960e+04,
         2.73533e+05],
       [ 2.08000e+02,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -1.70000e+01,  0.00000e+00,  2.58700e+03,  2.77800e+03,
         4.16980e+04],
       [-4.99000e+02,  0.00000e+00, -2.19200e+03, -5.70000e+01,
        -1.52100e+03,  1.80000e+02,  3.53860e+04,  3.12970e+04,
         1.46345e+05],
       [ 1.16000e+03,  0.00000e+00,  3.39200e+03,  2.16200e+03,
         4.02000e+02,  0.00000e+00,  1.06480e+04,  1.77640e+04,
         9.69290e+04],
       [ 2.19820e+04,  0.00000e+00,  1.88510e+04,  2.55800e+03,
         1.54700e+03,  0.00000e+00,  1.55967e+05,  2.00905e+05,
         3.28314e+05],
       [ 4.66400e+03,  0.00000e+00,  9.63000e+03,  1.81000e+02,
         4.72000e+02,  0.00000e+00,  2.64880e+04,  4.14350e+04,
         1.01458e+05],
       [ 1.25100e+03,  0.00000e+00,  4.66480e+04,  3.70000e+02,
         3.30000e+02,  0.00000e+00,  4.28970e+04,  9.14960e+04,
         1.45110e+05],
       [ 2.76810e+04,  0.00000e+00,  2.45600e+04,  6.29900e+03,
         2.68100e+03,  0.00000e+00,  1.16106e+05,  1.77327e+05,
         2.56535e+05],
       [ 6.25400e+03,  0.00000e+00,  2.49700e+03,  2.42000e+02,
         2.77000e+02,  1.19100e+03,  2.56300e+03,  1.30240e+04,
         2.40840e+04],
       [ 2.40000e+01,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  2.49700e+03,  2.52100e+03,
         6.32260e+04],
       [ 1.58980e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  1.04000e+02,  1.60020e+04,
         8.31850e+04],
       [ 3.05900e+03,  1.04400e+03,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.43000e+02,  4.44600e+03,
         1.72270e+04],
       [ 0.00000e+00,  0.00000e+00,  1.48566e+05,  4.26080e+04,
        -1.27400e+03,  0.00000e+00,  1.48000e+02,  1.90048e+05,
         2.00292e+05],
       [ 7.07170e+04,  0.00000e+00,  9.90000e+03,  6.33000e+02,
         1.09900e+03,  2.85000e+02,  2.16110e+04,  1.04245e+05,
         2.24659e+05],
       [ 2.29100e+04,  0.00000e+00,  2.16000e+02,  5.70000e+01,
         7.30000e+01,  7.00000e+00,  3.39870e+04,  5.72500e+04,
         1.46599e+05],
       [ 7.36990e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  6.30600e+03,  8.00050e+04,
         1.29723e+05],
       [ 2.90770e+04,  0.00000e+00,  2.51160e+04,  2.17000e+02,
         1.80000e+01,  0.00000e+00,  4.95000e+03,  5.93780e+04,
         1.26326e+05],
       [ 5.86560e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  2.56000e+03,  6.12160e+04,
         1.43206e+05],
       [ 1.02756e+05,  0.00000e+00,  2.32900e+04,  1.50000e+01,
         0.00000e+00,  0.00000e+00,  3.85000e+02,  1.26446e+05,
         1.73004e+05],
       [ 2.81300e+03,  0.00000e+00,  5.27020e+04,  8.89200e+03,
         0.00000e+00,  0.00000e+00,  1.42390e+04,  7.86460e+04,
         1.87504e+05],
       [ 3.47900e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  7.86600e+03,  1.13450e+04,
         8.02060e+04],
       [ 1.21300e+03,  1.07307e+05,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.40000e+01,  1.08554e+05,
         1.10999e+05],
       [ 5.00670e+04,  5.39850e+04,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  1.53000e+02,  1.04205e+05,
         1.06156e+05],
       [ 4.11590e+04,  5.98870e+04,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.32000e+02,  1.01378e+05,
         1.07774e+05],
       [ 2.98470e+04,  1.72200e+03,  4.27000e+02,  0.00000e+00,
         0.00000e+00,  2.30000e+01,  9.29000e+02,  3.29480e+04,
         3.98100e+04],
       [ 3.59970e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  5.48000e+02,  3.65450e+04,
         4.90610e+04],
       [-2.85000e+02,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  0.00000e+00, -2.85000e+02,
         3.42300e+03]])

In [ ]:
fd_row=code@fd@fd_cd.T

In [ ]:
fd_row

array([[1.511500e+04, 1.483000e+03, 6.150000e+02, 1.721300e+04,
        6.534900e+04],
       [1.610580e+05, 1.216090e+05, 5.468070e+05, 8.294740e+05,
        1.971597e+06],
       [7.650070e+05, 3.128700e+05, 9.449500e+04, 1.172372e+06,
        1.929154e+06]])

In [ ]:
fd_row_sm = np.sum((fd_row), axis=0)

In [ ]:
fd_sm=fd_row_sm.reshape(1,5)

In [ ]:
nae_va_ct = np.concatenate((nae_tot_col, va_row))

In [ ]:
nae_va_ct

array([[2.862000e+03, 3.462700e+04, 1.064700e+04],
       [1.576500e+04, 8.149180e+05, 3.114400e+05],
       [6.468000e+03, 2.340180e+05, 5.162960e+05],
       [2.509500e+04, 1.083563e+06, 8.383830e+05],
       [4.719000e+03, 1.591330e+05, 5.113400e+05],
       [2.024900e+04, 1.381430e+05, 2.509920e+05],
       [4.346000e+03, 1.033380e+05, 1.710180e+05],
       [5.490000e+02, 4.809200e+04, 7.385100e+04],
       [2.986300e+04, 4.487060e+05, 1.007201e+06],
       [5.495800e+04, 1.532269e+06, 1.845584e+06]])

In [ ]:
nae_va_ct.shape

(10, 3)

In [ ]:
nae_va_ct_sm = nae_va_ct.sum(axis=1).reshape(10,1)  # 부가가치 및 산출액의 열합

In [ ]:
nnull = np.zeros((6,5))

In [ ]:
nnull

array([[0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.],
       [0., 0., 0., 0., 0.]])

In [ ]:
fd_nnull = np.concatenate((fd_row, fd_sm, nnull),axis=0)

In [ ]:
fd_nnull.shape

(10, 5)

In [ ]:
fd_sm.ndim

2

In [ ]:
tot_f = np.concatenate((nae_va_ct,nae_va_ct_sm, fd_nnull), axis=1)

In [ ]:
tot_F = pd.DataFrame(tot_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
tot_F

,Agriculture,Manufacturing,Services,Total intermediate demand,Conumption,Investment,Exports,Total final demand,Total demand
0,2862.0,34627.0,10647.0,48136.0,15115.0,1483.0,615.0,17213.0,65349.0
1,15765.0,814918.0,311440.0,1142123.0,161058.0,121609.0,546807.0,829474.0,1971597.0
2,6468.0,234018.0,516296.0,756782.0,765007.0,312870.0,94495.0,1172372.0,1929154.0
3,25095.0,1083563.0,838383.0,1947041.0,941180.0,435962.0,641917.0,2019059.0,3966100.0
4,4719.0,159133.0,511340.0,675192.0,0.0,0.0,0.0,0.0,0.0
5,20249.0,138143.0,250992.0,409384.0,0.0,0.0,0.0,0.0,0.0
6,4346.0,103338.0,171018.0,278702.0,0.0,0.0,0.0,0.0,0.0
7,549.0,48092.0,73851.0,122492.0,0.0,0.0,0.0,0.0,0.0
8,29863.0,448706.0,1007201.0,1485770.0,0.0,0.0,0.0,0.0,0.0
9,54958.0,1532269.0,1845584.0,3432811.0,0.0,0.0,0.0,0.0,0.0

# 수입거래표 통합하기

In [ ]:
nae_imp_row = code@Im_1[0:33,0:33]

In [ ]:
nae_imp_col = nae_imp_row@code.T

In [ ]:
imp_iti = Im_1[-1,0:33]@code.T

In [ ]:
imp_sm = imp_iti.reshape(1,3)

In [ ]:
fd_imp = Im_1[0:33, 34:45]

In [ ]:
fd_imp_row=code@fd_imp@fd_cd.T

In [ ]:
fd_imp_row_sm = np.sum((fd_imp_row), axis=0)

In [ ]:
fd_sm = fd_imp_row_sm.reshape(1,5)

In [ ]:
imp_nae_3 = np.concatenate((nae_imp_col, imp_sm))

In [ ]:
imp_col_sm = imp_nae_3.sum(axis=1).reshape(4,1)  # 중간수요 열합

In [ ]:
imp_fd_3 = np.concatenate((fd_imp_row, fd_sm))

In [ ]:
imp_f = np.concatenate((imp_nae_3, imp_col_sm, imp_fd_3), axis=1)

In [ ]:
imp_F = pd.DataFrame(imp_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
imp_F

,Agriculture,Manufacturing,Services,Total intermediate demand,Conumption,Investment,Exports,Total final demand,Total demand
0,298.0,7025.0,639.0,7962.0,2444.0,-15.0,0.0,2429.0,10391.0
1,989.0,280214.0,65254.0,346457.0,45418.0,45636.0,1817.0,92871.0,439328.0
2,319.0,13617.0,39508.0,53444.0,24356.0,5770.0,0.0,30126.0,83570.0
3,1606.0,300856.0,105400.0,407862.0,72218.0,51391.0,1817.0,125426.0,533289.0

# 국산거래표 통합하기

In [ ]:
nae_dom_row = code@Dm_1[0:33,0:33]

In [ ]:
nae_dom_col = nae_dom_row@code.T

In [ ]:
dom_iti = Dm_1[-1,0:33]@code.T

In [ ]:
dom_sm = dom_iti.reshape(1,3)

In [ ]:
fd_dom = Dm_1[0:33, 34:45]

In [ ]:
fd_dom_row=code@fd_dom@fd_cd.T

In [ ]:
fd_dom_row_sm = np.sum((fd_dom_row), axis=0)

In [ ]:
fd_sm = fd_dom_row_sm.reshape(1,5)

In [ ]:
dom_nae_3 = np.concatenate((nae_dom_col, dom_sm), axis=0)

In [ ]:
dom_col_sm = dom_nae_3.sum(axis=1).reshape(4,1)  # 중간수요 열합

In [ ]:
dom_fd_3 = np.concatenate((fd_dom_row, fd_sm), axis=0)

In [ ]:
dom_f = np.concatenate((dom_nae_3, dom_col_sm, dom_fd_3), axis=1)

In [ ]:
dom_F = pd.DataFrame(dom_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
dom_F

,Agriculture,Manufacturing,Services,Total intermediate demand,Conumption,Investment,Exports,Total final demand,Total demand
0,2564.0,27602.0,10008.0,40174.0,12671.0,1498.0,615.0,14784.0,54958.0
1,14776.0,534704.0,246186.0,795666.0,115640.0,75973.0,544990.0,736603.0,1532269.0
2,6149.0,220401.0,476788.0,703338.0,740651.0,307100.0,94495.0,1142246.0,1845584.0
3,23489.0,782707.0,732982.0,1539178.0,868962.0,384571.0,640100.0,1893633.0,3432811.0

### 3부문 총거래표에서 부가가치총합만 나타내기

In [ ]:
tot_F_one_va = tot_F.drop(tot_F.index[4:8])

In [ ]:
tot_F_one_va

,Agriculture,Manufacturing,Services,Total intermediate demand,Conumption,Investment,Exports,Total final demand,Total demand
0,2862.0,34627.0,10647.0,48136.0,15115.0,1483.0,615.0,17213.0,65349.0
1,15765.0,814918.0,311440.0,1142123.0,161058.0,121609.0,546807.0,829474.0,1971597.0
2,6468.0,234018.0,516296.0,756782.0,765007.0,312870.0,94495.0,1172372.0,1929154.0
3,25095.0,1083563.0,838383.0,1947041.0,941180.0,435962.0,641917.0,2019059.0,3966100.0
8,29863.0,448706.0,1007201.0,1485770.0,0.0,0.0,0.0,0.0,0.0
9,54958.0,1532269.0,1845584.0,3432811.0,0.0,0.0,0.0,0.0,0.0

## 결과 내보내기

In [ ]:
# np.savetxt('Total_3',tot_f, delimiter=',')
# np.savetxt('Import_3',imp_f, delimiter=',')
# np.savetxt('Domestic_3',dom_f, delimiter=',')

In [ ]:
tot_F.to_csv('Total_3')
imp_F.to_csv('Import_3')
dom_F.to_csv('Domestic_3')
tot_F_one_va.to_csv('Total_3_one_va')

In [ ]:
# imp_F.to_csv('Import_3',index=False)

In [ ]:
# dom_F.to_csv('Domestic_3', index=False)

## 3부문 유발계수 산출 하기

In [ ]:
ct_exm = tot_f[-1, 0:3]

In [ ]:
ct_exm

array([  54958., 1532269., 1845584.])

In [ ]:
ct_m_exm = np.tile(ct_exm, reps=[3,1])

In [ ]:
ct_m_exm

array([[  54958., 1532269., 1845584.],
       [  54958., 1532269., 1845584.],
       [  54958., 1532269., 1845584.]])

In [ ]:
Ad_exm = dom_f[0:3,0:3]/ct_m_exm

In [ ]:
Ad_exm

array([[0.04665381, 0.01801381, 0.00542267],
       [0.26885986, 0.34896223, 0.13339192],
       [0.11188544, 0.14383963, 0.25833991]])

In [ ]:
Lf_exm = np.linalg.inv(np.identity(3)-Ad_exm)

In [ ]:
Lf_exm

array([[1.0596418 , 0.0323155 , 0.01355974],
       [0.48981856, 1.61450945, 0.29396033],
       [0.25485234, 0.31799752, 1.40738364]])

In [ ]:

df_Lf_exm = pd.DataFrame(Lf_exm)

In [ ]:
df_Lf_exm

          0         1         2
0  1.059642  0.032316  0.013560
1  0.489819  1.614509  0.293960
2  0.254852  0.317998  1.407384

In [ ]:

Va_r_exm = tot_f[-2,0:3]/ct_exm

In [ ]:
Va_r_exm

array([0.54337858, 0.29283762, 0.54573566])

In [ ]:

Va_m_exm = np.diag(Va_r_exm)

In [ ]:
Va_m_exm

array([[0.54337858, 0.        , 0.        ],
       [0.        , 0.29283762, 0.        ],
       [0.        , 0.        , 0.54573566]])

In [ ]:
Lv_exm = Va_m_exm@Lf_exm

In [ ]:
Lv_exm

array([[0.57578666, 0.01755955, 0.00736807],
       [0.1434373 , 0.4727891 , 0.08608264],
       [0.13908201, 0.17354259, 0.76805944]])

In [ ]:
df_Lv_exm = pd.DataFrame(Lv_exm)

In [ ]:
df_Lv_exm

          0         1         2
0  0.575787  0.017560  0.007368
1  0.143437  0.472789  0.086083
2  0.139082  0.173543  0.768059

In [ ]:
Ai_exm = imp_f[0:3,0:3]/ct_m_exm

In [ ]:
Ai_exm

array([[0.00542232, 0.0045847 , 0.00034623],
       [0.01799556, 0.1828752 , 0.03535683],
       [0.00580443, 0.00888682, 0.02140677]])

In [ ]:
Li_exm = Ai_exm@Lf_exm

In [ ]:
Li_exm

array([[0.00807963, 0.00768737, 0.00190853],
       [0.11765529, 0.30707866, 0.10376269],
       [0.01595912, 0.02134273, 0.03281862]])

In [ ]:

df_Li_exm = pd.DataFrame(Li_exm)

In [ ]:
df_Li_exm

          0         1         2
0  0.008080  0.007687  0.001909
1  0.117655  0.307079  0.103763
2  0.015959  0.021343  0.032819

In [ ]:

f_Lf_exm=pd.DataFrame(Lf_exm)
f_Lv_exm=pd.DataFrame(Lv_exm)
f_Li_exm=pd.DataFrame(Li_exm)

In [ ]:

f_Lf_exm.to_csv('Lf_exm')
f_Lv_exm.to_csv('Lv_exm')
f_Li_exm.to_csv('Li_exm')