<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/IO_tables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Github에 저장되어 있는 산업연관표를 다운로드 하여 작업을 시작

In [15]:
import numpy as np
import pandas as pd

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
# import os
# print(os.path.join('C:',os.sep, 'Users'))

/Users

In [ ]:
# from pathlib import Path

# print(Path.cwd())
# print(Path('main.py').resolve())
# print(Path('C:\\Users\\hlee\\Desktop\\작업폴더\\main.py').name)
# print(Path('main.py').stem)
# print(Path('main.py').suffix)

/content
/content/main.py
C:\Users\hlee\Desktop\작업폴더\main.py
main
.py

In [ ]:
# from pathlib import Path

# print(Path.joinpath(Path.cwd(), "files", "sample.txt"))

/content/files/sample.txt

In [20]:
url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_M.csv"
Tot = pd.read_csv(url_total)

In [21]:
Tot

,Commodity\n Commodity,ccc,A,B,C01,C02,C03,C04,C05,C06,...,F9140,F9190,F9290,S9310,S9321,S9322,S9329,S9331,S9332,S9390
0,aa,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduc...",Petroleum and coal products,Chemical products,Non-metallic mineral products,...,Exports,Total final demand,Total demand,Gross domestic output,Imports,Taxes on products (Imports),Imports and related taxes,Trade margins,Transport margins,Total supply
1,A,"Agricultural, forest, and fishery goods","3,212,554","5,474","35,481,986","756,009","992,432","6,991","1,130,789","8,002",...,"687,127","19,352,525","73,529,712","61,371,723","11,574,286","583,703","12,157,989",0,0,"73,529,712"
2,B,Mined and quarried goods,"1,031","2,070","26,495","4,943","26,272","57,488,159","5,407,713","3,412,974",...,"129,200","17,459","116,321,922","4,125,218","108,320,520","3,876,184","112,196,704",0,0,"116,321,922"
3,C01,"Food, beverages and tobacco products","9,258,987","8,786","23,173,393","826,237","75,433","74,386","1,218,593","38,360",...,"7,536,286","64,340,318","148,333,741","122,147,220","22,959,153","3,227,368","26,186,521",0,0,"148,333,741"
4,C02,Textile and leather products,"660,079","11,571","169,378","23,039,821","440,861","64,230","1,715,128","138,318",...,"35,039,496","66,525,219","107,729,295","79,329,137","26,335,200","2,064,958","28,400,158",0,0,"107,729,295"
5,C03,"Wood and paper products, printing and reproduc...","690,029","13,098","2,388,874","908,395","13,826,619","130,377","1,668,242","452,652",...,"3,594,127","4,957,239","50,898,188","42,914,016","7,780,134","204,038","7,984,172",0,0,"50,898,188"
6,C04,Petroleum and coal products,"1,266,307","98,458","338,535","308,326","232,601","4,344,479","26,403,323","1,591,106",...,"40,266,835","55,517,377","138,021,227","110,150,033","26,523,754","1,347,440","27,871,194",0,0,"138,021,227"
7,C05,Chemical products,"4,778,239","125,214","3,227,541","7,161,318","2,960,661","2,115,242","81,130,283","1,782,099",...,"82,878,957","90,379,923","308,333,246","245,383,162","61,160,252","1,789,832","62,950,084",0,0,"308,333,246"
8,C06,Non-metallic mineral products,"18,924","8,390","608,147","44,385","20,680","71,058","1,004,915","6,772,643",...,"2,889,084","3,113,923","46,897,311","39,678,688","6,861,754","356,869","7,218,623",0,0,"46,897,311"
9,C07,Basic metal products,"53,215","5,588","7,114","24,842","40,386","182,097","1,892,038","653,882",...,"39,517,282","34,935,106","165,271,701","124,914,202","40,072,086","285,413","40,357,499",0,0,"165,271,701"
10,C08,"Fabricated metal products, except machinery an...","60,577","60,809","1,758,361","336,452","318,216","1,169,799","1,845,131","488,390",...,"11,890,695","19,905,321","108,625,391","100,287,562","8,026,387","311,442","8,337,829",0,0,"108,625,391"
11,C09,"Computing machinery, electronic equipment and ...","95,855","6,188","118,850","81,379","91,921","313,368","473,728","79,985",...,"174,193,328","225,344,734","370,674,624","282,213,561","86,577,784","1,883,279","88,461,063",0,0,"370,674,624"
12,C10,Electrical equipment,"104,309","18,063","31,850","76,944","58,734","149,086","267,149","140,824",...,"29,580,893","46,476,650","114,144,671","95,673,140","17,739,430","732,101","18,471,531",0,0,"114,144,671"
13,C11,Machinery and equipment,"217,204","105,196","178,962","89,069","71,295","931,315","3,033,127","365,742",...,"47,905,261","103,178,371","163,817,301","125,009,907","37,448,920","1,358,474","38,807,394",0,0,"163,817,301"
14,C12,Transport equipment,"262,383","63,499","23,227","23,211","43,760","89,713","230,514","156,671",...,"129,660,499","198,974,918","287,845,328","257,977,501","27,908,542","1,959,285","29,867,827",0,0,"287,845,328"
15,C13,Other manufactured products,"9,099","1,467","221,821","368,397","24,296","7,093","31,626","6,889",...,"2,867,995","14,777,646","27,221,635","20,146,498","6,486,468","588,669","7,075,137",0,0,"27,221,635"
16,C14,Manufacturing services and repair services of ...,"181,985","104,828","2,966,064","15,997,684","1,426,160","244,478","5,096,553","825,112",...,"2,788,269","2,814,795","71,061,635","61,203,821","9,857,814",0,"9,857,814",0,0,"71,061,635"
17,D,"Electricity, gas, and steam supply","740,689","97,151","1,183,342","1,090,774","1,435,557","1,870,022","6,103,157","1,663,227",...,"116,665","17,873,894","92,905,240","92,800,040","105,200",0,"105,200",0,0,"92,905,240"
18,E,"Water supply, sewage and waste treatment and d...","75,128","11,948","370,038","228,859","470,413","77,627","1,660,784","327,501",...,"383,045","4,966,309","19,242,864","19,221,573","21,291",0,"21,291",0,0,"19,242,864"
19,F,Construction,"74,434","13,963","63,756","26,110","26,263","50,048","178,493","31,801",...,"165,061","212,235,059","223,676,345","223,616,951","59,394",0,"59,394",0,0,"223,676,345"
20,G,Wholesale and retail trade and commodity broke...,"2,421,416","55,922","8,891,008","6,400,548","2,039,528","1,173,956","8,601,872","1,224,362",...,"24,133,371","116,414,163","251,039,153","247,647,642","3,391,511",0,"3,391,511",0,0,"251,039,153"
21,H,Transportation,"810,903","533,880","4,240,938","2,145,200","1,893,910","948,292","7,528,087","4,211,005",...,"37,954,966","64,217,402","164,777,272","141,344,511","23,432,761",0,"23,432,761",0,0,"164,777,272"
22,I,Food services and accommodation,"452,768","77,696","431,929","526,978","441,815","315,528","1,452,070","339,731",...,"7,042,220","89,876,694","145,484,541","131,926,155","13,558,386",0,"13,558,386",0,0,"145,484,541"
23,J,Communications and broadcasting,"183,675","19,714","231,448","193,197","236,915","407,126","666,901","211,492",...,"5,527,599","66,413,407","141,346,629","135,412,832","5,933,122",675,"5,933,797",0,0,"141,346,629"
24,K,Finance and insurance,"878,012","164,761","815,843","930,076","643,369","217,007","2,361,952","489,830",...,"2,859,010","68,394,612","160,061,770","156,925,173","3,136,597",0,"3,136,597",0,0,"160,061,770"
25,L,Real estate services,"48,920","6,621","239,199","392,084","161,549","158,639","389,461","75,846",...,"429,765","141,233,853","193,282,346","191,497,517","1,784,829",0,"1,784,829",0,0,"193,282,346"
26,M,"Professional, scientific, and technical services","748,866","174,333","3,478,410","1,349,717","887,255","2,783,963","10,509,029","1,252,735",...,"15,901,469","88,096,713","210,483,882","186,524,180","23,959,702",0,"23,959,702",0,0,"210,483,882"
27,N,Business support services,"133,832","128,630","404,320","372,632","371,615","542,718","1,119,127","233,508",...,"8,784,508","12,685,777","90,197,248","76,481,272","13,715,976",0,"13,715,976",0,0,"90,197,248"
28,O,"Public administration, defense, and social sec...","96,380",0,0,0,0,0,0,0,...,"37,565","121,226,457","123,984,489","123,378,849","605,640",0,"605,640",0,0,"123,984,489"
29,P,Education services,"2,868",725,"24,467","7,822","15,537","25,666","93,493","17,247",...,"171,152","116,475,679","118,657,392","116,328,647","2,328,745",0,"2,328,745",0,0,"118,657,392"
30,Q,Health and social care services,"119,955","11,593","101,315","69,187","70,271","43,259","239,294","52,537",...,"370,313","113,247,828","120,396,378","119,620,062","776,316",0,"776,316",0,0,"120,396,378"
31,R,"Art, sports, and leisure services","56,075","19,251","62,052","67,406","61,663","54,503","196,263","41,423",...,"1,037,209","36,979,687","44,655,127","40,293,777","4,361,350",0,"4,361,350",0,0,"44,655,127"
32,S,Other services,"102,274","20,887","173,407","86,863","83,291","127,100","288,920","103,179",...,"611,914","40,823,809","54,822,664","54,193,336","629,328",0,"629,328",0,0,"54,822,664"
33,T,Others,"296,408","11,935","64,205","44,916","53,971","86,337","610,003","30,358",...,11,"-319,836","3,824,175","3,824,174",1,0,1,0,0,"3,824,175"
34,9590,Total intermediate input,"28,113,380","1,987,709","91,496,275","63,979,781","29,543,249","76,263,662","174,547,758","27,219,431",...,"716,951,177","2,261,453,031","4,457,564,443","3,833,562,080","603,432,633","20,569,730","624,002,363",0,0,"4,457,564,443"
35,9610,Compensation of employees,"5,243,464","694,732","9,906,095","7,417,072","5,973,894","1,366,271","21,429,173","4,644,470",...,0,0,0,0,0,0,0,0,0,0
36,9621,Net operating surplus,"22,576,442","1,148,712","5,076,670","4,095,066","5,416,981","8,606,221","30,620,004","4,032,787",...,0,0,0,0,0,0,0,0,0,0
37,9622,Consumption of fixed capital,"4,828,393","355,891","3,818,737","2,140,284","1,109,629","2,750,547","16,098,393","3,204,533",...,0,0,0,0,0,0,0,0,0,0
38,9630,Taxes on production and products less subsidies,"610,044","-61,826","11,849,443","1,696,934","870,263","21,163,332","2,687,834","577,467",...,0,0,0,0,0,0,0,0,0,0
39,9690,Total value added,"33,258,343","2,137,509","30,650,945","15,349,356","13,370,767","33,886,371","70,835,404","12,459,257",...,0,0,0,0,0,0,0,0,0,0
40,9790,Total input,"61,371,723","4,125,218","122,147,220","79,329,137","42,914,016","110,150,033","245,383,162","39,678,688",...,0,0,0,0,0,0,0,0,0,0

In [22]:
url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Import_M.csv"
Imp = pd.read_csv(url_imp)

In [23]:
Imp

,Commodity\n Commodity,ccc,A,B,C01,C02,C03,C04,C05,C06,...,F9090,F9111,F9112,F9121,F9122,F9131,F9132,F9140,F9190,F9290
0,aa,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduc...",Petroleum and coal products,Chemical products,Non-metallic mineral products,...,Total intermediate demand,Private final consumption expenditure (Househo...,Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
1,A,"Agricultural, forest, and fishery goods","348,818",14,"6,069,885","715,642","619,017",0,"802,137",0,...,"9,316,314","2,859,389",0,"37,840",904,"-56,458",0,0,"2,841,675","12,157,989"
2,B,Mined and quarried goods,0,0,"4,042","1,127","19,766","57,373,388","5,153,512","533,000",...,"112,275,695","9,080",0,0,0,"-88,071",0,0,"-78,991","112,196,704"
3,C01,"Food, beverages and tobacco products","159,175",0,"8,396,734","656,054","12,575","36,949","314,791",0,...,"14,985,969","11,043,413",0,0,0,"-3,147",0,"160,286","11,200,552","26,186,521"
4,C02,Textile and leather products,"113,019",0,"20,889","11,602,446","157,118",373,"452,758","14,189",...,"13,823,438","13,722,005",0,"50,060","5,886","214,419",0,"584,350","14,576,720","28,400,158"
5,C03,"Wood and paper products, printing and reproduc...","5,128",0,"166,641","408,207","4,573,362",662,"88,666","16,825",...,"7,568,065","384,450",0,0,0,"31,657",0,0,"416,107","7,984,172"
6,C04,Petroleum and coal products,"46,984","2,024","50,028","78,902","90,183","2,440,900","13,669,577","239,240",...,"26,431,065","1,294,159",0,0,0,"145,970",0,0,"1,440,129","27,871,194"
7,C05,Chemical products,"821,732","1,803","386,893","1,535,923","402,234","606,806","31,140,598","504,132",...,"57,175,584","4,948,480",0,0,0,"-10,040",0,"836,060","5,774,500","62,950,084"
8,C06,Non-metallic mineral products,194,8,"34,840","1,960","2,348","4,633","237,069","1,598,316",...,"6,976,830","228,675",0,0,0,"13,118",0,0,"241,793","7,218,623"
9,C07,Basic metal products,642,12,0,"7,848",461,"8,746","952,319","26,168",...,"40,733,236","7,376",0,0,0,"-484,137","101,024",0,"-375,737","40,357,499"
10,C08,"Fabricated metal products, except machinery an...","2,222","5,838","93,521","117,120","16,177","19,244","196,518","36,650",...,"6,869,757","619,121",0,"247,106","595,538","6,307",0,0,"1,468,072","8,337,829"
11,C09,"Computing machinery, electronic equipment and ...",752,26,574,"1,415","16,675","7,367","73,797","14,514",...,"66,806,167","8,184,351",0,"11,996,642","815,342","243,453",0,"415,108","21,654,896","88,461,063"
12,C10,Electrical equipment,151,13,80,"1,930",242,"1,240","35,995","6,931",...,"13,995,436","1,327,595",0,"3,022,414","45,103","63,676",0,"17,307","4,476,095","18,471,531"
13,C11,Machinery and equipment,"6,106","2,490","25,874","41,998","5,306","36,772","271,497","20,523",...,"16,850,845","337,434",0,"21,493,616","77,659","47,840",0,0,"21,956,549","38,807,394"
14,C12,Transport equipment,850,98,0,461,18,31,"18,284","3,941",...,"9,055,760","7,377,217",0,"11,849,056","1,325,238","260,556",0,0,"20,812,067","29,867,827"
15,C13,Other manufactured products,77,9,"6,940","263,243","2,400",376,"8,720",246,...,"1,972,858","3,657,063",0,"771,230","38,932","111,207","411,062","112,785","5,102,279","7,075,137"
16,C14,Manufacturing services and repair services of ...,132,0,"7,337","6,806,655","8,622","2,880","175,179","2,119",...,"9,857,734",80,0,0,0,0,0,0,80,"9,857,814"
17,D,"Electricity, gas, and steam supply",2,1,52,329,98,"3,431","4,699",35,...,"39,349","65,851",0,0,0,0,0,0,"65,851","105,200"
18,E,"Water supply, sewage and waste treatment and d...",11,0,36,17,10,77,388,9,...,"4,525","16,766",0,0,0,0,0,0,"16,766","21,291"
19,F,Construction,0,0,0,0,0,0,1,0,...,"42,855",0,0,0,"16,539",0,0,0,"16,539","59,394"
20,G,Wholesale and retail trade and commodity broke...,"7,092",477,"74,678","170,087","31,948","309,137","459,487","19,651",...,"3,391,511",0,0,0,0,0,0,0,0,"3,391,511"
21,H,Transportation,"184,400","5,064","32,699","18,078","6,229","10,195","93,568","21,348",...,"17,185,884","6,246,877",0,0,0,0,0,0,"6,246,877","23,432,761"
22,I,Food services and accommodation,"22,405","1,969","13,786","13,362","13,073","10,249","49,723","10,551",...,"1,877,520","11,680,866",0,0,0,0,0,0,"11,680,866","13,558,386"
23,J,Communications and broadcasting,"6,283",297,"4,134","4,911","6,637","12,183","18,291","2,662",...,"3,666,654","1,486,029",0,"768,077","10,654","2,383",0,0,"2,267,143","5,933,797"
24,K,Finance and insurance,"14,427","2,198","19,898","12,929","11,960","8,364","44,106","10,697",...,"2,431,860","704,737",0,0,0,0,0,0,"704,737","3,136,597"
25,L,Real estate services,45,12,"2,138","4,225","1,073","13,124","39,705",279,...,"1,194,936","589,893",0,0,0,0,0,0,"589,893","1,784,829"
26,M,"Professional, scientific, and technical services","19,398","1,944","252,434","127,223","74,445","286,568","1,229,164","64,706",...,"18,038,647","5,748",0,"5,652,111","263,196",0,0,0,"5,921,055","23,959,702"
27,N,Business support services,"19,188","3,574","51,617","56,297","56,220","167,037","262,414","19,422",...,"13,370,401","345,575",0,0,0,0,0,0,"345,575","13,715,976"
28,O,"Public administration, defense, and social sec...","96,380",0,0,0,0,0,0,0,...,"605,640",0,0,0,0,0,0,0,0,"605,640"
29,P,Education services,6,0,78,40,53,300,293,37,...,"6,597","2,322,148",0,0,0,0,0,0,"2,322,148","2,328,745"
30,Q,Health and social care services,"1,258",2,84,69,53,8,289,64,...,"9,378","766,938",0,0,0,0,0,0,"766,938","776,316"
31,R,"Art, sports, and leisure services",302,65,516,557,516,280,"3,080",357,...,"320,893","4,000,785",0,"14,541",0,0,"25,131",0,"4,040,457","4,361,350"
32,S,Other services,"3,466",244,"2,845","1,064","1,939","8,159","15,937",971,...,"361,093","268,235",0,0,0,0,0,0,"268,235","629,328"
33,T,Others,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,1
34,9590,Total intermediate input,"1,880,645","28,182","15,719,273","22,650,119","6,130,758","61,369,479","55,812,562","3,167,583",...,"477,242,497","84,500,336",0,"55,902,693","3,194,991","498,733","537,217","2,125,896","146,759,866","624,002,363"

In [24]:
url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Domestic_M.csv"
Dom = pd.read_csv(url_dom)

In [25]:
Dom

,Commodity,ccc,A,B,C01,C02,C03,C04,C05,C06,...,F9090,F9111,F9112,F9121,F9122,F9131,F9132,F9140,F9190,F9290
0,aa,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduc...",Petroleum and coal products,Chemical products,Non-metallic mineral products,...,Total intermediate demand,Private final consumption expenditure (Househo...,Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
1,A,"Agricultural, forest, and fishery goods","2,863,736",5460,"29,412,101","40,367","373,415",6991,"328,652",8002,...,"44,860,873","14,150,710",0,"392,372",15171,"1,265,470",0,687127,"16,510,850","61,371,723"
2,B,Mined and quarried goods,1031,2070,"22,453","3,816","6,506","114,771","254,201","2,879,974",...,"4,028,768","3,972",0,0,0,"-36,722",0,129200,"96,450","4,125,218"
3,C01,"Food, beverages and tobacco products","9,099,812",8786,"14,776,659","170,183","62,858","37,437","903,802",38360,...,"69,007,454","45,705,216",0,0,0,"58,550",0,"7,376,000","53,139,766","122,147,220"
4,C02,Textile and leather products,"547,060",11571,"148,489","11,437,375","283,743",63857,"1,262,370","124,129",...,"27,380,638","16,641,521",0,"79,953","10,973","760,906",0,"34,455,146","51,948,499","79,329,137"
5,C03,"Wood and paper products, printing and reproduc...","684,901",13098,"2,222,233","500,188","9,253,257",129715,"1,579,576","435,827",...,"38,372,884","875,810",0,0,0,"71,195",0,3594127,"4,541,132","42,914,016"
6,C04,Petroleum and coal products,"1,219,323","96,434","288,507","229,424","142,418","1,903,579","12,733,746","1,351,866",...,"56,072,785","13,444,272",0,0,0,"366,141",0,40266835,"54,077,248","110,150,033"
7,C05,Chemical products,"3,956,507","123,411","2,840,648","5,625,395","2,558,427","1,508,436","49,989,685","1,277,967",...,"160,777,739","3,169,798",0,0,0,"-607,272",0,"82,042,897","84,605,423","245,383,162"
8,C06,Non-metallic mineral products,18730,8382,"573,307","42,425","18,332","66,425","767,846","5,174,327",...,"36,806,558","14,054",0,0,0,"-31,008",0,2889084,"2,872,130","39,678,688"
9,C07,Basic metal products,52573,5576,7114,"16,994",39925,"173,351","939,719","627,714",...,"89,603,359","-563,598",0,-2448262,-63985,"-1,235,910","105,316",39517282,"35,310,843","124,914,202"
10,C08,"Fabricated metal products, except machinery an...","58,355","54,971","1,664,840","219,332","302,039","1,150,555","1,648,613","451,740",...,"81,850,313","704,425",0,"3,552,411","1,846,430","443,288",0,11890695,"18,437,249","100,287,562"
11,C09,"Computing machinery, electronic equipment and ...",95103,6162,118276,"79,964","75,246","306,001","399,931","65,471",...,"78,523,723","16,736,079",0,"9,601,519","2,078,305","1,495,715",0,"173,778,220","203,689,838","282,213,561"
12,C10,Electrical equipment,104158,18050,31770,"75,014",58492,"147,846","231,154","133,893",...,"53,672,585","3,941,220",0,"7,869,558","159,122","467,069",0,"29,563,586","42,000,555","95,673,140"
13,C11,Machinery and equipment,"211,098","102,706","153,088","47,071","65,989","894,543","2,761,630","345,219",...,"43,788,085","1,075,109",0,"31,579,151","340,014","322,287",0,47905261,"81,221,822","125,009,907"
14,C12,Transport equipment,261533,63401,23227,22750,43742,89682,"212,230","152,730",...,"79,814,650","23,870,929",0,"16,117,336","5,769,067","2,745,020",0,129660499,"178,162,851","257,977,501"
15,C13,Other manufactured products,9022,1458,"214,881","105,154","21,896",6717,"22,906",6643,...,"10,471,131","3,492,803",0,"2,052,940","233,593","202,951","937,870","2,755,210","9,675,367","20,146,498"
16,C14,Manufacturing services and repair services of ...,181853,104828,"2,958,727","9,191,029","1,417,538","241,598","4,921,374","822,993",...,"58,389,106",26446,0,0,0,0,0,2788269,2814715,"61,203,821"
17,D,"Electricity, gas, and steam supply",740687,97150,1183290,1090445,1435459,"1,866,591","6,098,458",1663192,...,"74,991,997","17,691,378",0,0,0,0,0,116665,"17,808,043","92,800,040"
18,E,"Water supply, sewage and waste treatment and d...",75117,11948,370002,228842,470403,77550,1660396,327492,...,"14,272,030","3,400,787",1165711,0,0,0,0,383045,"4,949,543","19,221,573"
19,F,Construction,74434,13963,63756,26110,26263,50048,178492,31801,...,"11,398,431",0,0,165908820,"47,566,824",-1422185,0,165061,"212,218,520","223,616,951"
20,G,Wholesale and retail trade and commodity broke...,"2,414,324",55445,"8,816,330","6,230,461","2,007,580","864,819","8,142,385","1,204,711",...,"131,233,479",78971850,0,11056000,707083,1227459,318400,24133371,116414163,"247,647,642"
21,H,Transportation,"626,503","528,816","4,208,239","2,127,122","1,887,681","938,097","7,434,519","4,189,657",...,"83,373,986","19,621,701",0,240833,63687,81459,7879,37954966,"57,970,525","141,344,511"
22,I,Food services and accommodation,"430,363","75,727","418,143","513,616","428,742","305,279","1,402,347","329,180",...,"53,730,327","71,153,608",0,0,0,0,0,7042220,"78,195,828","131,926,155"
23,J,Communications and broadcasting,"177,392",19417,"227,314","188,286","230,278","394,943","648,610","208,830",...,"71,266,568","31,053,321",0,"27,315,764","232,113","17,467",0,5527599,"64,146,264","135,412,832"
24,K,Finance and insurance,"863,585","162,563","795,945","917,147","631,409","208,643","2,317,846","479,133",...,"89,235,298","64,830,865",0,0,0,0,0,2859010,"67,689,875","156,925,173"
25,L,Real estate services,48875,6609,"237,061","387,859","160,476","145,515","349,756",75567,...,"50,853,557","114,188,760",0,26009160,16275,0,0,429765,"140,643,960","191,497,517"
26,M,"Professional, scientific, and technical services","729,468","172,389","3,225,976","1,222,494","812,810","2,497,395","9,279,865","1,188,029",...,"104,348,522","3,135,470",0,"53,459,554","9,679,165",0,0,15901469,"82,175,658","186,524,180"
27,N,Business support services,"114,644","125,056","352,703","316,335","315,395","375,681","856,713","214,086",...,"64,141,070","3,555,694",0,0,0,0,0,8784508,"12,340,202","76,481,272"
28,O,"Public administration, defense, and social sec...",0,0,0,0,0,0,0,0,...,"2,152,392",1354851,119834041,0,0,0,0,37565,121226457,"123,378,849"
29,P,Education services,2862,725,24389,7782,15484,25366,93200,17210,...,"2,175,116","53,695,329",60287050,0,0,0,0,171152,"114,153,531","116,328,647"
30,Q,Health and social care services,"118,697",11591,101231,69118,70218,43251,239005,52473,...,"7,139,172","45,232,722",66877855,0,0,0,0,370313,"112,480,890","119,620,062"
31,R,"Art, sports, and leisure services",55773,19186,61536,66849,61147,54223,"193,183",41066,...,"7,354,547","29,513,101",1923311,"463,097",0,0,"2,512",1037209,"32,939,230","40,293,777"
32,S,Other services,"98,808",20643,"170,562","85,799","81,352","118,941","272,983",102208,...,"13,637,762","39,943,660",0,0,0,0,0,611914,"40,555,574","54,193,336"
33,T,Others,296408,11935,64205,44916,53971,86337,610003,30358,...,4144010,-319847,0,0,0,0,0,11,-319836,3824174
34,9590,Total intermediate input,"26,232,735","1,959,527","75,777,002","41,329,662","23,412,491","14,894,183","118,735,196","24,051,848",...,"1,718,868,915","720,312,016",250087968,"353,250,206","68,653,837","6,191,880","1,371,977","714,825,281","2,114,693,165","3,833,562,080"

In [3]:
import pandas as pd

tot = pd.read_excel("C:/Users/mom20/Downloads/M_2015_tables.xlsx", sheet_name='Tot', header=1)

# 상위 데이터 확인
# print(tot).head())
# print()
# r"C:\Users\DeePak\Desktop\myac.csv"
# # 데이터 확인
# print(tot.tail())
# print()

# # 데이터 구조
# print(xlsx.shape) # 행, 열
# - pd.read_excel은 옵션으로 sheetname, header, skiprow 등의 옵션을 줄 수가 있습니다.

# - xlsx.head는 상위 5개의 데이터, xlsx.tail은 하위 5개의 데이터를 추출합니다.

# - x

FileNotFoundError: ignored

In [4]:
url = "https://raw.githubusercontent.com/Muralimekala/python/master/Resp2.csv"
df1 = pd.read_csv(url)

In [5]:
print(df1)

    experience  respiration
0            0         3.94
1            0         4.26
2            0         4.16
3            0         3.76
4            0         4.07
5            0         3.57
6            0         4.11
7            0         4.18
8            1         4.00
9            1         4.16
10           1         3.73
11           1         4.52
12           1         4.21
13           1         4.24
14           1         4.01
15           1         3.86
16           2         3.76
17           2         3.41
18           2         4.61
19           2         4.17
20           2         3.74
21           2         3.24
22           2         3.83
23           2         3.91
24           3         3.66
25           3         4.04
26           3         3.19
27           3         3.61
28           3         3.32
29           3         3.20
30           3         3.35
31           3         3.18

In [13]:
url = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_M.csv"
df1 = pd.read_csv(url)

In [14]:
df1

,Commodity\n Commodity,ccc,A,B,C01,C02,C03,C04,C05,C06,...,9140,9190,9290,9310,9321,9322,9329,9331,9332,9390
0,aa,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduc...",Petroleum and coal products,Chemical products,Non-metallic mineral products,...,Exports,Total final demand,Total demand,Gross domestic output,Imports,Taxes on products (Imports),Imports and related taxes,Trade margins,Transport margins,Total supply
1,A,"Agricultural, forest, and fishery goods","3,212,554","5,474","35,481,986","756,009","992,432","6,991","1,130,789","8,002",...,"687,127","19,352,525","73,529,712","61,371,723","11,574,286","583,703","12,157,989",0,0,"73,529,712"
2,B,Mined and quarried goods,"1,031","2,070","26,495","4,943","26,272","57,488,159","5,407,713","3,412,974",...,"129,200","17,459","116,321,922","4,125,218","108,320,520","3,876,184","112,196,704",0,0,"116,321,922"
3,C01,"Food, beverages and tobacco products","9,258,987","8,786","23,173,393","826,237","75,433","74,386","1,218,593","38,360",...,"7,536,286","64,340,318","148,333,741","122,147,220","22,959,153","3,227,368","26,186,521",0,0,"148,333,741"
4,C02,Textile and leather products,"660,079","11,571","169,378","23,039,821","440,861","64,230","1,715,128","138,318",...,"35,039,496","66,525,219","107,729,295","79,329,137","26,335,200","2,064,958","28,400,158",0,0,"107,729,295"
5,C03,"Wood and paper products, printing and reproduc...","690,029","13,098","2,388,874","908,395","13,826,619","130,377","1,668,242","452,652",...,"3,594,127","4,957,239","50,898,188","42,914,016","7,780,134","204,038","7,984,172",0,0,"50,898,188"
6,C04,Petroleum and coal products,"1,266,307","98,458","338,535","308,326","232,601","4,344,479","26,403,323","1,591,106",...,"40,266,835","55,517,377","138,021,227","110,150,033","26,523,754","1,347,440","27,871,194",0,0,"138,021,227"
7,C05,Chemical products,"4,778,239","125,214","3,227,541","7,161,318","2,960,661","2,115,242","81,130,283","1,782,099",...,"82,878,957","90,379,923","308,333,246","245,383,162","61,160,252","1,789,832","62,950,084",0,0,"308,333,246"
8,C06,Non-metallic mineral products,"18,924","8,390","608,147","44,385","20,680","71,058","1,004,915","6,772,643",...,"2,889,084","3,113,923","46,897,311","39,678,688","6,861,754","356,869","7,218,623",0,0,"46,897,311"
9,C07,Basic metal products,"53,215","5,588","7,114","24,842","40,386","182,097","1,892,038","653,882",...,"39,517,282","34,935,106","165,271,701","124,914,202","40,072,086","285,413","40,357,499",0,0,"165,271,701"
10,C08,"Fabricated metal products, except machinery an...","60,577","60,809","1,758,361","336,452","318,216","1,169,799","1,845,131","488,390",...,"11,890,695","19,905,321","108,625,391","100,287,562","8,026,387","311,442","8,337,829",0,0,"108,625,391"
11,C09,"Computing machinery, electronic equipment and ...","95,855","6,188","118,850","81,379","91,921","313,368","473,728","79,985",...,"174,193,328","225,344,734","370,674,624","282,213,561","86,577,784","1,883,279","88,461,063",0,0,"370,674,624"
12,C10,Electrical equipment,"104,309","18,063","31,850","76,944","58,734","149,086","267,149","140,824",...,"29,580,893","46,476,650","114,144,671","95,673,140","17,739,430","732,101","18,471,531",0,0,"114,144,671"
13,C11,Machinery and equipment,"217,204","105,196","178,962","89,069","71,295","931,315","3,033,127","365,742",...,"47,905,261","103,178,371","163,817,301","125,009,907","37,448,920","1,358,474","38,807,394",0,0,"163,817,301"
14,C12,Transport equipment,"262,383","63,499","23,227","23,211","43,760","89,713","230,514","156,671",...,"129,660,499","198,974,918","287,845,328","257,977,501","27,908,542","1,959,285","29,867,827",0,0,"287,845,328"
15,C13,Other manufactured products,"9,099","1,467","221,821","368,397","24,296","7,093","31,626","6,889",...,"2,867,995","14,777,646","27,221,635","20,146,498","6,486,468","588,669","7,075,137",0,0,"27,221,635"
16,C14,Manufacturing services and repair services of ...,"181,985","104,828","2,966,064","15,997,684","1,426,160","244,478","5,096,553","825,112",...,"2,788,269","2,814,795","71,061,635","61,203,821","9,857,814",0,"9,857,814",0,0,"71,061,635"
17,D,"Electricity, gas, and steam supply","740,689","97,151","1,183,342","1,090,774","1,435,557","1,870,022","6,103,157","1,663,227",...,"116,665","17,873,894","92,905,240","92,800,040","105,200",0,"105,200",0,0,"92,905,240"
18,E,"Water supply, sewage and waste treatment and d...","75,128","11,948","370,038","228,859","470,413","77,627","1,660,784","327,501",...,"383,045","4,966,309","19,242,864","19,221,573","21,291",0,"21,291",0,0,"19,242,864"
19,F,Construction,"74,434","13,963","63,756","26,110","26,263","50,048","178,493","31,801",...,"165,061","212,235,059","223,676,345","223,616,951","59,394",0,"59,394",0,0,"223,676,345"
20,G,Wholesale and retail trade and commodity broke...,"2,421,416","55,922","8,891,008","6,400,548","2,039,528","1,173,956","8,601,872","1,224,362",...,"24,133,371","116,414,163","251,039,153","247,647,642","3,391,511",0,"3,391,511",0,0,"251,039,153"
21,H,Transportation,"810,903","533,880","4,240,938","2,145,200","1,893,910","948,292","7,528,087","4,211,005",...,"37,954,966","64,217,402","164,777,272","141,344,511","23,432,761",0,"23,432,761",0,0,"164,777,272"
22,I,Food services and accommodation,"452,768","77,696","431,929","526,978","441,815","315,528","1,452,070","339,731",...,"7,042,220","89,876,694","145,484,541","131,926,155","13,558,386",0,"13,558,386",0,0,"145,484,541"
23,J,Communications and broadcasting,"183,675","19,714","231,448","193,197","236,915","407,126","666,901","211,492",...,"5,527,599","66,413,407","141,346,629","135,412,832","5,933,122",675,"5,933,797",0,0,"141,346,629"
24,K,Finance and insurance,"878,012","164,761","815,843","930,076","643,369","217,007","2,361,952","489,830",...,"2,859,010","68,394,612","160,061,770","156,925,173","3,136,597",0,"3,136,597",0,0,"160,061,770"
25,L,Real estate services,"48,920","6,621","239,199","392,084","161,549","158,639","389,461","75,846",...,"429,765","141,233,853","193,282,346","191,497,517","1,784,829",0,"1,784,829",0,0,"193,282,346"
26,M,"Professional, scientific, and technical services","748,866","174,333","3,478,410","1,349,717","887,255","2,783,963","10,509,029","1,252,735",...,"15,901,469","88,096,713","210,483,882","186,524,180","23,959,702",0,"23,959,702",0,0,"210,483,882"
27,N,Business support services,"133,832","128,630","404,320","372,632","371,615","542,718","1,119,127","233,508",...,"8,784,508","12,685,777","90,197,248","76,481,272","13,715,976",0,"13,715,976",0,0,"90,197,248"
28,O,"Public administration, defense, and social sec...","96,380",0,0,0,0,0,0,0,...,"37,565","121,226,457","123,984,489","123,378,849","605,640",0,"605,640",0,0,"123,984,489"
29,P,Education services,"2,868",725,"24,467","7,822","15,537","25,666","93,493","17,247",...,"171,152","116,475,679","118,657,392","116,328,647","2,328,745",0,"2,328,745",0,0,"118,657,392"
30,Q,Health and social care services,"119,955","11,593","101,315","69,187","70,271","43,259","239,294","52,537",...,"370,313","113,247,828","120,396,378","119,620,062","776,316",0,"776,316",0,0,"120,396,378"
31,R,"Art, sports, and leisure services","56,075","19,251","62,052","67,406","61,663","54,503","196,263","41,423",...,"1,037,209","36,979,687","44,655,127","40,293,777","4,361,350",0,"4,361,350",0,0,"44,655,127"
32,S,Other services,"102,274","20,887","173,407","86,863","83,291","127,100","288,920","103,179",...,"611,914","40,823,809","54,822,664","54,193,336","629,328",0,"629,328",0,0,"54,822,664"
33,T,Others,"296,408","11,935","64,205","44,916","53,971","86,337","610,003","30,358",...,11,"-319,836","3,824,175","3,824,174",1,0,1,0,0,"3,824,175"
34,9590,Total intermediate input,"28,113,380","1,987,709","91,496,275","63,979,781","29,543,249","76,263,662","174,547,758","27,219,431",...,"716,951,177","2,261,453,031","4,457,564,443","3,833,562,080","603,432,633","20,569,730","624,002,363",0,0,"4,457,564,443"
35,9610,Compensation of employees,"5,243,464","694,732","9,906,095","7,417,072","5,973,894","1,366,271","21,429,173","4,644,470",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
36,9621,Net operating surplus,"22,576,442","1,148,712","5,076,670","4,095,066","5,416,981","8,606,221","30,620,004","4,032,787",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37,9622,Consumption of fixed capital,"4,828,393","355,891","3,818,737","2,140,284","1,109,629","2,750,547","16,098,393","3,204,533",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,9630,Taxes on production and products less subsidies,"610,044","-61,826","11,849,443","1,696,934","870,263","21,163,332","2,687,834","577,467",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39,9690,Total value added,"33,258,343","2,137,509","30,650,945","15,349,356","13,370,767","33,886,371","70,835,404","12,459,257",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
40,9790,Total input,"61,371,723","4,125,218","122,147,220","79,329,137","42,914,016","110,150,033","245,383,162","39,678,688",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN