<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/IO_tables_new.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [85]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

## 행렬 연산의 기초

In [86]:
A = np.array([[8, 5, 1],  # 2차원 행렬 A, B 생성
              [2, 3, 4],
              [6, 2, 2]])  

B = np.array([[4, 6, 0],
              [2, 1, 5],
              [4, 3, 2]])  
print('A : ')
print(A)
print('B : ')
print(B)

A :
[[8 5 1]
 [2 3 4]
 [6 2 2]]
B :
[[4 6 0]
 [2 1 5]
 [4 3 2]]

In [87]:
print('A + B : ')
print(A+B)
print('A - B : ')
print(A-B)

A + B :
[[12 11  1]
 [ 4  4  9]
 [10  5  4]]
A - B :
[[ 4 -1  1]
 [ 0  2 -1]
 [ 2 -1  0]]

In [88]:
print('A + B : ')
print(A+B)
print('A - B : ')
print(A-B)

A + B :
[[12 11  1]
 [ 4  4  9]
 [10  5  4]]
A - B :
[[ 4 -1  1]
 [ 0  2 -1]
 [ 2 -1  0]]

In [89]:
Cab = A.dot(B)  #AB
Cba = B.dot(A)  #BA
CAB = A*B       #A*B(행렬원소간의 곱)

print('AB : ')
print(Cab)
print('BA : ')
print(Cba)
print('A*B : ')
print(CAB)

AB :
[[46 56 27]
 [30 27 23]
 [36 44 14]]
BA :
[[44 38 28]
 [48 23 16]
 [50 33 20]]
A*B :
[[32 30  0]
 [ 4  3 20]
 [24  6  4]]

In [91]:
A_inv = np.linalg.inv(A)  # A의 역행렬 구하기
B_inv = np.linalg.inv(B)  # B의  역행렬 구하기

print('A의 역행렬 A-1 : ')
print(A_inv)
print('B의 역행렬 B-1 : ')
print(B_inv)

A의 역행렬 A-1 :
[[-0.02857143 -0.11428571  0.24285714]
 [ 0.28571429  0.14285714 -0.42857143]
 [-0.2         0.2         0.2       ]]
B의 역행렬 B-1 :
[[-0.29545455 -0.27272727  0.68181818]
 [ 0.36363636  0.18181818 -0.45454545]
 [ 0.04545455  0.27272727 -0.18181818]]

##### 1차원 배열

In [92]:
one_d = np.array([1,2,3,4,5,6,7,8])  # 1차원 배열
print(one_d)             # 배열 출력
print(one_d.ndim)        # 배열의 차원
print(one_d.shape)       # 행과 열의 수

[1 2 3 4 5 6 7 8]
1
(8,)

##### 2차원 배열

In [93]:
two_d = np.array([[1,2,3,4],[5,6,7,8]])
print(two_d)             # 배열 출력
print(two_d.ndim)        # 배열의 차원
print(two_d.shape)       # 행과 열의 수

[[1 2 3 4]
 [5 6 7 8]]
2
(2, 4)

In [94]:
one_d_24 = one_d.reshape([2,4])  # reshape을 통한 행렬의 변형(1차원 배열에서 행렬 형태로 변형)
print(one_d_24)
print(one_d_24.shape)

[[1 2 3 4]
 [5 6 7 8]]
(2, 4)

In [95]:
two_d_42 = two_d.reshape([4,2])  # reshape을 통한 행렬의 변형
print(two_d_42)

[[1 2]
 [3 4]
 [5 6]
 [7 8]]

In [96]:
slc_row = two_d_42[-1]  # 마지막 행 선택
slc_col = two_d_42[:,-1]  # 마지막 열 선택
slc_tb = two_d_42[0:3,0:1] #  3행 1열 선택
print(slc_row)
print(slc_col)
print(slc_tb)

[7 8]
[2 4 6 8]
[[1]
 [3]
 [5]]

In [ ]:
mt_rp = np.tile(slc_row, reps=[4,1])   # 선택한 행 반복
print(mt_rp)

[[7 8]
 [7 8]
 [7 8]
 [7 8]]

##### Numpy에서는 여러 차원의 배열을 지정할 수 있으며 행렬 연산을 위해서는 2차원 배열이 필요

In [ ]:
A = np.array([[2, 5, 4],[1, 3, 5],[8, 9, 0]])  # 2차원 행렬생성
B = np.array([[2, 5, 4],[1, 3, 5],[8, 9, 0]])  # 2차원 행렬생성

In [ ]:
print(A)
print(A.ndim)
print(A.shape)

[[2 5 4]
 [1 3 5]
 [8 9 0]]
2
(3, 3)

In [101]:
I = np.eye(3) # 단위행렬
Z = np.zeros((3,3))   # 영 행렬

print('단위행렬 : \n', I)
print('영행렬 : \n', Z)

단위행렬 :
 [[1. 0. 0.]
 [0. 1. 0.]
 [0. 0. 1.]]
영행렬 :
 [[0. 0. 0.]
 [0. 0. 0.]
 [0. 0. 0.]]

In [ ]:
Z = np.zeros((3,3))   # 영 행렬
Z

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [ ]:
One = np.ones((3,3)) # 모든 요소가 1인 행렬
One

array([[1., 1., 1.],
       [1., 1., 1.],
       [1., 1., 1.]])

In [ ]:
Dg = np.diag(one_d)   # 대각행렬
Dg

array([[1, 0, 0, 0, 0, 0, 0, 0],
       [0, 2, 0, 0, 0, 0, 0, 0],
       [0, 0, 3, 0, 0, 0, 0, 0],
       [0, 0, 0, 4, 0, 0, 0, 0],
       [0, 0, 0, 0, 5, 0, 0, 0],
       [0, 0, 0, 0, 0, 6, 0, 0],
       [0, 0, 0, 0, 0, 0, 7, 0],
       [0, 0, 0, 0, 0, 0, 0, 8]])

In [ ]:
Dg_slc = np.diag(Dg) # 대각행렬 추출
Dg_slc

array([1, 2, 3, 4, 5, 6, 7, 8])

In [ ]:
B = np.array([[1, 5, 6],[7, 2, 4],[3, 0, 9]])  # 2차원 행렬생성
B

array([[1, 5, 6],
       [7, 2, 4],
       [3, 0, 9]])

In [ ]:
C = A + B  # 덧셈
D = A - B  # 뺄셈
print('C : ')
print(C)
print('D : ')
print(D)

C :
[[ 3 10 10]
 [ 8  5  9]
 [11  9  9]]
D :
[[ 1  0 -2]
 [-6  1  1]
 [ 5  9 -9]]

In [ ]:
print('A : ')
print(A)
print('B : ')
print(B)
E = A * B  # 행렬의 같은 원소끼리 곱
print('E : ')
print(E)

A :
[[2 5 4]
 [1 3 5]
 [8 9 0]]
B :
[[1 5 6]
 [7 2 4]
 [3 0 9]]
E :
[[ 2 25 24]
 [ 7  6 20]
 [24  0  0]]

In [ ]:
F = A.dot(B)   # dot을 이용한 행렬 곱
print('F : ')
print(F)

F :
[[49 20 68]
 [37 11 63]
 [71 58 84]]

In [ ]:
G = A@B       # @를 이용한 행렬 곱
print('G : ')
print(G)

G :
[[49 20 68]
 [37 11 63]
 [71 58 84]]

In [ ]:
H = np.linalg.inv(A)  # 역행렬 구하기
print('H : ')
print(H)

H :
[[-0.9   0.72  0.26]
 [ 0.8  -0.64 -0.12]
 [-0.3   0.44  0.02]]

In [ ]:
J = A.T   # 전치행렬
print('J : ')
print(J)

J :
[[2 1 8]
 [5 3 9]
 [4 5 0]]

In [ ]:
A_row_sm = A.sum(axis=0,keepdims=True) # 행렬의 행합
print(A_row_sm)
print(A_row_sm.shape)

[[11 17  9]]
(1, 3)

In [ ]:
A_col_sm = A.sum(axis=1, keepdims=True) # 행렬의 열합
print(A_col_sm)
print(A_col_sm.shape)

[[11]
 [ 9]
 [17]]
(3, 1)

In [ ]:
print(A.ndim)
print(A_row_sm.ndim)

2
2

In [ ]:
A_org_sm = np.concatenate([A,A_row_sm]) 
A_org_sm

array([[ 2,  5,  4],
       [ 1,  3,  5],
       [ 8,  9,  0],
       [11, 17,  9]])

In [ ]:
A_org_sm_rw = np.concatenate((A, A_row_sm.reshape([1,3])), axis=0)  # 행렬에 행합 세로로 붙이기
print(A_org_sm_rw)

[[ 2  5  4]
 [ 1  3  5]
 [ 8  9  0]
 [11 17  9]]

In [ ]:
A_org_sm_cl = np.concatenate((A, A_col_sm.reshape([3,1])), axis=1)  # 행렬에 열합 가로로 붙이기
print(A_org_sm_cl)

[[ 2  5  4 11]
 [ 1  3  5  9]
 [ 8  9  0 17]]

In [ ]:
np.linalg.det(B)

-273.0

In [ ]:
zz = A_row_sm.reshape([1,3])
zz.shape

(1, 3)

In [ ]:
a1 = np.array([[2,5,4],[1,3,5],[8,9,0]])

In [ ]:
d_array = np.array([[2, 5, 4], [1, 3,5], [8,9,0]])                # numpy.array를 사용하여 2x2 행렬 생성
d_array_inv = np.linalg.inv(d_array)                # d_array 행렬의 역행렬 연산
print(d_array_inv)

[[-0.9   0.72  0.26]
 [ 0.8  -0.64 -0.12]
 [-0.3   0.44  0.02]]

In [ ]:
a2 = np.linalg.inv(a1)
a2

array([[-0.9 ,  0.72,  0.26],
       [ 0.8 , -0.64, -0.12],
       [-0.3 ,  0.44,  0.02]])

In [ ]:
tt = a1@a2
tt

array([[ 1.00000000e+00,  0.00000000e+00, -5.55111512e-17],
       [-2.22044605e-16,  1.00000000e+00, -6.93889390e-18],
       [ 2.22044605e-16,  4.44089210e-16,  1.00000000e+00]])

In [ ]:
A = np.array([[2, 5, 4],
              [1, 3, 5],
              [8, 9, 0]])

B =np.array([[1, 5, 0],
             [3, 8, 3],
             [4, 2, 7]])

In [ ]:
a1 = np.linalg.inv(A)
a2 = np.linalg.inv(B)
print(a1)
print(a2)

[[-0.9   0.72  0.26]
 [ 0.8  -0.64 -0.12]
 [-0.3   0.44  0.02]]
[[10.  -7.   3. ]
 [-1.8  1.4 -0.6]
 [-5.2  3.6 -1.4]]

In [ ]:
a2

array([[10. , -7. ,  3. ],
       [-1.8,  1.4, -0.6],
       [-5.2,  3.6, -1.4]])

In [ ]:
# import os
# print(os.path.join('C:',os.sep, 'Users'))

In [ ]:
# from pathlib import Path

# print(Path.cwd())
# print(Path('main.py').resolve())
# print(Path('C:\\Users\\hlee\\Desktop\\작업폴더\\main.py').name)
# print(Path('main.py').stem)
# print(Path('main.py').suffix)

In [ ]:
# from pathlib import Path

# print(Path.joinpath(Path.cwd(), "files", "sample.txt"))

In [ ]:
url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_M_F.csv"
Tot = pd.read_csv(url_total)

In [ ]:
Tot

,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduction of recorded media",Petroleum and coal products,Chemical products,Non-metallic mineral products,Basic metal products,...,Total intermediate demand,Private final consumption expenditure (Households and NPISH),Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
0,"Agricultural, forest, and fishery goods",2862,5,31526,648,863,6,980,7,15,...,48136,15115,0,383,15,1085,0,615,17213,65349
1,Mined and quarried goods,1,2,23,4,23,49139,4633,3035,14999,...,99569,12,0,0,0,-108,0,116,20,99589
2,"Food, beverages and tobacco products",8285,8,20408,713,67,66,1078,34,73,...,74603,50366,0,0,0,49,0,6742,57157,131760
3,Textile and leather products,587,10,151,20158,388,57,1517,123,211,...,36332,26630,0,115,15,864,0,31352,58976,95308
4,"Wood and paper products, printing and reproduc...",617,12,2132,797,12195,117,1490,404,270,...,40829,1113,0,0,0,91,0,3218,4422,45251
5,Petroleum and coal products,1132,88,301,272,205,3791,23086,1415,624,...,72801,13145,0,0,0,453,0,36058,49656,122457
6,Chemical products,4245,113,2875,6350,2635,1870,71379,1575,1418,...,192837,7067,0,0,0,-553,0,74182,80696,273533
7,Non-metallic mineral products,17,8,543,40,18,63,891,5999,2210,...,38920,208,0,0,0,-17,0,2587,2778,41698
8,Basic metal products,48,5,6,22,36,162,1655,584,39760,...,115048,-499,0,-2192,-57,-1521,180,35386,31297,146345
9,"Fabricated metal products, except machinery an...",54,54,1571,296,284,1046,1644,436,1052,...,79165,1160,0,3392,2162,402,0,10648,17764,96929
10,"Computing machinery, electronic equipment and ...",86,6,106,73,81,280,421,71,287,...,127409,21982,0,18851,2558,1547,0,155967,200905,328314
11,Electrical equipment,93,16,28,69,52,133,238,126,256,...,60023,4664,0,9630,181,472,0,26488,41435,101458
12,Machinery and equipment,194,94,159,78,64,832,2705,327,943,...,53614,1251,0,46648,370,330,0,42897,91496,145110
13,Transport equipment,235,57,21,20,39,80,206,140,106,...,79208,27681,0,24560,6299,2681,0,116106,177327,256535
14,Other manufactured products,8,1,198,319,22,6,28,6,14,...,11060,6254,0,2497,242,277,1191,2563,13024,24084
15,Manufacturing services and repair services of ...,163,94,2655,14047,1276,218,4557,739,2183,...,60705,24,0,0,0,0,0,2497,2521,63226
16,"Electricity, gas, and steam supply",663,87,1060,976,1285,1674,5465,1489,6139,...,67183,15898,0,0,0,0,0,104,16002,83185
17,"Water supply, sewage and waste treatment and d...",67,11,331,205,421,69,1487,293,2477,...,12781,3059,1044,0,0,0,0,343,4446,17227
18,Construction,67,13,57,23,24,45,160,28,129,...,10244,0,0,148566,42608,-1274,0,148,190048,200292
19,Wholesale and retail trade and commodity broke...,2168,50,7959,5724,1825,1038,7684,1096,2465,...,120414,70717,0,9900,633,1099,285,21611,104245,224659
20,Transportation,719,478,3796,1920,1695,849,6737,3770,3320,...,89349,22910,0,216,57,73,7,33987,57250,146599
21,Food services and accommodation,404,70,386,471,395,282,1298,304,718,...,49718,73699,0,0,0,0,0,6306,80005,129723
22,Communications and broadcasting,164,17,208,173,212,364,597,189,405,...,66948,29077,0,25116,217,18,0,4950,59378,126326
23,Finance and insurance,785,148,730,832,575,194,2114,438,1360,...,81990,58656,0,0,0,0,0,2560,61216,143206
24,Real estate services,44,6,214,351,145,141,347,68,330,...,46558,102756,0,23290,15,0,0,385,126446,173004
25,"Professional, scientific, and technical services",670,156,3105,1204,792,2481,9361,1119,4006,...,108858,2813,0,52702,8892,0,0,14239,78646,187504
26,Business support services,119,115,360,331,330,479,991,209,1206,...,68861,3479,0,0,0,0,0,7866,11345,80206
27,"Public administration, defense, and social sec...",82,0,0,0,0,0,0,0,0,...,2445,1213,107307,0,0,0,0,34,108554,110999
28,Education services,3,1,22,7,14,23,83,15,58,...,1951,50067,53985,0,0,0,0,153,104205,106156
29,Health and social care services,107,10,91,62,63,39,214,47,120,...,6396,41159,59887,0,0,0,0,332,101378,107774
30,"Art, sports, and leisure services",50,17,55,60,55,49,176,37,147,...,6862,29847,1722,427,0,0,23,929,32948,39810
31,Other services,91,18,155,78,75,114,258,93,230,...,12516,35997,0,0,0,0,0,548,36545,49061
32,Others,265,11,57,40,48,77,546,27,79,...,3708,-285,0,0,0,0,0,0,-285,3423
33,Total intermediate input,25095,1781,81289,56363,26202,65784,154026,24243,87610,...,1947041,717235,223945,364101,64207,5968,1686,641917,2019059,3966100
34,Compensation of employees,4719,625,8915,6675,5377,1230,19286,4180,7986,...,675192,0,0,0,0,0,0,0,0,0
35,Net operating surplus,20249,1026,5074,4545,5066,10100,29512,3702,8317,...,409384,0,0,0,0,0,0,0,0,0
36,Consumption of fixed capital,4346,320,3437,1926,999,2475,14489,2884,7360,...,278702,0,0,0,0,0,0,0,0,0
37,Taxes on production and products less subsidies,549,-56,10664,1527,783,19047,2419,520,581,...,122492,0,0,0,0,0,0,0,0,0
38,Total value added,29863,1915,28090,14673,12225,32852,65706,11286,24244,...,1485770,0,0,0,0,0,0,0,0,0
39,Total input,54958,3696,109379,71036,38427,98636,219732,35529,111854,...,3432811,0,0,0,0,0,0,0,0,0

In [ ]:
url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Import_M_F.csv"
Imp = pd.read_csv(url_imp)

In [ ]:
Imp

,bb,"Agricultural, forest, and fishery goods",Mined and quarried goods,"Food, beverages and tobacco products",Textile and leather products,"Wood and paper products, printing and reproduction of recorded media",Petroleum and coal products,Chemical products,Non-metallic mineral products,Basic metal products,...,Total intermediate demand,Private final consumption expenditure (Households and NPISH),Government final consumption expenditure,Private gross fixed capital formation,Government gross fixed capital formation,Changes in inventories,Acquisitions less disposals of valuables,Exports,Total final demand,Total demand
0,"Agricultural, forest, and fishery goods",298,0,5188,612,529,0,686,0,0,...,7962,2444,0,32,1,-48,0,0,2429,10391
1,Mined and quarried goods,0,0,3,1,17,49036,4405,456,14744,...,95960,8,0,0,0,-75,0,0,-67,95893
2,"Food, beverages and tobacco products",136,0,7176,561,11,32,269,0,0,...,12808,9439,0,0,0,-3,0,137,9573,22381
3,Textile and leather products,97,0,18,9916,134,0,387,12,2,...,11814,11728,0,43,5,183,0,499,12458,24272
4,"Wood and paper products, printing and reproduc...",4,0,142,349,3909,1,76,14,6,...,6468,329,0,0,0,27,0,0,356,6824
5,Petroleum and coal products,40,2,43,67,77,2086,11683,204,120,...,22590,1106,0,0,0,125,0,0,1231,23821
6,Chemical products,702,2,331,1313,344,519,26615,431,174,...,48866,4229,0,0,0,-9,0,715,4935,53801
7,Non-metallic mineral products,0,0,30,2,2,4,203,1366,343,...,5963,195,0,0,0,11,0,0,206,6169
8,Basic metal products,1,0,0,7,0,7,814,22,18743,...,34813,6,0,0,0,-414,86,0,-322,34491
9,"Fabricated metal products, except machinery an...",2,5,80,100,14,16,168,31,56,...,5873,529,0,211,509,5,0,0,1254,7127
10,"Computing machinery, electronic equipment and ...",1,0,0,1,14,6,63,12,14,...,57096,6995,0,10253,697,208,0,355,18508,75604
11,Electrical equipment,0,0,0,2,0,1,31,6,42,...,11961,1135,0,2583,39,54,0,15,3826,15787
12,Machinery and equipment,5,2,22,36,5,31,232,18,91,...,14400,288,0,18370,66,41,0,0,18765,33165
13,Transport equipment,1,0,0,0,0,0,16,3,4,...,7738,6305,0,10127,1133,223,0,0,17788,25526
14,Other manufactured products,0,0,6,225,2,0,7,0,0,...,1685,3126,0,659,33,95,351,96,4360,6045
15,Manufacturing services and repair services of ...,0,0,6,5817,7,2,150,2,14,...,8422,0,0,0,0,0,0,0,0,8422
16,"Electricity, gas, and steam supply",0,0,0,0,0,3,4,0,1,...,32,56,0,0,0,0,0,0,56,88
17,"Water supply, sewage and waste treatment and d...",0,0,0,0,0,0,0,0,0,...,2,14,0,0,0,0,0,0,14,16
18,Construction,0,0,0,0,0,0,0,0,0,...,37,0,0,0,14,0,0,0,14,51
19,Wholesale and retail trade and commodity broke...,6,0,64,145,27,264,393,17,230,...,2899,0,0,0,0,0,0,0,0,2899
20,Transportation,158,4,28,15,5,9,80,18,34,...,14689,5339,0,0,0,0,0,0,5339,20028
21,Food services and accommodation,19,2,12,11,11,9,42,9,22,...,1603,9983,0,0,0,0,0,0,9983,11586
22,Communications and broadcasting,5,0,4,4,6,10,16,2,16,...,3131,1270,0,656,9,2,0,0,1937,5068
23,Finance and insurance,12,2,17,11,10,7,38,9,20,...,2080,602,0,0,0,0,0,0,602,2682
24,Real estate services,0,0,2,4,1,11,34,0,2,...,1021,504,0,0,0,0,0,0,504,1525
25,"Professional, scientific, and technical services",17,2,216,109,64,245,1051,55,540,...,15419,5,0,4831,225,0,0,0,5061,20480
26,Business support services,16,3,44,48,48,143,224,17,263,...,11426,295,0,0,0,0,0,0,295,11721
27,"Public administration, defense, and social sec...",82,0,0,0,0,0,0,0,0,...,517,0,0,0,0,0,0,0,0,517
28,Education services,0,0,0,0,0,0,0,0,0,...,3,1985,0,0,0,0,0,0,1985,1988
29,Health and social care services,1,0,0,0,0,0,0,0,0,...,5,655,0,0,0,0,0,0,655,660
30,"Art, sports, and leisure services",0,0,0,0,0,0,3,0,1,...,273,3419,0,12,0,0,21,0,3452,3725
31,Other services,3,0,2,1,2,7,14,1,4,...,307,229,0,0,0,0,0,0,229,536
32,Others,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
33,Total intermediate input,1606,24,13434,19357,5239,52449,47704,2705,35486,...,407863,72218,0,47777,2731,425,458,1817,125426,533289

In [ ]:
url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Domestic_M_F.csv"
Dom = pd.read_csv(url_dom)

HTTPError: ignored

In [ ]:
Dom

NameError: ignored

### DataFrame을 Numpy로 읽어오고 숫자만으로 행렬을 만들고 차원 등 제대로 읽어 왔는지 체크

```
# 코드로 형식 지정됨
```

In [ ]:
Tt=Tot.to_numpy()

In [ ]:
Tt_1 = Tt[0:41,1:53].astype(float)

In [ ]:
Tt_1

In [ ]:
print(Tt_1.shape)
print(Tt_1.ndim)
print(Tt_1.size)
print(len(Tt_1))

In [ ]:
Im=Imp.to_numpy()

In [ ]:
Im_1 = Im[0:41,1:45].astype(float)

In [ ]:
Im_1

In [ ]:
print(Im_1.shape)
print(Im_1.ndim)
print(Im_1.size)
print(len(Im_1))

In [ ]:
Dm=Dom.to_numpy()

NameError: ignored

In [ ]:
Dm_1=Dm[0:41,1:45].astype(float)

In [ ]:
Dm_1

In [ ]:
print(Dm_1.shape)
print(Dm_1.ndim)
print(Dm_1.size)
print(len(Dm_1))

In [ ]:
ct = Tt_1[-1,0:33]

In [ ]:
ct

In [ ]:
ct_m = np.tile(ct, reps=[33,1])

In [ ]:
ct_m.shape

In [ ]:
ct_m

In [ ]:
Ad = Dm_1[0:33,0:33]/ct_m

In [ ]:
Ad

In [ ]:
Lf = np.linalg.inv(np.identity(33)-Ad)

In [ ]:
df_Lf = pd.DataFrame(Lf)

In [ ]:
df_Lf

#### 부가가[링크 텍스트](https://)치 유발계수

In [ ]:
Va_r = Tt_1[-2,0:33]/ct

In [ ]:
Va_r

In [ ]:
Va_m = np.diag(Va_r)

In [ ]:
Va_m

In [ ]:
Lv = Va_m@Lf

In [ ]:
df_Lv = pd.DataFrame(Lv)

In [ ]:
df_Lv.round(6)

### 수입유발계수

In [ ]:
Ai = Im_1[0:33,0:33]/ct_m

In [ ]:
Ai.round(6)

In [ ]:

Li = Ai@Lf

In [ ]:
df_Li = pd.DataFrame(Li)

In [ ]:
df_Li.round(6)

In [ ]:
f_Lf=pd.DataFrame(Lf)
f_Lv=pd.DataFrame(Lv)
f_Li=pd.DataFrame(Li)

In [ ]:
f_Lf.to_csv('Lf')
f_Lv.to_csv('Lv')
f_Li.to_csv('Li')

In [ ]:
# f_Lv.to_csv('Lv', index=False)

## 부문통합하여 3부문 IO표 만들기

In [ ]:
code = np.array([[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]])

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
code

In [ ]:
nae_tot_row = code@Tt_1[0:33,0:33]

In [ ]:
nae_tot_row.shape

In [ ]:
nae_tot_col = nae_tot_row@code.T

In [ ]:
nae_tot_col

In [ ]:
nae_tot_col.sum()

In [ ]:
va_row = Tt_1[33:40,0:33]@code.T

In [ ]:
va_row # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)

In [ ]:
va_row.shape

In [ ]:
# va_col_sm = va_row.sum(axis=1).reshape(7,1)  # 부가가치 및 산출액의 열합

In [ ]:
# va_col_sm.shape

In [ ]:
# va_row = np.concatenate((va_rw, va_col_sm), axis=1)

In [ ]:
va_row

In [ ]:
fd_cd = np.array([[1,1,0,0,0,0,0,0,0],
                  [0,0,1,1,1,1,0,0,0],
                  [0,0,0,0,0,0,1,0,0],
                  [0,0,0,0,0,0,0,1,0],
                  [0,0,0,0,0,0,0,0,1]])

In [ ]:
fd = Tt_1[0:33, 34:45]

In [ ]:
fd

In [ ]:
fd_row=code@fd@fd_cd.T

In [ ]:
fd_row

In [ ]:
fd_row_sm = np.sum((fd_row), axis=0)

In [ ]:
fd_sm=fd_row_sm.reshape(1,5)

In [ ]:
nae_va_ct = np.concatenate((nae_tot_col, va_row))

In [ ]:
nae_va_ct

In [ ]:
nae_va_ct.shape

In [ ]:
nae_va_ct_sm = nae_va_ct.sum(axis=1).reshape(10,1)  # 부가가치 및 산출액의 열합

In [ ]:
nnull = np.zeros((6,5))

In [ ]:
nnull

In [ ]:
fd_nnull = np.concatenate((fd_row, fd_sm, nnull),axis=0)

In [ ]:
fd_nnull.shape

In [ ]:
fd_sm.ndim

In [ ]:
tot_f = np.concatenate((nae_va_ct,nae_va_ct_sm, fd_nnull), axis=1)

In [ ]:
tot_F = pd.DataFrame(tot_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
tot_F

# 수입거래표 통합하기

In [ ]:
nae_imp_row = code@Im_1[0:33,0:33]

In [ ]:
nae_imp_col = nae_imp_row@code.T

In [ ]:
imp_iti = Im_1[-1,0:33]@code.T

In [ ]:
imp_sm = imp_iti.reshape(1,3)

In [ ]:
fd_imp = Im_1[0:33, 34:45]

In [ ]:
fd_imp_row=code@fd_imp@fd_cd.T

In [ ]:
fd_imp_row_sm = np.sum((fd_imp_row), axis=0)

In [ ]:
fd_sm = fd_imp_row_sm.reshape(1,5)

In [ ]:
imp_nae_3 = np.concatenate((nae_imp_col, imp_sm))

In [ ]:
imp_col_sm = imp_nae_3.sum(axis=1).reshape(4,1)  # 중간수요 열합

In [ ]:
imp_fd_3 = np.concatenate((fd_imp_row, fd_sm))

In [ ]:
imp_f = np.concatenate((imp_nae_3, imp_col_sm, imp_fd_3), axis=1)

In [ ]:
imp_F = pd.DataFrame(imp_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
imp_F

# 국산거래표 통합하기

In [ ]:
nae_dom_row = code@Dm_1[0:33,0:33]

In [ ]:
nae_dom_col = nae_dom_row@code.T

In [ ]:
dom_iti = Dm_1[-1,0:33]@code.T

In [ ]:
dom_sm = dom_iti.reshape(1,3)

In [ ]:
fd_dom = Dm_1[0:33, 34:45]

In [ ]:
fd_dom_row=code@fd_dom@fd_cd.T

In [ ]:
fd_dom_row_sm = np.sum((fd_dom_row), axis=0)

In [ ]:
fd_sm = fd_dom_row_sm.reshape(1,5)

In [ ]:
dom_nae_3 = np.concatenate((nae_dom_col, dom_sm), axis=0)

In [ ]:
dom_col_sm = dom_nae_3.sum(axis=1).reshape(4,1)  # 중간수요 열합

In [ ]:
dom_fd_3 = np.concatenate((fd_dom_row, fd_sm), axis=0)

In [ ]:
dom_f = np.concatenate((dom_nae_3, dom_col_sm, dom_fd_3), axis=1)

In [ ]:
dom_F = pd.DataFrame(dom_f, columns = ['Agriculture', 'Manufacturing', 'Services', 'Total intermediate demand', 'Conumption','Investment', 'Exports', 'Total final demand', 'Total demand'])

In [ ]:
dom_F

### 3부문 총거래표에서 부가가치총합만 나타내기

In [ ]:
tot_F_one_va = tot_F.drop(tot_F.index[4:8])

In [ ]:
tot_F_one_va

## 결과 내보내기

In [ ]:
# np.savetxt('Total_3',tot_f, delimiter=',')
# np.savetxt('Import_3',imp_f, delimiter=',')
# np.savetxt('Domestic_3',dom_f, delimiter=',')

In [ ]:
tot_F.to_csv('Total_3')
imp_F.to_csv('Import_3')
dom_F.to_csv('Domestic_3')
tot_F_one_va.to_csv('Total_3_one_va')

In [ ]:
# imp_F.to_csv('Import_3',index=False)

In [ ]:
# dom_F.to_csv('Domestic_3', index=False)

## 3부문 유발계수 산출 하기

In [ ]:
ct_exm = tot_f[-1, 0:3]

In [ ]:
ct_exm

In [ ]:
ct_m_exm = np.tile(ct_exm, reps=[3,1])

In [ ]:
ct_m_exm

In [ ]:
Ad_exm = dom_f[0:3,0:3]/ct_m_exm

In [ ]:
Ad_exm

In [ ]:
Lf_exm = np.linalg.inv(np.identity(3)-Ad_exm)

In [ ]:
Lf_exm

In [ ]:

df_Lf_exm = pd.DataFrame(Lf_exm)

In [ ]:
df_Lf_exm

In [ ]:

Va_r_exm = tot_f[-2,0:3]/ct_exm

In [ ]:
Va_r_exm

In [ ]:

Va_m_exm = np.diag(Va_r_exm)

In [ ]:
Va_m_exm

In [ ]:
Lv_exm = Va_m_exm@Lf_exm

NameError: ignored

In [ ]:
Lv_exm

In [ ]:
df_Lv_exm = pd.DataFrame(Lv_exm)

In [ ]:
df_Lv_exm

In [ ]:
Ai_exm = imp_f[0:3,0:3]/ct_m_exm

In [ ]:
Ai_exm

In [ ]:
Li_exm = Ai_exm@Lf_exm

In [ ]:
Li_exm

In [ ]:

df_Li_exm = pd.DataFrame(Li_exm)

In [ ]:
df_Li_exm

In [ ]:

f_Lf_exm=pd.DataFrame(Lf_exm)
f_Lv_exm=pd.DataFrame(Lv_exm)
f_Li_exm=pd.DataFrame(Li_exm)

In [ ]:

f_Lf_exm.to_csv('Lf_exm')
f_Lv_exm.to_csv('Lv_exm')
f_Li_exm.to_csv('Li_exm')