<a href="https://colab.research.google.com/github/Tom-Jung/legendary-funicular/blob/main/Types_of_IOTs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [170]:
import numpy as np   # Numpy import
import pandas as pd  # Pandas import

## 산업연관표의 종류

#### Github에 저장되어 있는 연습용 3부문 거래표 불러오기

In [171]:
url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_3_secs_one_va.csv"  # 총거래표
Tot = pd.read_csv(url_total)

In [172]:
Tot  # 총거래표 불러오기 확인

      부문  농산품  공산품  서비스  중간수요계   소비  투자  수출  최종수요계  총수요계  총산출액  수입  총공급액
0    농산품    2   14    4     20    3   3   2      8    28    14  14    28
1    공산품    5   94   39    138   32  19  73    124   262   203  59   262
2    서비스    2   28   58     88  106  47  15    168   256   244  12   256
3  중간투입계    9  136  101    246  141  69  90    300   546   461  85   546
4   부가가치    5   67  143    215    0   0   0      0     0     0   0     0
5   총투입계   14  203  244    461    0   0   0      0     0     0   0     0

In [173]:
url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Domestic_3_secs.csv"   # 국산거래표
Dom = pd.read_csv(url_dom)

In [174]:
Dom  # 국산거래표 불러오기 확인

      부문  농산품  공산품  서비스  중간수요계   소비  투자  수출  최종수요계  총수요계
0    농산품    1    7    1      9    1   2   2      5    14
1    공산품    4   61   29     94   26  13  70    109   203
2    서비스    1   26   52     79  104  46  15    165   244
3  중간투입계    6   94   82    182  131  61  87    279   461

In [175]:
url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Import_3_secs.csv"   # 수입거래표
Imp = pd.read_csv(url_imp)

In [176]:
Imp  # 수입거래표 불러오기 확인

      부문  농산품  공산품  서비스  중간수요계  소비  투자  수출  최종수요계  총수요계
0    농산품    1    7    3     11   2   1   0      3    14
1    공산품    1   33   10     44   6   6   3     15    59
2    서비스    1    2    6      9   2   1   0      3    12
3  중간투입계    3   42   19     64  10   8   3     21    85

#### 산업구조_부가가치 및 산출액 비중 구하기

###### pandas의 DataFrame을 numpy로 불러오기

### DataFrame을 Numpy로 읽어오고 숫자만으로 행렬을 만들고 차원 등 제대로 읽어 왔는지 체크

In [177]:
Tt = Tot.to_numpy()  # numpy로 불러오기
Dt = Dom.to_numpy()
It = Imp.to_numpy()

In [266]:
Tt

array([['농산품', 2, 14, 4, 20, 3, 3, 2, 8, 28, 14, 14, 28],
       ['공산품', 5, 94, 39, 138, 32, 19, 73, 124, 262, 203, 59, 262],
       ['서비스', 2, 28, 58, 88, 106, 47, 15, 168, 256, 244, 12, 256],
       ['중간투입계', 9, 136, 101, 246, 141, 69, 90, 300, 546, 461, 85, 546],
       ['부가가치', 5, 67, 143, 215, 0, 0, 0, 0, 0, 0, 0, 0],
       ['총투입계', 14, 203, 244, 461, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [178]:
va = Tt[-2,1:4]  # 산업별 부가가치
ct = Tt[-1,1:4]  # 산업별 산출액

In [179]:
va_wgt = (va/va.sum()).reshape([3,1])  # 부가가치 기준 각 산업의 비중
ct_wgt = (ct/ct.sum()).reshape([3,1])  # 산출액 기준 각 산업의 비중

wgt_mx = np.concatenate((va_wgt, ct_wgt), axis=1)
print(wgt_mx)

[[0.023255813953488372 0.03036876355748373]
 [0.3116279069767442 0.4403470715835141]
 [0.6651162790697674 0.5292841648590022]]

#### 투입구조

In [180]:
Tt_itr = Tt[-3,1:5] # 총거래표의 각 산업별 및 총산업의 중간투입계
Dt_itr = Dt[-1,1:5] # 국산거래표의 각 산업별 및 총산업의 중간투입계
It_itr = It[-1,1:5] # 수입거래표의 각 산업별 및 총산업의 중간투입계
Ct_itr = Tt[-1,1:5] # 각 산업별 및 총산업의 산출액

print(Tt_itr)
print(Dt_itr)
print(It_itr)
print(Ct_itr)

[9 136 101 246]
[6 94 82 182]
[3 42 19 64]
[14 203 244 461]

In [181]:
Tt_itr_ratio = (Tt_itr/Ct_itr).reshape([4,1]) # 총투입계수
Dt_itr_ratio = (Dt_itr/Ct_itr).reshape([4,1]) # 국산투입계수
It_itr_ratio = (It_itr/Ct_itr).reshape([4,1]) # 수입투입계수

itr_ratio = np.concatenate((Tt_itr_ratio, Dt_itr_ratio, It_itr_ratio), axis=1)  # 총, 국산, 수입투입계수
itr_ratio

array([[0.6428571428571429, 0.42857142857142855, 0.21428571428571427],
       [0.6699507389162561, 0.4630541871921182, 0.20689655172413793],
       [0.4139344262295082, 0.3360655737704918, 0.0778688524590164],
       [0.5336225596529284, 0.3947939262472885, 0.13882863340563992]],
      dtype=object)

In [182]:
Dt_dm_itr = (Dt_itr/Tt_itr).reshape([4,1])  # 각 산업별, 총산업의 국산화율
Dt_dm_itr

array([[0.6666666666666666],
       [0.6911764705882353],
       [0.8118811881188119],
       [0.7398373983739838]], dtype=object)

In [183]:
va_ratio = (Tt[-2,1:5]/Tt[-1,1:5]).reshape([4,1])  # 부가가치율 = 부가가치(3산업과 총부가가치)/산출액(3산업과 총산출액)
va_ratio

array([[0.35714285714285715],
       [0.33004926108374383],
       [0.5860655737704918],
       [0.46637744034707157]], dtype=object)

In [184]:
#중간투입, 국산화율 및 부가가치율을 열방향으로 부치기
input_str = np.concatenate((itr_ratio, Dt_dm_itr, va_ratio), axis=1)
input_str

array([[0.6428571428571429, 0.42857142857142855, 0.21428571428571427,
        0.6666666666666666, 0.35714285714285715],
       [0.6699507389162561, 0.4630541871921182, 0.20689655172413793,
        0.6911764705882353, 0.33004926108374383],
       [0.4139344262295082, 0.3360655737704918, 0.0778688524590164,
        0.8118811881188119, 0.5860655737704918],
       [0.5336225596529284, 0.3947939262472885, 0.13882863340563992,
        0.7398373983739838, 0.46637744034707157]], dtype=object)

#### 배분구조

In [185]:
Tot_sup =Tt[0:4,-1]  # 총공급(산출액+수입)
Dom_ct =Dt[0:4,-1]  # 산출액
Imp_tot=It[0:4,-1]   # 총수입

Tt_itd = Tt[0:4,4] # 총거래표의 각 산업별 및 총산업의 중간수요계
Dt_itd = Dt[0:4,4] # 국산거래표의 각 산업별 및 총산업의 중간수요계
It_itd = It[0:4,4] # 수입거래표의 각 산업별 및 총산업의 중간수요계

Tot_dmd = Tt[0:4,-4] # 각 제품별 및 전품목 총수요계
Fd =Tt[0:4,-5]
Exp = Tt[0:4,-6]  # 각 제품별 및 전품목 수출

print(Tot_sup)
print(Dom_ct)
print(Imp_tot)

print(Tt_itd)
print(Dt_itd)
print(It_itd)

print(Tot_dmd)
print(Fd)
print(Exp)

[28 262 256 546]
[14 203 244 461]
[14 59 12 85]
[20 138 88 246]
[9 94 79 182]
[11 44 9 64]
[28 262 256 546]
[8 124 168 300]
[2 73 15 90]

In [186]:
Itd_r = (Tt_itd/Tot_dmd).reshape([4,1]) # 중간수요율 = 중간수요계/총수요
ftd_r = (Fd/Tot_dmd).reshape([4,1]) # 최종수요율 = 최종수요계/총수요
Exp_r = (Exp/Dom_ct).reshape([4,1]) # 수출률 = 수출/총산출액
Imp_r = (Imp_tot/Tot_sup).reshape([4,1])

print(Itd_r)
print(ftd_r)
print(Exp_r)
print(Imp_r)

[[0.7142857142857143]
 [0.5267175572519084]
 [0.34375]
 [0.45054945054945056]]
[[0.2857142857142857]
 [0.4732824427480916]
 [0.65625]
 [0.5494505494505495]]
[[0.14285714285714285]
 [0.35960591133004927]
 [0.06147540983606557]
 [0.19522776572668113]]
[[0.5]
 [0.22519083969465647]
 [0.046875]
 [0.15567765567765568]]

In [187]:
# 중간수요율, 최종수요율, 수출률 및 수입비율 열방향으로 부치기

dst_str = np.concatenate((Itd_r, ftd_r, Exp_r, Imp_r), axis=1)
print(dst_str)

[[0.7142857142857143 0.2857142857142857 0.14285714285714285 0.5]
 [0.5267175572519084 0.4732824427480916 0.35960591133004927
  0.22519083969465647]
 [0.34375 0.65625 0.06147540983606557 0.046875]
 [0.45054945054945056 0.5494505494505495 0.19522776572668113
  0.15567765567765568]]

## 부문통합하여 3부문 IO표 만들기

### - 33부문의 IO표를 3부문 IO표로 통합하기

##### - 33부문을 크게 농수산품, 공산품 및 서비스로 통합하기 위하여 행렬 곱을 사용
##### - 0과 1로 구성된 행렬을 만드는데 각 행은 새로운 표의 부문을 나타내며 각 열은 33부문의 부문을 나타낸다

In [188]:
code = np.array([[1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0],
       [0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1]])
code

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0,
        0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 1,
        1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1]])

In [189]:
zzzz = pd.DataFrame(code)
zzzz.to_csv('태스트_2.csv')

In [190]:
cdd = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/code.csv"  # 코드매치 파일
ccdd = pd.read_csv(cdd)
cd_for_itr = ccdd.to_numpy().reshape(33,2)
row = cd_for_itr[:,1]
col = cd_for_itr[:,0]
col

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33])

In [191]:
Mtx = np.zeros((3,33))
for i, j in zip(row,col):
  Mtx[i-1,j-1] = 1
print(Mtx)

[[1. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 0. 0.
  0. 0. 0. 0. 0. 0. 0. 0. 0.]
 [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1.
  1. 1. 1. 1. 1. 1. 1. 1. 1.]]

In [192]:
test_m = pd.DataFrame(Mtx)
test_m
test_m.to_csv('태스트1.csv')

In [193]:
url_Tt_33 = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/Total_M_F.csv"  # 33부문의 총거래표 불러오기
Tt_33 = pd.read_csv(url_Tt_33)

In [194]:
Ttt_33 = Tt_33.to_numpy()
Tot_33 = Ttt_33[0:41,1:53].astype(float)

In [195]:
nae_tot_row = code@Tot_33[0:33,0:33] # 중간투입(수요)의 행을 3부문으로 만들기
nae_tot_row

array([[2.86200e+03, 5.00000e+00, 3.15260e+04, 6.48000e+02, 8.63000e+02,
        6.00000e+00, 9.80000e+02, 7.00000e+00, 1.50000e+01, 1.50000e+01,
        1.80000e+01, 6.00000e+00, 1.80000e+01, 1.30000e+01, 3.20000e+01,
        4.75000e+02, 5.00000e+00, 7.00000e+00, 4.46000e+02, 1.03000e+02,
        2.50000e+01, 8.17300e+03, 3.20000e+01, 4.70000e+01, 9.00000e+00,
        1.36000e+02, 1.80000e+01, 2.72000e+02, 9.80000e+01, 1.02700e+03,
        1.48000e+02, 7.40000e+01, 2.70000e+01],
       [1.57650e+04, 5.68000e+02, 3.11770e+04, 4.32580e+04, 1.73850e+04,
        5.78600e+04, 1.15528e+05, 1.50140e+04, 6.44060e+04, 4.41850e+04,
        1.35069e+05, 4.71820e+04, 6.31260e+04, 1.53704e+05, 9.30700e+03,
        1.71490e+04, 3.50850e+04, 2.47100e+03, 7.87430e+04, 1.58360e+04,
        3.26420e+04, 4.20060e+04, 9.51700e+03, 4.04300e+03, 2.37100e+03,
        2.21840e+04, 5.20800e+03, 6.53600e+03, 7.90000e+03, 2.63440e+04,
        5.25700e+03, 1.46540e+04, 6.43000e+02],
       [6.46800e+03, 1.20800e+03, 1.85860e+04, 1.24570e+04, 7.95400e+03,
        7.91800e+03, 3.75180e+04, 9.22200e+03, 2.31890e+04, 1.31270e+04,
        3.04060e+04, 1.17810e+04, 1.52570e+04, 3.16430e+04, 3.56800e+03,
        1.01840e+04, 1.60530e+04, 5.53200e+03, 3.68860e+04, 8.43150e+04,
        4.36120e+04, 2.68870e+04, 4.59770e+04, 5.36750e+04, 3.79690e+04,
        5.93290e+04, 1.53140e+04, 1.80720e+04, 2.40830e+04, 2.29010e+04,
        1.07380e+04, 1.22000e+04, 2.75300e+03]])

In [196]:
nae_tot_row.shape  # 행과 열의 개수 확인

(3, 33)

In [197]:
nae_tot_col = nae_tot_row@code.T
nae_tot_col

array([[  2862.,  34627.,  10647.],
       [ 15765., 814918., 311440.],
       [  6468., 234018., 516296.]])

In [198]:
ztest_nae_tot_col = nae_tot_row@Mtx.T
ztest_nae_tot_col

array([[  2862.,  34627.,  10647.],
       [ 15765., 814918., 311440.],
       [  6468., 234018., 516296.]])

In [199]:
nae_tot_col.shape  # 행과 열의 개수 확인

(3, 3)

In [200]:
nae_tot_col.sum()

1947041.0

In [201]:
va_row = Tot_33[33:40,0:33]@code.T # 중투합, 피용자보수, 영업잉여, 고정자본소모, 기타생산세, 부가가치계, 산출액(7X3)
va_row

array([[2.509500e+04, 1.083563e+06, 8.383830e+05],
       [4.719000e+03, 1.591330e+05, 5.113400e+05],
       [2.024900e+04, 1.381430e+05, 2.509920e+05],
       [4.346000e+03, 1.033380e+05, 1.710180e+05],
       [5.490000e+02, 4.809200e+04, 7.385100e+04],
       [2.986300e+04, 4.487060e+05, 1.007201e+06],
       [5.495800e+04, 1.532269e+06, 1.845584e+06]])

In [202]:
va_row.shape

(7, 3)

In [203]:
fd_cd = np.array([[1,1,0,0,0,0,0,0,0],   # 최종수요를 통합하기 위한 0과 1로된 행렬
                  [0,0,1,1,1,1,0,0,0],
                  [0,0,0,0,0,0,1,0,0],
                  [0,0,0,0,0,0,0,1,0],
                  [0,0,0,0,0,0,0,0,1]])

In [204]:
fd = Tot_33[0:33, 34:45]
fd

array([[ 1.51150e+04,  0.00000e+00,  3.83000e+02,  1.50000e+01,
         1.08500e+03,  0.00000e+00,  6.15000e+02,  1.72130e+04,
         6.53490e+04],
       [ 1.20000e+01,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -1.08000e+02,  0.00000e+00,  1.16000e+02,  2.00000e+01,
         9.95890e+04],
       [ 5.03660e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         4.90000e+01,  0.00000e+00,  6.74200e+03,  5.71570e+04,
         1.31760e+05],
       [ 2.66300e+04,  0.00000e+00,  1.15000e+02,  1.50000e+01,
         8.64000e+02,  0.00000e+00,  3.13520e+04,  5.89760e+04,
         9.53080e+04],
       [ 1.11300e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         9.10000e+01,  0.00000e+00,  3.21800e+03,  4.42200e+03,
         4.52510e+04],
       [ 1.31450e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         4.53000e+02,  0.00000e+00,  3.60580e+04,  4.96560e+04,
         1.22457e+05],
       [ 7.06700e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -5.53000e+02,  0.00000e+00,  7.41820e+04,  8.06960e+04,
         2.73533e+05],
       [ 2.08000e+02,  0.00000e+00,  0.00000e+00,  0.00000e+00,
        -1.70000e+01,  0.00000e+00,  2.58700e+03,  2.77800e+03,
         4.16980e+04],
       [-4.99000e+02,  0.00000e+00, -2.19200e+03, -5.70000e+01,
        -1.52100e+03,  1.80000e+02,  3.53860e+04,  3.12970e+04,
         1.46345e+05],
       [ 1.16000e+03,  0.00000e+00,  3.39200e+03,  2.16200e+03,
         4.02000e+02,  0.00000e+00,  1.06480e+04,  1.77640e+04,
         9.69290e+04],
       [ 2.19820e+04,  0.00000e+00,  1.88510e+04,  2.55800e+03,
         1.54700e+03,  0.00000e+00,  1.55967e+05,  2.00905e+05,
         3.28314e+05],
       [ 4.66400e+03,  0.00000e+00,  9.63000e+03,  1.81000e+02,
         4.72000e+02,  0.00000e+00,  2.64880e+04,  4.14350e+04,
         1.01458e+05],
       [ 1.25100e+03,  0.00000e+00,  4.66480e+04,  3.70000e+02,
         3.30000e+02,  0.00000e+00,  4.28970e+04,  9.14960e+04,
         1.45110e+05],
       [ 2.76810e+04,  0.00000e+00,  2.45600e+04,  6.29900e+03,
         2.68100e+03,  0.00000e+00,  1.16106e+05,  1.77327e+05,
         2.56535e+05],
       [ 6.25400e+03,  0.00000e+00,  2.49700e+03,  2.42000e+02,
         2.77000e+02,  1.19100e+03,  2.56300e+03,  1.30240e+04,
         2.40840e+04],
       [ 2.40000e+01,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  2.49700e+03,  2.52100e+03,
         6.32260e+04],
       [ 1.58980e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  1.04000e+02,  1.60020e+04,
         8.31850e+04],
       [ 3.05900e+03,  1.04400e+03,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.43000e+02,  4.44600e+03,
         1.72270e+04],
       [ 0.00000e+00,  0.00000e+00,  1.48566e+05,  4.26080e+04,
        -1.27400e+03,  0.00000e+00,  1.48000e+02,  1.90048e+05,
         2.00292e+05],
       [ 7.07170e+04,  0.00000e+00,  9.90000e+03,  6.33000e+02,
         1.09900e+03,  2.85000e+02,  2.16110e+04,  1.04245e+05,
         2.24659e+05],
       [ 2.29100e+04,  0.00000e+00,  2.16000e+02,  5.70000e+01,
         7.30000e+01,  7.00000e+00,  3.39870e+04,  5.72500e+04,
         1.46599e+05],
       [ 7.36990e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  6.30600e+03,  8.00050e+04,
         1.29723e+05],
       [ 2.90770e+04,  0.00000e+00,  2.51160e+04,  2.17000e+02,
         1.80000e+01,  0.00000e+00,  4.95000e+03,  5.93780e+04,
         1.26326e+05],
       [ 5.86560e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  2.56000e+03,  6.12160e+04,
         1.43206e+05],
       [ 1.02756e+05,  0.00000e+00,  2.32900e+04,  1.50000e+01,
         0.00000e+00,  0.00000e+00,  3.85000e+02,  1.26446e+05,
         1.73004e+05],
       [ 2.81300e+03,  0.00000e+00,  5.27020e+04,  8.89200e+03,
         0.00000e+00,  0.00000e+00,  1.42390e+04,  7.86460e+04,
         1.87504e+05],
       [ 3.47900e+03,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  7.86600e+03,  1.13450e+04,
         8.02060e+04],
       [ 1.21300e+03,  1.07307e+05,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.40000e+01,  1.08554e+05,
         1.10999e+05],
       [ 5.00670e+04,  5.39850e+04,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  1.53000e+02,  1.04205e+05,
         1.06156e+05],
       [ 4.11590e+04,  5.98870e+04,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  3.32000e+02,  1.01378e+05,
         1.07774e+05],
       [ 2.98470e+04,  1.72200e+03,  4.27000e+02,  0.00000e+00,
         0.00000e+00,  2.30000e+01,  9.29000e+02,  3.29480e+04,
         3.98100e+04],
       [ 3.59970e+04,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  5.48000e+02,  3.65450e+04,
         4.90610e+04],
       [-2.85000e+02,  0.00000e+00,  0.00000e+00,  0.00000e+00,
         0.00000e+00,  0.00000e+00,  0.00000e+00, -2.85000e+02,
         3.42300e+03]])

In [205]:
fd_row=code@fd@fd_cd.T

In [206]:
fd_row_sm = np.sum((fd_row), axis=0) # 최종수요의 행합

In [207]:
fd_sm=fd_row_sm.reshape(1,5)

In [208]:
nae_va_ct = np.concatenate((nae_tot_col, va_row)) # 중간투입(수요)와 부가가치 및 산출액 합치기
nae_va_ct

array([[2.862000e+03, 3.462700e+04, 1.064700e+04],
       [1.576500e+04, 8.149180e+05, 3.114400e+05],
       [6.468000e+03, 2.340180e+05, 5.162960e+05],
       [2.509500e+04, 1.083563e+06, 8.383830e+05],
       [4.719000e+03, 1.591330e+05, 5.113400e+05],
       [2.024900e+04, 1.381430e+05, 2.509920e+05],
       [4.346000e+03, 1.033380e+05, 1.710180e+05],
       [5.490000e+02, 4.809200e+04, 7.385100e+04],
       [2.986300e+04, 4.487060e+05, 1.007201e+06],
       [5.495800e+04, 1.532269e+06, 1.845584e+06]])

In [209]:
nae_va_ct_sm = nae_va_ct.sum(axis=1).reshape(10,1)  # 부가가치 및 산출액의 열합

In [210]:
nnull = np.zeros((6,5)) # 0행렬

In [211]:
fd_nnull = np.concatenate((fd_row, fd_sm, nnull),axis=0)  # 최종수요, 최종수요 행합 및 0행렬 합치기

In [212]:
tot_f = np.concatenate((nae_va_ct,nae_va_ct_sm, fd_nnull), axis=1)  # 최종 3x3 부문통합된 거래표

In [213]:
tot_F = pd.DataFrame(tot_f, columns = ['농산품', '공산품', '서비스', '중간수요계', '소비','투자', '수출', '최종수요계', '총수요계'], 
                     index=['농산품', '공산품', '서비스', '중간투입계', '피용자보수','영업잉여', '고정자본소모', '생산세(보조금공제)', '부가가치계', '총투입액']) # 변수명 붙여서 pandas로 내보내기

In [214]:
tot_F  #최종 3x3 거래표 확인

,농산품,공산품,서비스,중간수요계,소비,투자,수출,최종수요계,총수요계
농산품,2862.0,34627.0,10647.0,48136.0,15115.0,1483.0,615.0,17213.0,65349.0
공산품,15765.0,814918.0,311440.0,1142123.0,161058.0,121609.0,546807.0,829474.0,1971597.0
서비스,6468.0,234018.0,516296.0,756782.0,765007.0,312870.0,94495.0,1172372.0,1929154.0
중간투입계,25095.0,1083563.0,838383.0,1947041.0,941180.0,435962.0,641917.0,2019059.0,3966100.0
피용자보수,4719.0,159133.0,511340.0,675192.0,0.0,0.0,0.0,0.0,0.0
영업잉여,20249.0,138143.0,250992.0,409384.0,0.0,0.0,0.0,0.0,0.0
고정자본소모,4346.0,103338.0,171018.0,278702.0,0.0,0.0,0.0,0.0,0.0
생산세(보조금공제),549.0,48092.0,73851.0,122492.0,0.0,0.0,0.0,0.0,0.0
부가가치계,29863.0,448706.0,1007201.0,1485770.0,0.0,0.0,0.0,0.0,0.0
총투입액,54958.0,1532269.0,1845584.0,3432811.0,0.0,0.0,0.0,0.0,0.0

##Chapter 5...산업연관효과분석

In [215]:
Tt = Tot.to_numpy()  # 3부문 산업연관표를 numpy로 불러오기
Dt = Dom.to_numpy()
It = Imp.to_numpy()

In [265]:
Tt

array([['농산품', 2, 14, 4, 20, 3, 3, 2, 8, 28, 14, 14, 28],
       ['공산품', 5, 94, 39, 138, 32, 19, 73, 124, 262, 203, 59, 262],
       ['서비스', 2, 28, 58, 88, 106, 47, 15, 168, 256, 244, 12, 256],
       ['중간투입계', 9, 136, 101, 246, 141, 69, 90, 300, 546, 461, 85, 546],
       ['부가가치', 5, 67, 143, 215, 0, 0, 0, 0, 0, 0, 0, 0],
       ['총투입계', 14, 203, 244, 461, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=object)

In [216]:
Tt_1 = Tt[0:6,1:13].astype(float)
Dm_1 = Dt[0:4,1:10].astype(float)
Im_1 = It[0:4,1:10].astype(float)
print('총거래표 : \n', Tt_1)    # 총거래표 확인
print('국산거래표 : \n', Dm_1)  # 국산거래표 확인
print('수입거래표 : \n', Im_1)  # 수입거래표 확인

총거래표 :
 [[  2.  14.   4.  20.   3.   3.   2.   8.  28.  14.  14.  28.]
 [  5.  94.  39. 138.  32.  19.  73. 124. 262. 203.  59. 262.]
 [  2.  28.  58.  88. 106.  47.  15. 168. 256. 244.  12. 256.]
 [  9. 136. 101. 246. 141.  69.  90. 300. 546. 461.  85. 546.]
 [  5.  67. 143. 215.   0.   0.   0.   0.   0.   0.   0.   0.]
 [ 14. 203. 244. 461.   0.   0.   0.   0.   0.   0.   0.   0.]]
국산거래표 :
 [[  1.   7.   1.   9.   1.   2.   2.   5.  14.]
 [  4.  61.  29.  94.  26.  13.  70. 109. 203.]
 [  1.  26.  52.  79. 104.  46.  15. 165. 244.]
 [  6.  94.  82. 182. 131.  61.  87. 279. 461.]]
수입거래표 :
 [[ 1.  7.  3. 11.  2.  1.  0.  3. 14.]
 [ 1. 33. 10. 44.  6.  6.  3. 15. 59.]
 [ 1.  2.  6.  9.  2.  1.  0.  3. 12.]
 [ 3. 42. 19. 64. 10.  8.  3. 21. 85.]]

In [217]:
ct = Tt_1[-1,0:3]  # 산출액
ct

array([ 14., 203., 244.])

In [218]:
ct_m = np.tile(ct, reps=[3,1]) # 산출액을 3번 행반복
ct_m

array([[ 14., 203., 244.],
       [ 14., 203., 244.],
       [ 14., 203., 244.]])

In [219]:
At = Tt_1[0:3,0:3]/ct_m   # 총투입계수
Ad = Dm_1[0:3,0:3]/ct_m  # 국산 투입계수

print('총투입계수표 : \n', At)
print('국산투입계수표 : \n', Ad)

df_At = pd.DataFrame(At.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  #pandas로 내보내기
df_Ad = pd.DataFrame(Ad.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  #pandas로 내보내기

총투입계수표 :
 [[0.14285714 0.06896552 0.01639344]
 [0.35714286 0.46305419 0.15983607]
 [0.14285714 0.13793103 0.23770492]]
국산투입계수표 :
 [[0.07142857 0.03448276 0.00409836]
 [0.28571429 0.30049261 0.11885246]
 [0.07142857 0.12807882 0.21311475]]

##### 생산유발계수(Lf)

In [220]:
Lf = np.linalg.inv(np.identity(3)-Ad)  # 생산유발계수
Lf

array([[1.09543838, 0.05661073, 0.01425599],
       [0.47753427, 1.49491595, 0.22828175],
       [0.17716386, 0.2484615 , 1.3092841 ]])

In [221]:
df_Lf = pd.DataFrame(Lf.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  #pandas로 내보내기

#### 부가가치유발계수(Lv)

In [222]:
Va_r = Tt_1[-2,0:3]/ct # 부가가치율
Va_r

array([0.35714286, 0.33004926, 0.58606557])

In [223]:
Va_m = np.diag(Va_r)  # 부가가치율 대각행렬
Va_m

array([[0.35714286, 0.        , 0.        ],
       [0.        , 0.33004926, 0.        ],
       [0.        , 0.        , 0.58606557]])

In [224]:
Lv = Va_m@Lf  #부가가치유발계수
Lv

array([[0.39122799, 0.02021812, 0.00509142],
       [0.15760983, 0.49339591, 0.07534422],
       [0.10382964, 0.14561473, 0.76732634]])

In [225]:
df_Lv = pd.DataFrame(Lv.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  # pandas로 내보내기

#### 수입유발계수

In [226]:
Ai = Im_1[0:3,0:3]/ct_m

print('수입투입계수표 : \n', Ai)

df_Ai = pd.DataFrame(Ai.round(3))  #pandas로 내보내기

수입투입계수표 :
 [[0.07142857 0.03448276 0.01229508]
 [0.07142857 0.16256158 0.04098361]
 [0.07142857 0.00985222 0.02459016]]

In [227]:
Li = Ai@Lf  #수입유발계수
Li

array([[0.09689054, 0.0586473 , 0.02498782],
       [0.16313514, 0.25724237, 0.09178731],
       [0.08730686, 0.02488157, 0.03546288]])

In [228]:
df_Li = pd.DataFrame(Li.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  #pandas로 내보내기

In [229]:
# CSV파일로 결과 내보내기
df_At.to_csv('총투입계수.csv')
df_Ad.to_csv('국산투입계수.csv')
df_Ai.to_csv('수입투입계수.csv')

df_Lf.to_csv('생산유발계수.csv')
df_Lv.to_csv('부가가치유발계수.csv')
df_Li.to_csv('수입유발계수.csv')

### 최종수요 항목별 유발효과

##### 생산유발효과

In [230]:
Yd = Dt[0:3,5:8]  # 국산최종수요...소비, 투자, 수출
Yi = It[0:3,5:8]  # 수입최종수요...소비, 투자, 수출
print('국산최종수요 : \n', Yd)
print('수입최종수요 : \n', Yi)

국산최종수요 :
 [[1 2 2]
 [26 13 70]
 [104 46 15]]
수입최종수요 :
 [[2 1 0]
 [6 6 3]
 [2 1 0]]

In [231]:
Lfyd = (Lf@Yd).astype(float).reshape([3,3])   # 데이터타입을 float으로 지정하고 3x3행렬로 지정
Lvyd = (Lv@Yd).astype(float).reshape([3,3])   # 데이터타입을 float으로 지정하고 3x3행렬로 지정
Liyd = (Li@Yd).astype(float).reshape([3,3]) + Yi.astype(float).reshape([3,3]) # 데이터타입을 float으로 지정하고 3x3행렬로 지정

print('최종수요항목별 생산유발계수 : \n', Lfyd)
print('최종수요항목별 부가가치유발계수 : \n', Lvyd)
print('최종수요항목별 수입유발계수 : \n', Liyd)

최종수요항목별 생산유발계수 :
 [[  4.04994023   3.58259176   6.36746801]
 [ 63.08665161  30.88993669 109.0234117 ]
 [142.80270952  63.81139594  37.38589454]]
최종수요항목별 부가가치유발계수 :
 [[ 1.44640723  1.27949706  2.27409572]
 [20.82170275 10.19520078 35.98309647]
 [83.69175189 37.39766237 21.91058574]]
최종수요항목별 수입유발계수 :
 [[ 6.22045424  3.10563599  4.67390977]
 [22.39731704 13.89263736 22.7100456 ]
 [ 6.42236685  3.12936645  2.4482667 ]]

In [232]:
##### 최종수요항목별 유발계수 검증...최종수요항목별 생산유발계수=산출액, 최종수요항목별 부가가치유발계수=부가가치, 최종수요항목별 수입유발계수=수입 이 성립하여야 함

In [233]:
Lfyd_sm = Lfyd.sum(axis=1).astype(float).reshape([3,1])
Lvyd_sm = Lvyd.sum(axis=1).astype(float).reshape([3,1])
Liyd_sm = Liyd.sum(axis=1).astype(float).reshape([3,1])

print('최종수요항목별 생산유발계수의 열합 : \n', Lfyd_sm)
print('최종수요항목별 부가가치유발의 열합 : \n', Lvyd_sm)
print('최종수요항목별 수입유발계의 열합 : \n', Liyd_sm)

최종수요항목별 생산유발계수의 열합 :
 [[ 14.]
 [203.]
 [244.]]
최종수요항목별 부가가치유발의 열합 :
 [[  5.]
 [ 67.]
 [143.]]
최종수요항목별 수입유발계의 열합 :
 [[14.]
 [59.]
 [12.]]

###### 최종수요항목별 생산, 부가가치 및 수입유발계수

In [234]:
Yd_rw_sm =Yd.sum(axis=0)  #국산최종수요항목별(소비, 투자, 수출) 행합
Yi_rw_sm =Yi.sum(axis=0)  #수입최종수요항목별(소비, 투자, 수출) 행합

Lfyd_rw_sm = Lfyd.sum(axis=0) # 최종수요항목별(소비, 투자, 수출) 생산유발계수 행합
Lvyd_rw_sm = Lvyd.sum(axis=0) # 최종수요항목별(소비, 투자, 수출) 부가가치유발계수 행합
Liyd_rw_sm = Liyd.sum(axis=0) # 최종수요항목별(소비, 투자, 수출) 수입유발계수 행합

print('최종수요항목별 행합 : \n', Yd_rw_sm)
print('최종수요항목별 생산유발계수 행합 : \n', Lfyd_rw_sm)
print('최종수요항목별 부가가치유발계수 행합 : \n', Lvyd_rw_sm)
print('최종수요항목별 수입유발계수 행합: \n', Liyd_rw_sm)

최종수요항목별 행합 :
 [131 61 87]
최종수요항목별 생산유발계수 행합 :
 [209.93930137  98.28392438 152.77677425]
최종수요항목별 부가가치유발계수 행합 :
 [105.95986187  48.87236021  60.16777793]
최종수요항목별 수입유발계수 행합:
 [35.04013813 20.12763979 29.83222207]

##### 최종수요항목별(소비, 투자, 수출) 유발계수

In [235]:
Lfyd_coef =(Lfyd_rw_sm/Yd_rw_sm).astype(float).reshape([1,3]) #최종수요항목별(소비, 투자, 수출) 생산유발계수
Lvyd_coef =(Lvyd_rw_sm/Yd_rw_sm).astype(float).reshape([1,3]) #최종수요항목별(소비, 투자, 수출) 생산유발계수
Liyd_coef =(Liyd_rw_sm/(Yd_rw_sm+Yi_rw_sm)).astype(float).reshape([1,3]) #최종수요항목별(소비, 투자, 수출) 생산유발계수

print('최종수요항목별(소비, 투자, 수출) 생산유발계수 행합 : \n', Lfyd_coef)
print('최종수요항목별(소비, 투자, 수출) 부가가치유발계수 행합 : \n', Lvyd_coef)
print('최종수요항목별(소비, 투자, 수출) 수입유발계수 행합: \n', Liyd_coef)

최종수요항목별(소비, 투자, 수출) 생산유발계수 행합 :
 [[1.60259009 1.61121188 1.75605488]]
최종수요항목별(소비, 투자, 수출) 부가가치유발계수 행합 :
 [[0.80885391 0.80118623 0.69158365]]
최종수요항목별(소비, 투자, 수출) 수입유발계수 행합:
 [[0.24851162 0.29170492 0.33146913]]

###### 영향력계수(후방연쇄효과) 및 감응도계수(전방연쇄효과)

In [236]:
Lf_rw_sm = Lf.sum(axis=0)  # 생산유발계수 행합
Lf_cl_sm = Lf.sum(axis=1)  # 생산유발계수 행합

Lf_bwd = (Lf.sum(axis=0)/Lf_rw_sm.mean()).astype(float).reshape([1,3])  #영향력 계수
Lf_fwd = (Lf.sum(axis=1)/Lf_cl_sm.mean()).astype(float).reshape([1,3])  #감응도 계수

print('품목별 영향력계수 : \n', Lf_bwd)
print('품목별 감음도계수: \n', Lf_fwd)

품목별 영향력계수 :
 [[1.02909928 1.05841261 0.9124881 ]]
품목별 감음도계수:
 [[0.68580007 1.29405432 1.02014561]]

In [237]:
# pandas로 변환기

df_Lfyd =pd.DataFrame(Lfyd.round(1),columns = ['농산품', '공산품', '서비스'], index=['소비', '투자', '수출'])  #pandas로 내보내기
df_Lvyd =pd.DataFrame(Lvyd.round(1),columns = ['농산품', '공산품', '서비스'], index=['소비', '투자', '수출'])  
df_Liyd =pd.DataFrame(Liyd.round(1),columns = ['농산품', '공산품', '서비스'], index=['소비', '투자', '수출'])  

df_Lfyd_coef = pd.DataFrame(Lfyd_coef.round(3),columns = ['농산품', '공산품', '서비스'], index=['항목별 생산유발계수'])
df_Lvyd_coef = pd.DataFrame(Lvyd_coef.round(3),columns = ['농산품', '공산품', '서비스'], index=['항목별 부가가치유발계수'])
df_Liyd_coef = pd.DataFrame(Liyd_coef.round(3),columns = ['농산품', '공산품', '서비스'], index=['항목별 수입유발계수'])

df_Lf_bwd = pd.DataFrame(Lf_bwd.round(3), columns = ['농산품', '공산품', '서비스'], index=['영향력계수'])
df_Lf_fwd = pd.DataFrame(Lf_fwd.round(3), columns = ['농산품', '공산품', '서비스'], index=['영향력계수'])

print(df_Lfyd)
print(df_Lvyd)
print(df_Liyd)

print(df_Lfyd_coef)
print(df_Lvyd_coef)
print(df_Liyd_coef)

print(df_Lf_bwd)
print(df_Lf_fwd)

      농산품   공산품    서비스
소비    4.0   3.6    6.4
투자   63.1  30.9  109.0
수출  142.8  63.8   37.4
     농산품   공산품   서비스
소비   1.4   1.3   2.3
투자  20.8  10.2  36.0
수출  83.7  37.4  21.9
     농산품   공산품   서비스
소비   6.2   3.1   4.7
투자  22.4  13.9  22.7
수출   6.4   3.1   2.4
              농산품    공산품    서비스
항목별 생산유발계수  1.603  1.611  1.756
                농산품    공산품    서비스
항목별 부가가치유발계수  0.809  0.801  0.692
              농산품    공산품    서비스
항목별 수입유발계수  0.249  0.292  0.331
         농산품    공산품    서비스
영향력계수  1.029  1.058  0.912
         농산품    공산품   서비스
영향력계수  0.686  1.294  1.02

In [238]:
# csv 파일로 내보내기
df_Lfyd.to_csv('최종수요항목별 생산유발액.csv')
df_Lvyd.to_csv('최종수요항목별 부가가치유발액.csv')
df_Liyd.to_csv('최종수요항목별 수입유발액.csv')

df_Lfyd_coef.to_csv('최종수요항목별 생산유발계수.csv')
df_Lvyd_coef.to_csv('최종수요항목별 부가가치유발계수.csv')
df_Liyd_coef.to_csv('최종수요항목별 수입유발계수.csv')

df_Lf_bwd.to_csv('영향력계수.csv')
df_Lf_bwd.to_csv('감응도계수.csv')

In [239]:
#pandas로 내보내기

# df_Lfyd = pd.DataFrame(Lfyd.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  
# df_Lvyd = pd.DataFrame(Lvyd.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])  
# df_Liyd = pd.DataFrame(Liyd.round(3),columns = ['농산품', '공산품', '서비스'], index=['농산품', '공산품', '서비스'])

In [240]:
# # csv 파일로 내보내기

# df_Lfyd.to_csv('최종수요항목별_생산유발.csv')
# df_Lvyd.to_csv('최종수요항목별_부가가치유발.csv')
# df_Liyd.to_csv('최종수요항목별_수입유발.csv')

### 물가파급효과 분석


##### - 투입계수의 전치행렬을 이용하여 생산유발계수(Lf)을 이용하여 각종 물가파급효과 분석 가능

In [241]:
At_trans = At.T  # 총투입계수의 전치행렬
Ad_trans = Ad.T  # 국산투입계수의 전치행렬
Ai_trans = Ai.T  # 국산투입계수의 전치행렬

print('총투입계수의 전치행렬 : \n', At_trans)
print('국산투입계수의 전치행렬: \n', Ad_trans)
print('수입투입계수의 전치행렬: \n', Ai_trans)

Lf_trans = np.linalg.inv(np.identity(3)-Ad_trans)  # (I-Ad_trans)의 역행렬 
print('국산투입계수 전치행렬의 역행렬: \n', Lf_trans)

총투입계수의 전치행렬 :
 [[0.14285714 0.35714286 0.14285714]
 [0.06896552 0.46305419 0.13793103]
 [0.01639344 0.15983607 0.23770492]]
국산투입계수의 전치행렬:
 [[0.07142857 0.28571429 0.07142857]
 [0.03448276 0.30049261 0.12807882]
 [0.00409836 0.11885246 0.21311475]]
수입투입계수의 전치행렬:
 [[0.07142857 0.07142857 0.07142857]
 [0.03448276 0.16256158 0.00985222]
 [0.01229508 0.04098361 0.02459016]]
국산투입계수 전치행렬의 역행렬:
 [[1.09543838 0.47753427 0.17716386]
 [0.05661073 1.49491595 0.2484615 ]
 [0.01425599 0.22828175 1.3092841 ]]

#### 임금인상의 물가파급효과

In [242]:
delta_all_w = np.array([10,10,10]).reshape([3,1]) # 모든 상품의 임금이 10% 상승
delta_all_Pw = (Lf_trans@Va_m)@delta_all_w

delta_par_w = np.array([0,10,0]).reshape([3,1]) # 공산품의 임금이 10% 상승
delta_par_Pw = (Lf_trans@Va_m)@delta_par_w

print('모든 상품의 임금이 10% 상승시 물가파급효과: \n', delta_all_Pw)
print('공산품의 임금이 10% 상승시 물가파급효과: \n', delta_par_Pw)

모든 상품의 임금이 10% 상승시 물가파급효과:
 [[6.52667464]
 [6.5922876 ]
 [8.47761987]]
공산품의 임금이 10% 상승시 물가파급효과:
 [[1.57609835]
 [4.93395906]
 [0.75344225]]

#### 공산품 등 내생부분(중간투입품) 가격변동의 물가파급효과

In [243]:
#### 중간투입되는 공산품의 물가변동의 파급효과 분석

Ad_exd_row = np.delete(Ad_trans,1,0).reshape([2,3])  # 공산품(sectors2) 행 삭제
Ad_exd_manu = np.delete(Ad_exd_row,1,1).reshape([2,2])  # 공산품(sectors2) 열 삭제,,최종적으로 2x2 행렬
print('물가변동이 발생한 부문을 제가한 국산투입계수 : \n', Ad_exd_manu)

A_Pr_sec2 = np.concatenate((Ad_trans[0,1].reshape([1,1]),Ad_trans[2,1].reshape([1,1])),axis=0).reshape([2,1])  # 물가가 변동하는 부문의 국산 투입계수(a21, a23)
print('물가변동이 발생한 부문의 국산투입계수 : \n', A_Pr_sec2)

#공산품 물가 10% 상승시 파급효과

delta_manu_Pw = Ad_exd_manu@A_Pr_sec2*10
print('공산품 10% 상승시 다른 부문의 물가변동 : \n', delta_manu_Pw)

물가변동이 발생한 부문을 제가한 국산투입계수 :
 [[0.07142857 0.07142857]
 [0.00409836 0.21311475]]
물가변동이 발생한 부문의 국산투입계수 :
 [[0.28571429]
 [0.11885246]]
공산품 10% 상승시 다른 부문의 물가변동 :
 [[0.28897625]
 [0.26500173]]

#### 수입산품 가격변동의 물가파급효과

In [244]:
Imp_Pw = np.array([10,0,0]).reshape([3,1]) # 수입농산물 10% 상승
delta_imp_Pw =  ((Lf_trans @Ai_trans)@Imp_Pw).reshape([3,1])

print('수입통산품 가격 10% 상승시 다른 부문의 물가변동 : \n', delta_imp_Pw)

수입통산품 가격 10% 상승시 다른 부문의 물가변동 :
 [[0.96890542]
 [0.58647304]
 [0.24987825]]

In [245]:
#pandas로 내보

df_delta_all_Pw = pd.DataFrame(delta_all_Pw.round(3),columns = ['물가상승률'], index=['농산품', '공산품', '서비스'])  # 모든 부문의 임금 10% 상승
df_delta_par_Pw = pd.DataFrame(delta_par_Pw.round(3),columns = ['물가상승률'], index=['농산품', '공산품', '서비스'])  # 공산품 부문의 임금 10% 상승
df_delta_manu_Pw = pd.DataFrame(delta_manu_Pw.round(3),columns = ['물가상승률'], index=['농산품', '서비스'])        # 공산품 물가 10% 상승
df_delta_imp_Pw = pd.DataFrame(delta_imp_Pw.round(3),columns = ['물가상승률'], index=['농산품', '공산품', '서비스'])   # 수입 농산품 물가 10% 상승

In [246]:
df_delta_all_Pw.to_csv('모든 부문 임금 10% 상승.csv')
df_delta_par_Pw.to_csv('공산품 부문 임금 10% 상승.csv')
df_delta_manu_Pw.to_csv('공산품 물가 10% 상승.csv')
df_delta_imp_Pw.to_csv('수입 농산품 물가 10% 상승.csv')

### 서비스 부문의 내생화

In [247]:
# 생산유발액

Ad_ser_etr = Ad[0:2,0:2] # 서비스가 제거된 농산품과 공산품만 포함된 국산투입계수
Lf_Ad_ser_etr = np.linalg.inv(np.identity(2)-Ad_ser_etr) # 역행렬(생산유발계수)
print('농산품과 공산품으로 구성된 생산유발계수: \n', Lf_Ad_ser_etr)

Ad_ser =Ad[0:2,2].reshape([2,1])
print('서비스의 국산투입계수(농산품과 공산품만 포함): \n', Ad_ser)

Mtp_ser = Lf_Ad_ser_etr@Ad_ser # 서비스 외생화의 효과를 계산하기 위한 멀티플라이어
print('외생화 부문의 효과를 계산하기 위한 멀티플라이어: \n', Mtp_ser)

Amt_etr = Mtp_ser*244 # 서비스 총산출(총투자) 3,432,811의 각 산업 생산유발액
print('유발액: \n', Amt_etr)

농산품과 공산품으로 구성된 생산유발계수:
 [[1.09350935 0.05390539]
 [0.44664466 1.45159516]]
서비스의 국산투입계수(농산품과 공산품만 포함):
 [[0.00409836]
 [0.11885246]]
외생화 부문의 효과를 계산하기 위한 멀티플라이어:
 [[0.01088838]
 [0.17435617]]
유발액:
 [[ 2.65676568]
 [42.54290429]]

In [248]:
# 수입유발액
Ai_ser_etr = Ai[0:2,0:2] # 서비스가 제거된 농산품과 공산품만 포함된 수입투입계수
Ai_ser_dr = Ai[:,2].sum().reshape([1,1])

Mtp_imp_indr = Ai_ser_etr@Mtp_ser  # 간접효과 멀티플라이어
print('간접효과 멀티플라이어: \n', Mtp_imp_indr)

Amt_imp_indr = Mtp_imp_indr*244 # 간접효과
Amt_imp_dr = Ai_ser_dr*244      # 직접효과
Amt_imp_tot = Amt_imp_indr.sum() + Amt_imp_dr  

print('간접효과 : \n', Amt_imp_indr)
print('직접효과 : \n', Amt_imp_dr)
print('총효과 : \n', Amt_imp_tot)

간접효과 멀티플라이어:
 [[0.00679002]
 [0.02912135]]
간접효과 :
 [[1.65676568]
 [7.10561056]]
직접효과 :
 [[19.]]
총효과 :
 [[27.76237624]]

In [249]:
# 부가가치유발액
Av_ser_etr = Va_m[0:2,0:2] # 서비스가 제거된 농산품과 공산품만 포함된 부가가치율
Av_ser_dr = Va_m[2,2].reshape([1,1])  # 서비스의 부가가치율

Mtp_var_indr = Av_ser_etr@Mtp_ser  # 간접효과 멀티플라이어
print('간접효과 멀티플라이어: \n', Mtp_var_indr)

Amt_var_indr = Mtp_var_indr*244  # 간접효과
Amt_var_dr= Av_ser_dr*244       # 직접효과
Amt_var_tot = Amt_var_indr.sum() + Amt_var_dr

print('간접효과 : \n', Amt_var_indr)
print('직접효과 : \n', Amt_var_dr)
print('총효과 : \n', Amt_var_tot)

간접효과 멀티플라이어:
 [[0.00388871]
 [0.05754612]]
간접효과 :
 [[ 0.94884488]
 [14.04125413]]
직접효과 :
 [[143.]]
총효과 :
 [[157.99009901]]

### 산출 변동요인분해

In [312]:
# 2015년 거래표 다운로드

url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EC%B4%9D%EA%B1%B0%EB%9E%98%ED%91%9C_2015_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Tot_cst_15 = pd.read_csv(url_total)

url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EC%88%98%EC%9E%85%EA%B1%B0%EB%9E%98%ED%91%9C_2015_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Imp_cst_15 = pd.read_csv(url_imp)

url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EA%B5%AD%EC%82%B0%EA%B1%B0%EB%9E%98%ED%91%9C_2015_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Dom_cst_15 = pd.read_csv(url_dom)

In [313]:
# 2010년 거래표 다운로드

url_total = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EC%B4%9D%EA%B1%B0%EB%9E%98%ED%91%9C_2010_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Tot_cst_10 = pd.read_csv(url_total)

url_imp = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EC%88%98%EC%9E%85%EA%B1%B0%EB%9E%98%ED%91%9C_2010_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Imp_cst_10 = pd.read_csv(url_imp)

url_dom = "https://raw.githubusercontent.com/Tom-Jung/legendary-funicular/main/%EA%B5%AD%EC%82%B0%EA%B1%B0%EB%9E%98%ED%91%9C_2010_%EB%B6%88%EB%B3%80.csv"  # 불변 2015년 총거래표
Dom_cst_10 = pd.read_csv(url_dom)

In [314]:
Tot_cst_10

,code,name,A,B,C01,C02,C03,C04,C05,C06,...,9121,9122,9131,9132,9140,9190,9290,9310,9329,9390
0,code,name,농림수산품,광산품,음식료품,섬유 및 가죽제품,"목재 및 종이, 인쇄",석탄 및 석유제품,화학제품,비금속광물제품,...,민간고정\n자본형성,정부고정\n자본형성,재고증감,귀중품\n순취득,수출,최종수요계,총수요계,총산출,수입계,총공급계
1,A,농림수산품,"4,544,170","3,784","32,725,653","700,461","1,020,190","1,269","1,096,739","3,216",...,"508,027","22,891","2,114,993",0,"829,846","19,485,410","68,903,743",59105417,9798326,68903743
2,B,광산품,957,0,"17,678","5,043","41,764","48,476,793","2,833,079","2,591,961",...,0,0,"95,087",0,"141,873","252,092","94,624,899",3804951,90819948,94624899
3,C01,음식료품,"9,706,871","3,379","15,453,761","706,857","69,338","9,933","992,240","21,645",...,0,0,"3,915,376",0,"6,409,262","69,830,971","127,143,752",106663710,20480042,127143752
4,C02,섬유 및 가죽제품,"524,956","4,681","173,393","21,063,924","398,573","27,134","1,343,399","120,029",...,"147,863","5,122","3,580,968",0,"21,859,383","55,495,210","90,871,163",72748225,18122938,90871163
5,C03,"목재 및 종이, 인쇄","691,769","10,841","2,003,826","839,853","13,027,047","75,445","1,428,720","514,336",...,0,0,"-380,463",0,"3,367,618","3,831,656","47,518,926",40939615,6579311,47518926
6,C04,석탄 및 석유제품,"1,373,308","163,739","406,932","380,496","390,159","2,898,104","18,963,457","1,692,348",...,0,0,"2,113,600",0,"28,827,390","45,503,229","113,232,308",88115626,25116682,113232308
7,C05,화학제품,"4,436,247","122,834","2,966,991","6,825,397","2,880,753","1,243,749","70,566,122","2,266,429",...,0,0,"1,885,814",0,"60,184,815","70,702,985","258,768,141",206672593,52095548,258768141
8,C06,비금속광물제품,"27,555",539,"487,171","13,975","71,141","18,007","684,466","5,326,330",...,0,0,"523,723",0,"1,848,108","2,601,443","41,542,316",35071630,6470686,41542316
9,C07,1차 금속제품,"73,278","7,967","5,021","45,095","92,227","83,750","2,098,373","632,952",...,"-1,793,577","-379,727","2,842,122","142,466","32,430,557","32,950,234","155,627,172",115463375,40163797,155627172
10,C08,금속가공제품,"45,516","56,295","1,058,574","526,910","176,906","543,011","1,654,051","580,472",...,"3,030,134","1,797,493","1,382,763",0,"8,921,684","16,319,967","89,142,916",81461345,7681571,89142916
11,C09,"컴퓨터, 전자 및 광학기기","60,900",813,"31,288","21,327","42,636","91,130","324,179","85,415",...,"15,290,602","3,128,448","3,350,532",0,"107,151,152","146,023,430","255,447,308",194305919,61141389,255447308
12,C10,전기장비,"133,395","19,724","25,283","62,306","62,514","66,163","251,925","187,021",...,"9,475,491","171,006","1,955,024",0,"22,737,682","38,119,981","103,110,054",88245483,14864571,103110054
13,C11,기계 및 장비,"260,939","56,661","307,613","380,650","203,367","527,083","2,604,176","481,443",...,"49,052,876","398,705","942,699",0,"38,531,517","90,381,037","154,142,346",116925401,37216945,154142346
14,C12,운송장비,"329,409","104,181","47,259","42,973","66,394","39,798","169,364","230,980",...,"26,897,447","4,187,216","510,349",0,"118,316,301","173,995,610","239,510,356",216735244,22775112,239510356
15,C13,기타 제조업 제품,"7,811",457,"43,979","798,593","19,784","3,098","40,523","6,531",...,"1,513,642","298,316","586,971","711,347","2,238,005","10,807,950","21,947,593",17604071,4343522,21947593
16,C14,제조임가공 및 산업용 장비 수리,"92,842","51,187","1,783,241","8,108,178","987,844","41,530","2,701,717","628,184",...,"61,994","1,709","-2,647",0,"3,517,174","3,621,432","55,159,046",46081155,9077891,55159046
17,D,"전력, 가스 및 증기","398,233","95,926","589,013","1,290,600","1,099,667","875,679","3,676,584","1,051,476",...,0,0,0,0,"113,167","23,217,297","98,477,100",98296907,180193,98477100
18,E,"수도, 폐기물처리 및 재활용서비스","124,865","4,239","394,644","136,625","680,042","41,770","1,557,263","448,220",...,0,0,0,0,"46,489","4,846,949","20,561,632",20531323,30309,20561632
19,F,건설,"143,153","10,822","61,996","40,180","31,386","29,692","190,043","52,526",...,"148,263,819","56,316,316","1,117,535",0,"412,252","206,109,922","217,695,819",217667854,27965,217695819
20,G,도소매 및 상품중개서비스,"2,004,516","54,882","7,927,788","4,737,938","1,942,257","937,471","8,564,813","1,584,759",...,"11,226,115","1,450,075","2,057,739","75,305","12,190,043","89,339,563","189,444,063",186781679,2662384,189444063
21,H,운송서비스,"960,693","485,690","3,313,247","1,836,728","1,512,030","1,197,487","5,593,214","3,017,425",...,"302,604","46,021","123,410","1,181","34,662,997","61,841,179","145,917,106",129332332,16584774,145917106
22,I,음식점 및 숙박서비스,"296,567","42,864","219,462","383,221","305,686","100,969","903,371","222,302",...,0,0,0,0,"7,438,768","77,479,694","117,849,948",107393295,10456653,117849948
23,J,정보통신 및 방송 서비스,"126,823","8,299","169,339","163,987","163,686","200,884","389,834","141,131",...,"22,324,532","271,065","101,845",0,"2,692,082","53,519,295","115,473,613",109572309,5901304,115473613
24,K,금융 및 보험 서비스,"1,004,092","154,451","890,939","850,391","598,872","236,745","1,766,790","553,728",...,0,0,0,0,"2,715,872","55,190,214","133,380,016",130349001,3031015,133380016
25,L,부동산서비스,"45,649","9,722","314,063","620,305","186,641","74,094","398,164","82,110",...,"19,531,319","17,661",0,0,"643,305","123,211,803","161,907,057",159681180,2225877,161907057
26,M,"전문, 과학 및 기술 서비스","327,639","78,283","3,324,778","3,026,441","1,140,034","940,694","8,416,845","1,245,678",...,"37,864,994","8,584,750",0,0,"8,345,772","56,930,914","159,758,850",147270940,12487910,159758850
27,N,사업지원서비스,"91,133","67,674","219,024","363,128","234,109","182,046","726,593","142,147",...,0,0,0,0,"6,723,905","12,514,681","66,963,908",56165684,10798224,66963908
28,O,"공공행정, 국방 및 사회보장","79,674",290,"7,908","5,861","5,713",254,"10,537","3,022",...,0,0,0,0,"25,210","99,757,560","101,055,428",100424833,630595,101055428
29,P,교육서비스,"4,629",410,"18,631","17,930","18,297","44,563","65,783","12,323",...,0,0,0,0,"488,404","108,975,756","110,843,599",106773785,4069814,110843599
30,Q,보건 및 사회복지 서비스,"70,701","3,365","38,804","26,571","16,183","2,664","58,205","16,592",...,0,0,0,0,"79,854","88,824,655","91,759,172",91534755,224417,91759172
31,R,"예술, 스포츠 및 여가 관련 서비스","33,365","6,054","62,401","116,494","62,834","19,167","217,196","38,202",...,"677,877",0,0,"12,560","1,654,190","32,683,251","42,941,901",40202642,2739259,42941901
32,S,기타 서비스,"69,108","7,416","74,586","71,448","48,977","47,813","166,944","81,686",...,"22,690","9,008",0,0,"313,895","34,792,231","45,295,099",44919040,376059,45295099
33,9590,중간투입계,"28,090,763","1,637,469","75,164,286","54,209,886","27,597,051","59,077,989","140,454,709","24,062,619",...,"344,398,449","76,326,075","28,817,440","942,859","535,858,572","1,909,157,601","3,736,016,350",3236841319,499175031,3736016350
34,9610,피용자보수,"4,108,561","563,886","7,051,554","6,053,004","4,987,504","1,080,811","15,021,432","4,289,963",...,0,0,0,0,0,0,0,0,0,0
35,9621,영업잉여,"19,713,168","1,009,744","3,553,281","4,738,672","4,008,120","6,649,941","26,650,744","3,505,190",...,0,0,0,0,0,0,0,0,0,0
36,9622,고정자본소모,"4,819,534","327,731","3,314,184","1,764,530","1,392,129","2,168,376","12,135,348","2,759,482",...,0,0,0,0,0,0,0,0,0,0
37,9630,생산세(보조금공제),"-316,598","-46,328","9,593,103","1,931,870","820,156","21,582,814","2,362,858","349,768",...,0,0,0,0,0,0,0,0,0,0
38,9690,부가가치계,"2,689,989","312,449","7,987,302","4,050,263","2,134,655","-2,444,305","10,047,502","104,608",...,0,0,0,0,0,0,0,0,0,0
39,9780,조정항,"31,014,654","2,167,482","31,499,424","18,538,339","13,342,564","29,037,637","66,217,884","11,009,011",...,0,0,0,0,0,0,0,0,0,0
40,9790,총투입계,"59,105,417","3,804,951","106,663,710","72,748,225","40,939,615","88,115,626","206,672,593","35,071,630",...,0,0,0,0,0,0,0,0,0,0

In [329]:
S1 = Tot_cst_10.iloc[1:41,2:].to_numpy() # 10년 총거래표 numpy로 숫자만 불러오기
I1 = Imp_cst_10.iloc[1:38,2:].to_numpy() # 10년 수입거래표 numpy로 숫자만 불러오기

S2 = Tot_cst_15.iloc[1:41,2:].to_numpy() # 15년 총거래표 numpy로 숫자만 불러오기
I2 = Imp_cst_15.iloc[1:38,2:].to_numpy() # 15년 수입거래표 numpy로 숫자만 불러오기

In [342]:
S1.ndim

2

In [346]:
S1 = np.concatenate((S1,np.zeros((1,45))), axis=0)
S1

array([['4,544,170', '3,784', '32,725,653', ..., '59105417', '9798326',
        '68903743'],
       ['957', '0', '17,678', ..., '3804951', '90819948', '94624899'],
       ['9,706,871', '3,379', '15,453,761', ..., '106663710', '20480042',
        '127143752'],
       ...,
       ['59,105,417', '3,804,951', '106,663,710', ..., '0', '0', '0'],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0],
       [0.0, 0.0, 0.0, ..., 0.0, 0.0, 0.0]], dtype=object)

In [343]:
kk = np.zeros((1,41))
kk.ndim

2

In [280]:
print(S1)

<bound method DataFrame.to_numpy of     code                 name        Col1       Col2         Col3        Col4  \
0      A                농림수산품   4,544,170      3,784   32,725,653     700,461
1      B                  광산품         957          0       17,678       5,043
2    C01                 음식료품   9,706,871      3,379   15,453,761     706,857
3    C02            섬유 및 가죽제품     524,956      4,681      173,393  21,063,924
4    C03          목재 및 종이, 인쇄     691,769     10,841    2,003,826     839,853
5    C04            석탄 및 석유제품   1,373,308    163,739      406,932     380,496
6    C05                 화학제품   4,436,247    122,834    2,966,991   6,825,397
7    C06              비금속광물제품      27,555        539      487,171      13,975
8    C07              1차 금속제품      73,278      7,967        5,021      45,095
9    C08               금속가공제품      45,516     56,295    1,058,574     526,910
10   C09       컴퓨터, 전자 및 광학기기      60,900        813       31,288      21,327
11   C10                 전기장비     133,395     19,724       25,283      62,306
12   C11              기계 및 장비     260,939     56,661      307,613     380,650
13   C12                 운송장비     329,409    104,181       47,259      42,973
14   C13            기타 제조업 제품       7,811        457       43,979     798,593
15   C14    제조임가공 및 산업용 장비 수리      92,842     51,187    1,783,241   8,108,178
16     D          전력, 가스 및 증기     398,233     95,926      589,013   1,290,600
17     E   수도, 폐기물처리 및 재활용서비스     124,865      4,239      394,644     136,625
18     F                   건설     143,153     10,822       61,996      40,180
19     G        도소매 및 상품중개서비스   2,004,516     54,882    7,927,788   4,737,938
20     H                운송서비스     960,693    485,690    3,313,247   1,836,728
21     I          음식점 및 숙박서비스     296,567     42,864      219,462     383,221
22     J        정보통신 및 방송 서비스     126,823      8,299      169,339     163,987
23     K          금융 및 보험 서비스   1,004,092    154,451      890,939     850,391
24     L               부동산서비스      45,649      9,722      314,063     620,305
25     M      전문, 과학 및 기술 서비스     327,639     78,283    3,324,778   3,026,441
26     N              사업지원서비스      91,133     67,674      219,024     363,128
27     O      공공행정, 국방 및 사회보장      79,674        290        7,908       5,861
28     P                교육서비스       4,629        410       18,631      17,930
29     Q        보건 및 사회복지 서비스      70,701      3,365       38,804      26,571
30     R  예술, 스포츠 및 여가 관련 서비스      33,365      6,054       62,401     116,494
31     S               기타 서비스      69,108      7,416       74,586      71,448
32  9590                중간투입계  28,090,763  1,637,469   75,164,286  54,209,886
33  9610                피용자보수   4,108,561    563,886    7,051,554   6,053,004
34  9621                 영업잉여  19,713,168  1,009,744    3,553,281   4,738,672
35  9622               고정자본소모   4,819,534    327,731    3,314,184   1,764,530
36  9630           생산세(보조금공제)    -316,598    -46,328    9,593,103   1,931,870
37  9680                  조정항   2,689,989    312,449    7,987,302   4,050,263
38  9690                부가가치계  31,014,654  2,167,482   31,499,424  18,538,339
39  9790                 총투입계  59,105,417  3,804,951  106,663,710  72,748,225

          Col5        Col6         Col7        Col8  ...        Col36  \
0    1,020,190       1,269    1,096,739       3,216  ...      508,027
1       41,764  48,476,793    2,833,079   2,591,961  ...            0
2       69,338       9,933      992,240      21,645  ...            0
3      398,573      27,134    1,343,399     120,029  ...      147,863
4   13,027,047      75,445    1,428,720     514,336  ...            0
5      390,159   2,898,104   18,963,457   1,692,348  ...            0
6    2,880,753   1,243,749   70,566,122   2,266,429  ...            0
7       71,141      18,007      684,466   5,326,330  ...            0
8       92,227      83,750    2,098,373     632,952  ...   -1,793,577
9      176,906     543,011    1,654,051     580,472  ...    3,030,134
10      42,636      91,130      324,179      85,415  ...   15,290,602
11      62,514      66,163      251,925     187,021  ...    9,475,491
12     203,367     527,083    2,604,176     481,443  ...   49,052,876
13      66,394      39,798      169,364     230,980  ...   26,897,447
14      19,784       3,098       40,523       6,531  ...    1,513,642
15     987,844      41,530    2,701,717     628,184  ...       61,994
16   1,099,667     875,679    3,676,584   1,051,476  ...            0
17     680,042      41,770    1,557,263     448,220  ...            0
18      31,386      29,692      190,043      52,526  ...  148,263,819
19   1,942,257     937,471    8,564,813   1,584,759  ...   11,226,115
20   1,512,030   1,197,487    5,593,214   3,017,425  ...      302,604
21     305,686     100,969      903,371     222,302  ...            0
22     163,686     200,884      389,834     141,131  ...   22,324,532
23     598,872     236,745    1,766,790     553,728  ...            0
24     186,641      74,094      398,164      82,110  ...   19,531,319
25   1,140,034     940,694    8,416,845   1,245,678  ...   37,864,994
26     234,109     182,046      726,593     142,147  ...            0
27       5,713         254       10,537       3,022  ...            0
28      18,297      44,563       65,783      12,323  ...            0
29      16,183       2,664       58,205      16,592  ...            0
30      62,834      19,167      217,196      38,202  ...      677,877
31      48,977      47,813      166,944      81,686  ...       22,690
32  27,597,051  59,077,989  140,454,709  24,062,619  ...  344,398,449
33   4,987,504   1,080,811   15,021,432   4,289,963  ...            0
34   4,008,120   6,649,941   26,650,744   3,505,190  ...            0
35   1,392,129   2,168,376   12,135,348   2,759,482  ...            0
36     820,156  21,582,814    2,362,858     349,768  ...            0
37   2,134,655  -2,444,305   10,047,502     104,608  ...            0
38  13,342,564  29,037,637   66,217,884  11,009,011  ...            0
39  40,939,615  88,115,626  206,672,593  35,071,630  ...            0

         Col37       Col38    Col39        Col40          Col41  \
0       22,891   2,114,993        0      829,846     19,485,410
1            0      95,087        0      141,873        252,092
2            0   3,915,376        0    6,409,262     69,830,971
3        5,122   3,580,968        0   21,859,383     55,495,210
4            0    -380,463        0    3,367,618      3,831,656
5            0   2,113,600        0   28,827,390     45,503,229
6            0   1,885,814        0   60,184,815     70,702,985
7            0     523,723        0    1,848,108      2,601,443
8     -379,727   2,842,122  142,466   32,430,557     32,950,234
9    1,797,493   1,382,763        0    8,921,684     16,319,967
10   3,128,448   3,350,532        0  107,151,152    146,023,430
11     171,006   1,955,024        0   22,737,682     38,119,981
12     398,705     942,699        0   38,531,517     90,381,037
13   4,187,216     510,349        0  118,316,301    173,995,610
14     298,316     586,971  711,347    2,238,005     10,807,950
15       1,709      -2,647        0    3,517,174      3,621,432
16           0           0        0      113,167     23,217,297
17           0           0        0       46,489      4,846,949
18  56,316,316   1,117,535        0      412,252    206,109,922
19   1,450,075   2,057,739   75,305   12,190,043     89,339,563
20      46,021     123,410    1,181   34,662,997     61,841,179
21           0           0        0    7,438,768     77,479,694
22     271,065     101,845        0    2,692,082     53,519,295
23           0           0        0    2,715,872     55,190,214
24      17,661           0        0      643,305    123,211,803
25   8,584,750           0        0    8,345,772     56,930,914
26           0           0        0    6,723,905     12,514,681
27           0           0        0       25,210     99,757,560
28           0           0        0      488,404    108,975,756
29           0           0        0       79,854     88,824,655
30           0           0   12,560    1,654,190     32,683,251
31       9,008           0        0      313,895     34,792,231
32  76,326,075  28,817,440  942,859  535,858,572  1,909,157,601
33           0           0        0            0              0
34           0           0        0            0              0
35           0           0        0            0              0
36           0           0        0            0              0
37           0           0        0            0              0
38           0           0        0            0              0
39           0           0        0            0              0

            Col42       Col43      Col44       Col45
0      68,903,743    59105417    9798326    68903743
1      94,624,899     3804951   90819948    94624899
2     127,143,752   106663710   20480042   127143752
3      90,871,163    72748225   18122938    90871163
4      47,518,926    40939615    6579311    47518926
5     113,232,308    88115626   25116682   113232308
6     258,768,141   206672593   52095548   258768141
7      41,542,316    35071630    6470686    41542316
8     155,627,172   115463375   40163797   155627172
9      89,142,916    81461345    7681571    89142916
10    255,447,308   194305919   61141389   255447308
11    103,110,054    88245483   14864571   103110054
12    154,142,346   116925401   37216945   154142346
13    239,510,356   216735244   22775112   239510356
14     21,947,593    17604071    4343522    21947593
15     55,159,046    46081155    9077891    55159046
16     98,477,100    98296907     180193    98477100
17     20,561,632    20531323      30309    20561632
18    217,695,819   217667854      27965   217695819
19    189,444,063   186781679    2662384   189444063
20    145,917,106   129332332   16584774   145917106
21    117,849,948   107393295   10456653   117849948
22    115,473,613   109572309    5901304   115473613
23    133,380,016   130349001    3031015   133380016
24    161,907,057   159681180    2225877   161907057
25    159,758,850   147270940   12487910   159758850
26     66,963,908    56165684   10798224    66963908
27    101,055,428   100424833     630595   101055428
28    110,843,599   106773785    4069814   110843599
29     91,759,172    91534755     224417    91759172
30     42,941,901    40202642    2739259    42941901
31     45,295,099    44919040     376059    45295099
32  3,736,016,350  3236841319  499175031  3736016350
33              0           0          0           0
34              0           0          0           0
35              0           0          0           0
36              0           0          0           0
37              0           0          0           0
38              0           0          0           0
39              0           0          0           0

[40 rows x 47 columns]>

In [255]:
SS1 = S1[-3,1:5] # 10년 총거래표 numpy로 숫자만 불러오기
# I1 = Imp_cst_10.iloc[1:34,2:].to_numpy # 10년 수입거래표 numpy로 숫자만 불러오기

# S2 = Tot_cst_15.iloc[1:41,2:].to_numpy # 15년 총거래표 numpy로 숫자만 불러오기
# I2 = Imp_cst_15.iloc[1:34,2:].to_numpy # 15년 수입거래표 numpy로 숫자만 불러오기

TypeError: ignored

In [ ]:
S2 = np.concatenate(S2[:38,],np.zeros((1,45)))

Tt_itr = Tt[-3,1:5] # 총거래표의 각 산업별 및 총산업의 중간투입계

In [ ]:
print(S2[1:40,])

In [277]:
data = [['Choi',22],['Kim',48],['Joo',32]]
df = pd.DataFrame(data, columns=['Name','Age'])
df

   Name  Age
0  Choi   22
1   Kim   48
2   Joo   32

In [278]:
  print(df.to_numpy())

[['Choi' 22]
 ['Kim' 48]
 ['Joo' 32]]